.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:rgba(0, 0, 0, 0.4);
    z-index: 99999;
    height: 100%;
    width: 100%;
    overflow: hidden !important;
}
.status {
    width: 125px;
    height: 125px;
    position: absolute;
    left: 50%;
    top: 50%;
    background-image: url(http://s.akfh-sy.com/inc/loader/Loading.gif);
    background-repeat: no-repeat;
    background-position: center;
    margin: -62px 0 0 -62px;
}

#loadongFrame {
  width: 150px;
  height: 150px;
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: rgba(0, 0, 0, 0.7);
  margin: -100px 0 0 -100px;
  border-radius: 20px;
}
