body,html,div, h1, h2, h3, h4, h5, h6, dl, dt, dd, ul, ol, li, th, td, p, blockquote, pre, form, fieldset, legend, input, button, textarea, hr{
	margin: 0;
	padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    display: block;
    font-family: "微软雅黑" ! important;
    min-width: 1260px;
    background-color: #fff;
}

ul li {
    display: inline;
}

.mainwidth{margin: 0 auto; width: 1260px;}
img{border: 0}




/*header*/
header{
    position: relative;
	width: 100%;
	height:120px;
    background: url(http://s.akfh-sy.com/skins/t1603/images/top_bg.png) repeat-x;
    margin: 0 auto;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 4px 18px 0 rgba(0,0,0,.1);
}

/*tips*/
.tips {font-size: 12px;color:#fff;height: 40px;line-height: 40px;float: left;margin-left: 60px;}
.tips a{color: #FFF;}
.tips .tipsWarp{float: left;font-family: "微软雅黑" ! important;}
.tips .tipsWarp a{margin: 0 5px;}
.tips .tipsWarp a:hover{color: #e6cf09;}
.tips .EasternTime{padding-left: 15px;float: left;position: relative;}


/*login*/
header .loginWarp{float:right;height: 40px;margin-right: 60px;}
header .loginWarp .login{float: right;height: 28px;margin: 6px 0 ;position: relative;}
header .loginWarp .login a{vertical-align: top;}
header .loginWarp input{float:left;width: 164px;height: 28px; color:#000;padding-left: 10px;outline: 0;border: none;border-radius: 5px;margin-right: 5px;}
header .loginWarp .login-input{width: 136px;}
header .loginWarp .login-submit{width: 66px;height: 28px;background: url(http://s.akfh-sy.com/skins/t1603/images/btn_01_n.png) no-repeat;border: none;padding: 0;float: left;margin-left: 5px;}
header .loginWarp .login-submit::after{content:url(http://s.akfh-sy.com/skins/t1603/images/btn_01_h.png);display: none;}
header .loginWarp .login-submit:hover{background: url(http://s.akfh-sy.com/skins/t1603/images/btn_01_h.png) no-repeat;}
header .loginWarp .registerbtn {width: 66px;height: 28px;background: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_n.png) no-repeat;float: left;margin-right: 5px;text-align: center;line-height: 28px;}
header .loginWarp .registerbtn::after{content: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_h.png);display: none;}
header .loginWarp .registerbtn:hover{background: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_h.png) no-repeat;}
header .loginWarp .tryplay {width: 66px;height:28px;background: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_n.png) no-repeat;float: left;margin-right: 5px;text-align: center;line-height: 28px;}
header .loginWarp .tryplay::after{content: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_h.png);display: none;}
header .loginWarp .tryplay:hover{background: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_h.png) no-repeat;}
header .loginWarp .custom{display: block;width: 110px;height: 28px;text-align: center;line-height: 28px;float: left;background: url(http://s.akfh-sy.com/skins/t1603/images/btn_03_n.png) no-repeat;}
header .loginWarp .custom::after{content: url(http://s.akfh-sy.com/skins/t1603/images/btn_03_h.png);display: none;}
header .loginWarp .custom:hover{background: url(http://s.akfh-sy.com/skins/t1603/images/btn_03_h.png) no-repeat;}
header .loginWarp  a{color: #FFF;display: block;float: left;font-size: 13px;}
header .loginWarp .fgpwd{display: block;height: 20px;width: 40px;position: absolute;color: #666;border: 1px solid #aaa;right: 490px;top:3px;text-align: center;}
header .loginWarp .fimg{display: block; width: 80px;height: 22px; z-index: 1;position: absolute;float: left;top: 3px;right: 336px;}

/*登入後樣式*/
#a_logout{
	float: right;
}
.logined{color: #fff; font-size: 14px;line-height: 28px;height: 28px;float: right;}
header .loginWarp .logined a{color: #fff;display: initial;float: initial;}
header .loginWarp .logined a img{vertical-align: top;}
.logined div {display: inline-table; height: 28px;}
.logined span {color: #ebd25e;}
.fw{width: 170px;}
.sw{width: 80px;}
.ssw{width: 80px;}
.sssw{width: 65px;}
.sx{position: relative;top: 4px;}
#logoutbtn{width: 66px;height: 28px;float: right;background: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_n.png) no-repeat;text-align: center;line-height: 28px;}
#logoutbtn::after{content: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_h.png);display: none;}
#logoutbtn:hover{background: url(http://s.akfh-sy.com/skins/t1603/images/btn_02_h.png) no-repeat;}
#logoutbtn p{letter-spacing: 5px;}

/*logo*/
header .logo{width: 165px;height: 54px;float: left;margin-top: 15px; margin-left: 60px;}
header .logo a{
    background:url(http://s.akfh-sy.com/skins/t1603/images/logo.png) no-repeat;
    width: 172px;
    height: 51px;
    position: absolute;
    text-indent: -9999px;
    display: block;
}

@media screen and (max-width: 1400px){
    nav .navul{
        margin-right: 0;
    }
    header .logo{
        margin-left: 0;
    }
    header .loginWarp{
        margin-right: 0;
    }
    .tips{
        margin-left: 0;
    }
}

/*nav*/
nav {width: 100%; height:80px; float: left;}
nav .navul{list-style: none;display: block;float: right;margin-right: 60px;}
nav .navul li{float: left;position: relative;width: 100px;height: 80px;border-left: 1px solid #eaeaea;}
nav .navul li:last-child{border-right: 1px solid #eaeaea;}
nav .navul li a{display: block;width: 100px;height: 80px;float: left;position: relative;text-align: center;line-height: 80px;color:#000;font-size: 16px; }
nav .navul li a:hover{background: url(http://s.akfh-sy.com/skins/t1603/images/nav_h.png) no-repeat top;}
nav .navul li a i{width: 8px;height: 5px;float: right;margin-top: 30px;background: url(http://s.akfh-sy.com/skins/t1603/images/nav_next.png) no-repeat;position: relative; right: 10px;transition: .4s;}
nav .navul li a:hover i{transform: rotate(180deg); -o-transform: rotate(180deg);-ms-transform: rotate(180deg);-moz-transform: rotate(180deg);-webkit-transform: rotate(180deg);}

.rs{width: 100px;
    height: 10px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 0;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/subnav/drop-shadow.png);
    background-repeat: no-repeat;}
.ls{width: 100px;
    height: 10px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/subnav/drop-shadow.png);
    background-position: -300px 0;
    background-repeat: no-repeat;}

.list{
    width: 100%;
    height: 206px;
    position: absolute;
    z-index: 10;
    box-shadow: 0 4px 18px 0 rgba(0,0,0,.1);
    -webkit-box-shadow: 0 4px 18px 0 rgba(0,0,0,.1);
    background: -moz-linear-gradient(90deg,#fff 0%,#fff 74%,#ededed 100%);
    background: -webkit-linear-gradient(90deg,#fff 0%,#fff 74%,#ededed 100%);
    background: -ms-linear-gradient(90deg,#fff 0%,#fff 74%,#ededed 100%);
    background-color: #fff;
    top: 120px;
}


.list .droptop{width: 100%;height: 150px;float: left;position: relative;}
.list .dropfoot{
    width: 100%;
    height: 56px;
    float: left;
    background: -moz-linear-gradient(90deg,#fff 0%,#fff 50%,#ededed 100%);
    background: -webkit-linear-gradient(90deg,#fff 0%,#fff 50%,#ededed 100%);
    background: -ms-linear-gradient(90deg,#fff 0%,#fff 50%,#ededed 100%);
    background-color: #f3f3f3;
    position: relative;
}
.list .droptop ul li{display: block;float: left;width: 160px;height: 150px;border-right: 1px solid #dfdfdf;}
.list .droptop ul li:last-child{border:none;}
.list .droptop ul li .topword,.list .dropfoot ul li .topword{text-align: center;position: relative;top: 100px;}
.list .droptop ul li .topword span,.list .dropfoot ul li .topword span{font-size:12px; }
.list .dropfoot ul li{display: block;float: left;width: 160px;height: 56px;border-right: 1px solid #dfdfdf;position: relative;}
.list .dropfoot ul li:last-child{border:none;}

.list .dropfoot a{display: block;
    width: 100px;
    height: 24px;
    overflow: hidden;
    background-color: #16c38d;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    float: none;
}
.list .dropfoot a span{position: relative;
    z-index: 1;
    font-weight: inherit;
    text-align: center;
    line-height: 24px;
    display: block;
    width: 100%;
    height: 24px;
    font-size: 14px;
    color: #fff;
    transition: all .4s ease;
}
.list .dropfoot a .ic{
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    left: -10px;
    top: -48px;
    border-radius: 60px;
    background-color: #0088fe;
    z-index: 0;
    transform: scale(0,0);
    -moz-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transition: all .4s ease;
}

.list .dropfoot a .sp{width: 14px;
    height: 14px;
    display: block;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/next_icon.png);
    position: absolute;
    top: 4.5px;
    left:55%;
    opacity: 0;
    transition: all .4s ease;
}


.list .dropfoot a:hover .ic {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
.list .dropfoot a:hover .sp {
    -webkit-transform: translate3d(135%, 0, 0);
    -moz-transform: translate3d(135%, 0, 0);
    -ms-transform: translate3d(135%, 0, 0);
    -o-transform: translate3d(135%, 0, 0);
    transform: translate3d(135%, 0, 0);
    opacity:1;
}
.list .dropfoot a:hover span {
    -webkit-transform: translate3d(-10%, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10%, 0, 0);
    -o-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
}

.navgame,.navlive,.navsport,.navlottery{display: none;}

.navgame {
    height: 280px;
}
.navgame .droptop,.navgame .dropfoot, .navgame .droptop ul li,.navgame .dropfoot ul li{height: 140px;}
.navgame .droptop ul,.navgame .dropfoot ul{width: 970px;margin: 0 auto;}
.navgame ul li .topword p {
    height: 42px;
    line-height: 42px;
}
.navgame .droptop ul li a, .navgame .dropfoot ul li a{
    display: block;
    width: 100px;
    height: 24px;
    overflow: hidden;
    background-color: #16c38d;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    float: none;
    margin: 0 auto;
    top: 60px;
}
.navgame .droptop ul li .topword, .navgame .dropfoot ul li .topword{position: relative;top: 60px;}
.navgame .droptop ul li:nth-child(1){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_01.png) no-repeat center 10px;}
.navgame .droptop ul li:nth-child(2){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_01.png) no-repeat center 10px;}
.navgame .droptop ul li:nth-child(3){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_02.png) no-repeat center 20px;}
.navgame .droptop ul li:nth-child(4){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_03.png) no-repeat center 15px;}
.navgame .droptop ul li:nth-child(5){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_04.png) no-repeat center 20px;}
.navgame .droptop ul li:nth-child(6){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_05.png) no-repeat center 30px;}

.navgame .dropfoot ul li:nth-child(1){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_06.png) no-repeat center 28px;}
.navgame .dropfoot ul li:nth-child(2){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_07.png) no-repeat center 30px;}
.navgame .dropfoot ul li:nth-child(3){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_08.png) no-repeat center 15px;}
.navgame .dropfoot ul li:nth-child(4){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_09.png) no-repeat center 10px;}
.navgame .dropfoot ul li:nth-child(5){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_010.png) no-repeat center 6px;}
.navgame .dropfoot ul li:nth-child(6){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_slots_011.png) no-repeat center 15px;}
.navlottery .droptop ul li:nth-child(7) {
    background: url(../images/subnav/subnav_logo/subnav_logo_gc.png) no-repeat center 30px;
}


.dropfoot ul li a{display: block;width: 102px;height: 26px;margin: 15px auto;background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_btn_n.png);text-align: center;color: #fff;line-height: 26px;}
.dropfoot ul li a:hover{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_btn_h.png)}
.dropfoot ul li a img{margin-left: 1px;position: relative;top: 1px;}

.navlive .droptop,.navlive .dropfoot{height: 103px;}
.navlive .droptop ul,.navlive .dropfoot ul{width: 805px;margin:0 auto;}
.navlive .droptop ul li .topword{width: 60px;position: relative;top: 20px;left: 90px;}
.navlive .droptop ul li:nth-child(1) .topword{left: 80px}
.navlive .droptop ul li,.navlive .dropfoot ul li{height: 103px;}
.navlive .droptop ul li a{
    display: block;
    width: 100px;
    height: 24px;
    overflow: hidden;
    background-color: #16c38d;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    float: none;
    margin: 0 auto;
    top: 72px;
}
.navlive .droptop a span, .navgame .droptop a span{
    position: relative;
    z-index: 1;
    font-weight: inherit;
    text-align: center;
    line-height: 24px;
    display: block;
    width: 100%;
    height: 24px;
    font-size: 14px;
    color: #fff;
    transition: all .4s ease;
}
.navlive .droptop a .ic, .navgame .droptop a .ic{
    display: block;
    position: absolute;
    width: 120px;
    height: 120px;
    left: -10px;
    top: -48px;
    border-radius: 60px;
    background-color: #0088fe;
    z-index: 0;
    transform: scale(0,0);
    -moz-transform: scale(0,0);
    -webkit-transform: scale(0,0);
    transition: all .4s ease;
}

.navlive .droptop a .sp, .navgame .droptop a .sp{
    width: 14px;
    height: 14px;
    display: block;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/next_icon.png);
    position: absolute;
    top: 4.5px;
    left:55%;
    opacity: 0;
    transition: all .4s ease;
}


.navlive .droptop a:hover .ic, .navgame .droptop a:hover .ic {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
.navlive .droptop a:hover .sp, .navgame .droptop a:hover .sp {
    -webkit-transform: translate3d(135%, 0, 0);
    -moz-transform: translate3d(135%, 0, 0);
    -ms-transform: translate3d(135%, 0, 0);
    -o-transform: translate3d(135%, 0, 0);
    transform: translate3d(135%, 0, 0);
    opacity:1;
}
.navlive .droptop a:hover span, .navgame .droptop a:hover span {
    -webkit-transform: translate3d(-10%, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10%, 0, 0);
    -o-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
}

#lv_BG{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_01.png) no-repeat 58px 12px;}
#lv_BBIN{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_02.png) no-repeat 47px 26px;}
#lv_AG{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_03.png) no-repeat 53px 25px;}
#lv_OB{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_04.png) no-repeat 45px 10px;}
#lv_LEBO{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_05.png) no-repeat 52px 25px;}
#lv_GC{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_23.png) no-repeat 53px 25px;}
#lv_GD{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_06.png) no-repeat 45px 25px;}
#lv_PT{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_07.png) no-repeat 60px 25px;}
#lv_SB{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_08.png) no-repeat 58px 7px;background-size: 60px;}
#lv_OG{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_09.png) no-repeat 50px 10px;}
#lv_DG{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_010.png) no-repeat 42px 25px;}
#lv_MG{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_24.png) no-repeat 63px 20px;}
#ul_fish1, #ul_fish2{width: 558px;}
#fish1{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_fish_01.png) no-repeat center 40px;}
#fish2{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_fish_02.png) no-repeat center 40px;}
#fish3{background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_fish_03.png) no-repeat center 40px;}

.navlive .dropfoot ul li .topword{width: 60px;position: relative;top: 25px;left: 90px;}
.navlive .dropfoot ul li a{
    display: block;
    width: 100px;
    height: 24px;
    overflow: hidden;
    background-color: #16c38d;
    border-radius: 3px;
    cursor: pointer;
    position: relative;
    float: none;
    margin: 0 auto;
    top: 72px;
}



.navsport .droptop ul,.navsport .dropfoot ul{width: 645px;margin:0 auto;}
.navsport .droptop ul li:nth-child(1){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_sports_01.png) no-repeat center 40px;}
.navsport .droptop ul li:nth-child(2){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_020.png) no-repeat center 40px;}
.navsport .droptop ul li:nth-child(3){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_021.png) no-repeat center 40px;}
.navsport .droptop ul li:nth-child(4){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_022.png) no-repeat center 40px;}

.navlottery .droptop ul,.navlottery .dropfoot ul{width: 1150px;margin: 0 auto;}
.navlottery .droptop ul li:nth-child(1){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_014.png) no-repeat center 30px;}
.navlottery .droptop ul li:nth-child(2){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_015.png) no-repeat center 30px;}
.navlottery .droptop ul li:nth-child(3){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_016.png) no-repeat center 30px;}
.navlottery .droptop ul li:nth-child(4){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_017.png) no-repeat center 30px;}
.navlottery .droptop ul li:nth-child(5){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_018.png) no-repeat center 30px;}
/*.navlottery .droptop ul li:nth-child(6){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/subnav_logo_019.png) no-repeat center 30px;}*/
.navlottery .droptop ul li:nth-child(6){background: url(http://s.akfh-sy.com/skins/t1603/images/subnav/subnav_logo/lotto-vr.png) no-repeat center 30px;background-size: 55px;}

/*index*/
/*banner*/
.banner {clear: both;position: relative;text-align: center;}
.banner .container{overflow: hidden;width: 100%;position: relative;height: 580px;}
#slides{
    position: absolute;
    min-width: 100%;
    max-width: 100%;
    margin: 0 auto;
    /*max-height: 580px;*/
    left: 960px;
    margin-left: -960px;
}
.slidesjs-pagination {
    position: absolute;
    list-style: none;
    z-index: 500;
    top: 560px;
    left: 49%;
}
.slidesjs-pagination li {
    float: left;
    position: relative;
    margin-left: 5px;
}
.slidesjs-pagination li a.active, .slidesjs-pagination li a:hover.active {
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/cutover_h.png);
}
.slidesjs-pagination li a {
    display: block;
    width: 13px;
    height: 0;
    padding-top: 13px;
    background: url(http://s.akfh-sy.com/skins/t1603/images/cutover_n.png) no-repeat;
    overflow: hidden;
}
.slidesjs-container {
    z-index: 0;
}
/*公告*/
.scroll{width: 100%;height: 40px;margin: 0 auto;background: #0088fe;}
.scroll .sWord{width:1000px;height:40px;margin:0 auto;color:#000;line-height:30px;position: relative;}
.scroll .sWord span{display: block;width: 80px;height: 40px;padding-left: 40px;line-height: 40px;float: left;color: #FFF;background: url(http://s.akfh-sy.com/skins/t1603/images/icon_02.png) no-repeat 10px;}
.scroll .sWord .scrollBox{
    width:800px;
    float:left;
    color:#fff;
    position:relative;
    overflow:hidden;
    height:40px;
    line-height: 40px;
}
.scroll .scrollBox ul{
    height:40px;
}
.scroll .scrollBox ul li{
    float:left;
    padding-left:10px;
}
.scroll .scrollBox ul li a{
    color:#fff;
}
.scroll .sWord .scrollBox marquee{
    height: 40px;
}


/*game*/
.Game {
    width: 100%;
    overflow: hidden;
    position: relative;
    background: #fff;
    padding-bottom: 120px;
}
.BoxTit {
    width: 100%;
    height: 48px;
    padding: 50px 0;
    position: relative;
    text-align: center;
    overflow: hidden;
}

.BoxTit em {
    display: block;
    width: 500px;
    height: 49px;
    margin: 0 auto;
    background: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/sports/title_game.png) no-repeat;;
}
.Game .main {
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}

.Game .main .left {
    width: 804px;
    height: 495px;
    float: left;
    overflow: hidden;
}

.Game .main .sport {
    width: 376px;
    height: 495px;
    float: right;
}
.Game .main .left .casino {
    width: 100%;
    height: 230px;
    margin-bottom: 5px;
    padding-bottom: 15px;
    position: relative;
}
.Game .main .left .casino .lab {
    width: 804px;
    height: 100%;
}
.Game .main .lab .labMain {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*cursor: pointer;*/
    position: relative;
}
.Game .main .lab .labMain .liveimg img{
    width: 100%;
    height: 230px;
}
.Game .main .lab .labMain .slotimg img{
    width: 100%;
    height: 230px;
}
.Game .main .lab .labMain .lotteryimg img{
    width: 100%;
    height: 230px;
}
.Game .main .lab .labMain .sportsimg img{
    width: 100%;
    height: 480px;
}

.Game .main .lab .labMain .img {
   transition: all .4s;
}
.Game .main .lab .labMain:hover .img {
    transform: scale(1.2, 1.2);
    -moz-transform: scale(1.2, 1.2);
    -webkit-transform: scale(1.2, 1.2);
}
.Game .main .lab .labMain .nav {
    width: 100%;
    height: 60px;
    position: absolute;
    bottom: 0;
    background-color: rgba(14,88,152,0.5);
}
.Game .main .lab .labMain:hover .nav {
    background-color: rgba(14,88,152,0.8);
}
.Game .main .lab .labMain .nav .bd {
    height: 60px;
    position: absolute;
    right: 100px;
    left: 0;
    top: 0;
    background-color: rgba(0,116,217,0.5);
}
.Game .main .lab .labMain .nav h2 {
    font-size: 18px;
    margin-top: 10px;
    padding-left: 15px;
    color: #fff;
    font-weight: inherit;
}
.Game .main .lab .labMain .nav p {
    font-size: 12px;
    color: #62b6ff;
    padding-left: 15px;
}
.Game .main .lab .labMain .nav h3 {
    color: #fff;
    position: absolute;
    right: 0;
    top: 35px;
    z-index: 1;
    font-weight: inherit;
}
.Game .main .lab .labMain .nav h3 em {
    display: block;
    float: left;
    width: 40px;
    text-align: center;
    font-size: 12px;
}
.Game .main .lab .labMain .nav span {
    width: 50px;
    height: 60px;
    display: block;
    position: absolute;
    right: 50px;
    top: 0;
}
.Game .main .lab .labMain .nav span i {
    width: 0;
    height: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-top: 60px solid rgba(0,116,217,0.5);
    border-right: 50px solid transparent;
}
.Game .main .lab .labMain:hover .nav span i {
    border-top: 60px solid rgba(0,116,217,0.8);
}
.Game .main .lab .labMain .nav span b {
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border-bottom: 60px solid rgba(14,88,152,0.5);
    border-left: 50px solid transparent;
}
.Game .main .lab .labMain:hover .nav span b {
    border-bottom: 60px solid rgba(14,88,152,0.8);
}
.Game .main .lab .labMain .nav span.last {
    right: 0px;
}
.Game .main .lab .labMain .nav span.last i {
    border-top: 60px solid rgba(14,88,152,0.5);
    border-right: 50px solid transparent;
}
.Game .main .lab .labMain:hover .nav span.last i {
    border-top: 60px solid rgba(14,88,152,0.8);
}
.Game .main .lab .labMain .menu {
    width: 100%;
    position: absolute;
    top: 0;
    bottom: 60px;
    background-color: rgba(5,57,102,0.9);
    /* background-color: rgba(0,0,0,0.8); */
    opacity: 0;
    overflow: hidden;
}
.Game .main .lab .labMain:hover .menu {
    opacity: 1;
}
.Game .main .lab .labMain .menu .bd {
    position: relative;
    left: 50%;
    height: 100%;
    float: left;
}
.Game .main .lab .labMain .menu .bd ul {
    position: relative;
    left: -50%;
    height: 100%;
    float: left;
}
.Game .main .lab .labMain .menu .bd ul li {
    width: 100px;
    min-height: 277px;
    overflow: hidden;
    float: left;
    margin: 0 30px 0 30px;
    position: relative;
    transition: all .4s ease ;
    -moz-transition:all .4s ease; /* Firefox 4 */
    -webkit-transition:all .4s ease; /* Safari 和 Chrome */
    -o-transition:all .4s ease; /* Opera */
}
.Game .main .lab .labMain .menu .bd ul li:hover {
    /*-webkit-transform: translate3d(0, -107px, 0);
    -moz-transform: translate3d(0, -107px, 0);
    -ms-transform: translate3d(0, -107px, 0);
    -o-transform: translate3d(0, -107px, 0);
    transform: translate3d(0, -107px, 0);*/
}
.Game .main .lab .labMain .menu .bd ul li:hover .Game-Main dt {
    color: #0c82f0;
}
.Game .main .lab .labMain .menu .bd ul li .round {
    width: 88px;
    height: 88px;
    position: relative;
    display: block;
    margin: 19px auto 0 auto;
}
.Game .main .lab .labMain .menu .bd ul li.BG .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/casino/casino_icon_01.png);
}
.Game .main .lab .labMain .menu .bd ul li.AG .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/casino/casino_icon_02.png);
}
.Game .main .lab .labMain .menu .bd ul li.BBIN .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/casino/casino_icon_03.png);
}
.Game .main .lab .labMain .menu .bd ul li.LEBO .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/casino/casino_icon_04.png);
}
.Game .main .lab .labMain .menu .bd ul li.DG .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/casino/casino_icon_05.png);
}
.Game .main .lab .labMain .menu .bd ul li .Game-Main {
    width: 100%;
    overflow: hidden;
}
.Game .main .lab .labMain .menu .bd ul li .Game-Main dl {
    width: 100%;
    overflow: hidden;
}
.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dt {
    width: 100%;
    height: 24px;
    color: #fff;
    margin: 20px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    overflow: hidden;
}
.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dt h1 {
    font-size: 27px;
    line-height: 24px;
    font-weight: inherit;
    letter-spacing: -1px;
    text-align: left;
    float: left;
}
.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dt h2 {
    font-size: 19px;
    letter-spacing: 1px;
    font-weight: initial;
    text-align: center;
}
.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dt span {
    float: right;
    height: 24px;
    position: relative;
}

.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dt span p {
    font-size: 12px;
    line-height: 12px;
    height: 12px;
}
.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dt span b {
    height: 12px;
    line-height: 12px;
    font-size: 12px;
    font-weight: inherit;
    display: block;
}

.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dd {
    width: 100%;
    height: 40px;
    line-height: 40px;
    position: relative;
    border-bottom: 1px solid rgba(255,255,255,0.2);
    text-align: center;
}.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dd:hover span {
    color: #FFF;
}
.Game .main .lab .labMain .menu .bd ul li .Game-Main dl dd span{
    color: #aaa;
}

.Game .main .left .other {
    width: 804px;
    height: 245px;
    position: relative;
}
.Game .main .lab .shadowleft {
    width: 130px;
    height: 15px;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    background: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/content.png) 0px -136px;
}
.Game .main .lab .shadowright {
    width: 130px;
    height: 15px;
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    background: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/content.png) -132px -136px;
}
/*slots*/
.Game .main .left .other .lab:first-child {
    width: 424px;
    height: 230px;
    float: left;
    position: relative;
    padding-bottom: 15px;
}
.Game .main .lab .labMain .menu .bd ul li.bg .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/slots/slots_icon_01.png);
}
.Game .main .lab .labMain .menu .bd ul li.pt .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/slots/slots_icon_02.png);
}
.Game .main .lab .labMain .menu .bd ul li.mg .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/slots/slots_icon_03.png);
}
.Game .main .slot .labMain .menu .bd ul li {
    margin: 0 15px 0 15px !important;
}
/*lottery*/
.Game .main .left .other .lab:last-child {
    width: 360px;
    height: 230px;
    float: right;
    position: relative;
    padding-bottom: 15px;
}

.Game .main .lab .labMain .menu .bd ul li.custom .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/lottery/lottery_icon_01.png);
}
.Game .main .lab .labMain .menu .bd ul li.official .round i {
    width: 88px;
    height: 88px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/lottery/lottery_icon_02.png);
}



/*sport*/
.Game .main .sport {
    width: 376px;
    height: 480px;
    float: right;
    position: relative;
    padding-bottom: 15px;
}
.Game .main .sport .lab .labMain .nav {
    top: 0;
}

.Game .main .sport .Recommend {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding-top: 80px;
    position: absolute;
    top: 0;
}
.Game .main .sport .labMain .menu {
    top: 60px;
    bottom: 0px;
    z-index: 2;
}
.Game .main .sport .labMain .menu .sport-lab {
    width: 100%;
    height: 100%;
}
.Game .main .sport .labMain .menu .sport-lab ul {
    width: 100%;
    height: 100%;
    padding: 20px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.Game .main .sport .labMain .menu .sport-lab ul li .round {
    width: 81px;
    height: 81px;
    float: left;
}
.Game .main .sport .labMain .menu .sport-lab ul li.therrsing .round i {
    width: 81px;
    height: 81px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/sports/sports_icon_01.png);
}
.Game .main .sport .labMain .menu .sport-lab ul li.ib .round i {
    width: 81px;
    height: 81px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/sports/sports_icon_02.png);
}
.Game .main .sport .labMain .menu .sport-lab ul li.im .round i {
    width: 81px;
    height: 81px;
    display: block;
    position: relative;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/gaming_platform/sports/sports_icon_03.png);
}
.Game .main .sport .labMain .menu .sport-lab ul li {
    display: block;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-bottom: 20px;
    margin: 20px 0;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.Game .main .sport .labMain .menu .sport-lab ul li:last-child {
    border-bottom: none;
}
.Game .main .sport .labMain .menu .sport-lab ul li .tit {
    float: left;
    color: #fff;
    margin: 10px 0 0 20px;
}
.Game .main .sport .labMain .menu .sport-lab ul li .tit h1 {
    font-size: 24px;
    font-weight: inherit;
}
.Game .main .sport .labMain .menu .sport-lab ul li .tit p{
font-size: 14px;
}
.Game .main .sport .labMain .menu .sport-lab ul li .tit p:last-child {
    margin-bottom: 0;
}
.Game .main .sport .labMain .menu .sport-lab ul li .btn {
    float: right;
}
.Game .main .sport .labMain .menu .sport-lab ul li .btn a {
    display: block;
    width: 120px;
    height: 40px;
    background-color: #0088fe;
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    margin-top: 15px;
    overflow: hidden;
    border: 1px solid #065599;
}
.Game .main .sport .labMain .menu .sport-lab ul li .btn a span {
    position: relative;
    z-index: 1;
    font-weight: inherit;
    text-align: center;
    line-height: 40px;
    display: block;
    width: 100%;
    height: 40px;
    font-size: 14px;
    color: #fff;
}
.Game .main .sport .labMain .menu .sport-lab ul li .btn a i {
    display: block;
    position: absolute;
    width: 160px;
    height: 160px;
    left: -10px;
    top: -60px;
    border-radius: 80px;
    background-color: #16c38d;
    z-index: 0;
    transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -webkit-transform: scale(0, 0);
    transition: all .4s ease;
}

.Game .main .sport .labMain .menu .sport-lab ul li .btn a em {
    width:14px;
    height:14px;
    display:block;
    background-image:url(http://s.akfh-sy.com/skins/t1603/images/next_icon.png);
    position:absolute;
    top:13px;
    left:50%;
    opacity:0;
}
.Game .main .sport .labMain .menu .sport-lab ul li .btn a:hover {
    border:1px solid #13b17d;
}
.Game .main .sport .labMain .menu .sport-lab ul li .btn a:hover i {
    transform: scale(1, 1);
    -moz-transform: scale(1, 1);
    -webkit-transform: scale(1, 1);
}
.Game .main .sport .labMain .menu .sport-lab ul li .btn a:hover em {
    -webkit-transform: translate3d(135%, 0, 0);
    -moz-transform: translate3d(135%, 0, 0);
    -ms-transform: translate3d(135%, 0, 0);
    -o-transform: translate3d(135%, 0, 0);
    transform: translate3d(135%, 0, 0);
    opacity:1;
}
.Game .main .sport .labMain .menu .sport-lab ul li .btn a:hover span {
    -webkit-transform: translate3d(-10%, 0, 0);
    -moz-transform: translate3d(-10px, 0, 0);
    -ms-transform: translate3d(-10%, 0, 0);
    -o-transform: translate3d(-10%, 0, 0);
    transform: translate3d(-10%, 0, 0);
}
.Game .main .sport .labMain .menu .sport-lab ul li .code {
    width: 100px;
    height: 100px;
    position: absolute;
    right: 0;
    top: 0;
}



/* index lottery */
.gametab .lotterycontent {
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 120px;
}
.gametab .lotterycontent .gameleft{
    width: 700px;
    float: left;
    height: 345px;
    position: relative;
    margin-left: 10px;
}
.gametab .lotterycontent .gameleft .tab{
    display: block;
    width: 100%;
    height: 63px;
}

.gametab .lotterycontent .gameleft .tab li{
    display: block;
    width: 100px;
    height: 63px;
    float: left;
}
.gametab .lotterycontent .gameleft .tab li:hover{
 background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_game_nav_h.png) no-repeat bottom center;
}
/*.gametab .lotterycontent .gameleft .tab li:nth-child(1){width: 350px;}
.gametab .lotterycontent .gameleft .tab li:nth-child(2){width: 350px;}*/
.gametab .lotterycontent .gameleft .tab li:nth-child(1){width: 100%;}

.gametab .lotterycontent .gameleft .tab li a{
    display: block;
    height: 63px;
    float: left;
    width: 100%;
}
.gametab .lotterycontent .gameleft .tab li:nth-child(1) a{background: url(http://s.akfh-sy.com/skins/t1603/images/lottery/lottery_logo/game_lottery_logo_03.png) no-repeat center;}
.gametab .lotterycontent .gameleft .tab li:nth-child(2) a{background: url(http://s.akfh-sy.com/skins/t1603/images/lottery/lottery_logo/game_lottery_logo_02.png) no-repeat center;}


.gametab .lotterycontent .gameright{
    width: 250px;
    float: left;
    height: 310px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}
.gametab .lotterycontent .gameright h3{
    display: block;
    color: #ffd447;
    text-align: center;
    width: 130px;
    height: 45px;
    line-height: 45px;
    position: relative;
    left: 100px;
}

/*index slots*/

.gametab{
    width: 100%;
    height: 971px;
    position: relative;
    background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_game_bg.jpg) no-repeat center #222;
}
.gametab .gamecontent{
    width: 1000px;
    margin: 0 auto;
    position: relative;
    top: 230px;
}
.gametab .gamecontent .gameleft{
    width: 700px;
    float: left;
    height: 345px;
    position: relative;
    margin-left: 10px;
}
.gametab .gamecontent .gameleft .tab{
    display: block;
    width: 100%;
    height: 63px;
}

.gametab .gamecontent .gameleft .tab li{
    display: block;
    width: 100px;
    height: 63px;
    float: left;
}
.gametab .gamecontent .gameleft .tab li:hover{
 background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_game_nav_h.png) no-repeat bottom center;
}
.gametab .gamecontent .gameleft .tab li{width: 115px;}

.gametab .gamecontent .gameleft .tab li a{
    display: block;
    height: 63px;
    float: left;
    width: 100%;
}
.gametab .gamecontent .gameleft .tab li:nth-child(1) a{background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_logo/game_slots_logo_01.png) no-repeat center;}
.gametab .gamecontent .gameleft .tab li:nth-child(2) a{background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_logo/game_slots_logo_02.png) no-repeat center;}
.gametab .gamecontent .gameleft .tab li:nth-child(3) a{background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_logo/game_slots_logo_03.png) no-repeat center;}
.gametab .gamecontent .gameleft .tab li:nth-child(4) a{background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_logo/game_slots_logo_04.png) no-repeat center;}
.gametab .gamecontent .gameleft .tab li:nth-child(5) a{background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_logo/game_slots_logo_05.png) no-repeat center;}
.gametab .gamecontent .gameleft .tab li:nth-child(6) a{background: url(http://s.akfh-sy.com/skins/t1603/images/slots_game/slots_logo/game_slots_logo_06.png) no-repeat center;}


.gametab .tabcontent, .gametab .lotterttabcontent{width: 700px;margin: 20px 0 0 10px;height: 250px;position: relative;display: none;}
.gametab .tabcontent a, .gametab .lotterttabcontent a{display: block;float: left;width: 156px;height: 115px;margin: 0 15px 15px 0;}
.gametab .tabcontent a img, .gametab .lotterttabcontent a img{display: block;}
.gametab .tabcontent p, .gametab .lotterttabcontent p{display: block;height: 30px;line-height: 30px;text-align: center;font-size: 14px;color: #ccc;background: #3d3b3b;}

#Custom {
	height: 290px;
}

#Custom img {
	height: 100px;
	width: 100%;
}

#Custom a {
	margin: 0 15px 45px 0;
}



.gametab .gamecontent .gameright{width: 250px;
    float: left;
    height: 310px;
    position: relative;
    margin-left: 20px;
    margin-top: 20px;
}
.gametab .gamecontent .gameright h3{
    display: block;
    color: #ffd447;
    text-align: center;
    width: 130px;
    height: 45px;
    line-height: 45px;
    position: relative;
    left: 100px;
}
.gameright .list{width: 230px;height: 150px;background: none;position: relative;margin-left: 10px;top: 10px;padding: 20px 0;}
.gameright .list .gametittle span{color: #ffd447;}
.gameright .list span{display: block;float: left;font-size: 13px;}
.gameright .list .centerlist{width: 100%;height: 154px;}
.gameright .list .centerlist .maquee{width:230px; overflow:hidden;height:154px; overflow:hidden;position: relative;}
.gameright .list .centerlist ul li{display: block; width: 250px;height: 40px;line-height: 35px;}
.lotterycontent .gameright .list .name{width: 88px;}
.gameright .list .name{color: #FFF;width: 95px;}
.gameright .list .num{color: #FFF;width: 70px;}
.gameright .list .type{color: #fff;width: 55px;}
.lotterycontent .gameright .list .type{width: 70px;}


.gameright .list .numfoot{width: 180px;height: 50px;margin: 25px auto 0;color: #e1e691;font-size: 16px;text-align: center;}
.gameright .list .numfoot .numplus {float: none;display:inline-block;font-size: 16px;}


.indexphonebg{width: 100%;height: 570px;
    background-color: #fff;
    background-image: url(http://s.akfh-sy.com/skins/t1603/images/mobile.png),url(http://s.akfh-sy.com/skins/t1603/images/footer_polygon.png);
    background-repeat: no-repeat,no-repeat;
    background-position: center,bottom center;
}

/*main*/
.main {
    width: 100%;
    overflow: hidden;
    background: #f8f8f8;
}
.main .mainWrap{
    width: 1100px;
    margin: 20px auto;
    min-height:600px;
}


/*footer*/
footer {width: 100%;background:#2b2e2e;position: relative;overflow: hidden;}
footer .mian {width: 1200px;padding-top: 60px;margin: 0 auto;overflow: hidden;}
footer .mian .head {width: 100%;padding-bottom: 40px;overflow: hidden;}
footer .mian .head .lab {height: 68px;float: left;padding-right:60px;padding-left: 90px;}
footer .mian .head .lab.help {border-right: 1px solid #393a3a;}
footer .mian .head .lab .hd { height: 30px;}
footer .mian .head .lab .hd h1 {margin-top: 0;float: left;margin-right: 3px;line-height: 30px;font-size: 38px;color: #0088fe;font-weight: inherit;}
footer .mian .head .lab .hd span {display: block;float: left;height: 30px;}
footer .mian .head .lab .hd span p {line-height: 18px;font-size: 16px;color: #fff;margin: 0;display: block;}
footer .mian .head .lab .hd span b {font-size: 12px;line-height: 12px;margin: 0; display: block;color: #5e5e5e;font-weight: inherit;}
footer .mian .head .lab .bd {height: 20px; padding-top: 20px;}
footer .mian .head .lab .bd ul {height: 20px; line-height: 20px; overflow: hidden;}
footer .mian .head .lab .bd ul li {float: left; color: #8b8b8b; font-size: 12px;margin-right: 5px;}
footer .mian .head .lab .bd ul li a {font-size: 14px;color: #8b8b8b;}
footer .mian .head .lab .bd ul li a:hover{color: #0088fe;}
footer .mian .head .lab.contact {border-right: 1px solid #393a3a;padding-left: 60px;}
footer .mian .head .lab.daili {padding-left: 60px;padding-right: 0;}
footer .footimg img { display: block; margin: 20px auto;}
footer .copyright {
    width: 100%;
    height: 50px;
    line-height: 50px;
    color: #8e8e8e;
    border-top: 1px solid #444;
    text-align: center;
    font-size: 14px;
}



/* 左右边浮层 */


.download-area{position:fixed;width:105px;left:0;z-index:9999; height:395px; top:20%;display: none;}
.online-service{position:fixed;width:105px;right:0;z-index:9999; height:378px;top:20%;display: none;}



/* 注册浮层 */
.agreement-floating{position: fixed;z-index: 10100; top: 50%;left: 50%;  background-color: #fff; width:664px; height:330px; margin:-165px 0 0 -332px;-webkit-box-shadow:0 0 15px #5e5e5e;
  -moz-box-shadow:0 0 15px #5e5e5e;
  box-shadow:0 0 15px #5e5e5e;border-top-left-radius: 5px;border-top-right-radius: 5px; border-top-left-radius: 5px;border-top-right-radius: 5px;}
.agreement-floating .layer-title{line-height:50px;color:#fff;background:#329acb;font-size:18px; text-align:left; padding:0 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.agreement-floating .layer-title i{ float:right; line-height:50px; cursor:pointer;}
.agreement-floating .layer-body{ font-size:12px;}
.agreement-floating .layer-body ul{ padding:20px 20px 0; overflow:hidden;}
.agreement-floating .layer-body ul li{ line-height:22px;color: #000;}
.agreement-floating .layer-body ul li.red{ color:#cc0000;}

/* 警告浮层 */
/* 警告浮层 */

.layer-main {
    position: fixed;
    z-index: 10100;
    top: 50%;
    left: 50%;
    background-color: #f6f6f6;
    width: 385px;
    height: 195px;
    margin: -97.5px 0 0 -192.5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.layer-title {
    line-height: 44px;
    color: #fff;
    background: #3399cc;
    font-size: 16px;
    text-align: left;
    padding-left: 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.layer-body {
    color: #403f3f;
    font-size: 14px;
}

.layer-body dl {
    margin: 23px 0 0 82px;
    overflow: hidden;
}

.layer-body dl dt {
    line-height: 28px;
}

.layer-body dl dt,
.layer-body dl dd {
    float: left;
}

.layer-body input.code-input {
    width: 90px;
    padding: 3px 5px;
    border: 1px solid #a5a5a5;
}

.layer-body dl dd img {
    margin-top: -2px;
    margin-left: 10px;
}

.layer-foot {
    margin-top: 20px;
    text-align: center;
}

.layer-foot input[type="button"] {
    border: none;
    font-size: 14px;
    height: 24px;
    color: #460a0a;
    padding: 0 14px;
    margin: 0 5px;
    color: #fff;
    outline: none;
    line-height: normal;
    cursor: pointer;
}

.layer-foot input.queren {
    background: #3399cc;
}

.layer-foot input.quxiao {
    background: #888;
}

.layer-body ul {
    padding: 20px 20px 0;
    overflow: hidden;
    list-style: none;
}

.layer-body ul li{
    display: inline-block;
}

.layer-body ul span {
    display: table-cell;
    height: 50px;
    vertical-align: middle;
    line-height: 18px;
    word-break: break-all;
    width: 350px;
}

.layer-body ul li i.icon-info-sign {
    display: block;
    float: left;
    font-size: 48px;
    color: #004098;
    margin-right: 10px;
}

.layer-body ul li i.icon-remove-sign {
    display: block;
    float: left;
    font-size: 48px;
    color: #d23319;
    margin-right: 10px;
    vertical-align: middle;
}

.layer-body ul.warning-information li i.icon-info-sign {
    color: #ffae2e;
}

/*下排頁面版型*/

.main .bottomWarp {
    width: 1100px;
    overflow: auto;
    margin: 0 auto;
    font-family: "Microsoft JhengHei", 微軟正黑體, arial, helvetica, sans-serif;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
}

.subNav {
    width: 204px;
    margin: 0px 0 0 38px;
    float: left;
    background: #fff;
    border-right: 1px solid #c9c9c9;
    border-left: 1px solid #c9c9c9;
}

.subNav dt {
    margin-top: 36px;
    text-align: center;
}

.subNav dd {
    font: 14px/44px "微软正黑體";
    color: #6d6d6d;
    cursor: pointer;
    text-align: center;
    color: #4b4b4b;
    background-color: #eee;
    border-radius: 20px;
    width: 150px;
    margin: 18px auto;
}

.subNav dd a {
    display: block;
    width: 150px;
}
.subNav dd:hover{
    background-color: #0088fe;
    color: #fff;
}
.subNav dd:hover a{
    background: url(http://s.akfh-sy.com/skins/t1603/images/next.png) no-repeat 80% center;
}

.rightWarp {
    width: 760px;
    padding: 20px;
    overflow: hidden;
    float: right;
    margin: 0px 18px 0 36px;
    background-color: #fff;
}

.rightWarp .rItem {
    color: #000;
}

.rightWarp .rItem h1 {
    text-align: center;
    margin: 20px auto;
    font-size: 24px;
    color: #000;
}

.rightWarp .rItem h3 {
	font-size: 16px;
	margin: 10px 0 10px 0;
	color: #009900;
}

.rightWarp .rItem p {
    margin-bottom: 10px;
    line-height: 22px;
    font-size: 13px;
    color: #6e6e6e;
}

.downlist ul.downlistUL {
    width: 100%;
    height: 40px;
    border-bottom: 2px solid #fff;
    clear: both;
    list-style: none;
}

.downlist ul.downlistUL li {
    height: 100%;
    width: 100px;
    float: left;
    font: 14px/40px "微软正黑體";
    text-align: center;
    cursor: pointer;
}

.itemBox {
    width: 100%;
    overflow: hidden;
}

.itemBox .downlist ul li {
    margin-bottom: 10px;
}

.downlist ul.downlistUL li {
    height: 100%;
    width: 100px;
    float: left;
    font: 14px/40px "微软正黑體";
    text-align: center;
    cursor: pointer;
}

.downlist ul.downlistUL li a {
    color: #c0bfbf;
}

.downlist ul.downlistUL li.on a {
    color: #301F1F;
}

.downlist ul.downlistUL li.on {
    background: #fff;
}


/*表格*/

.BG-template3-formh2 {
    font-size: 16px;
    margin-bottom: 20px;
}

.register-form dl {
    clear: both;
    margin-bottom: 20px;
    overflow: hidden;
}

.register-form dl dt {
    color: #6e6e6e;
    float: left;
    width: 110px;
    text-align: right;
    line-height: 32px;
    font-size: 12px;
}

dl dt span.red-sign {
    color: #c63216;
    margin-right: 5px;
    line-height: 32px;
}

.register-form dl dd {
    float: left;
    margin-left: 10px;
    font-size: 12px;
}

dl dd input.input {
    border: 1px solid #d4d4d4;
    width: 310px;
    padding: 8px 5px;
}

.Validform_checktip {
    margin-left: 8px;
    line-height: 20px;
    height: 20px;
    overflow: hidden;
    color: #999;
    font-size: 12px;
}

.btn-content {
    padding-left: 115px;
}

.btn-content input {
    width: 109px;
    height: 40px;
    margin: 0 5px;
    background: #a40707;
    color: #fff;
    border: none;
}

.agreement-list form h2.BG-template3-formh2 {
    width: 100px;
    color: #0088fe;
    font: bold 14px/14px 微软正黑體;
    margin-bottom: 20px;
}


/*註冊*/

.rItem h4 {
	width: 100%;
	height: 18px;
	font: 18px/18px "微软正黑體";
	color: #8c1aff;
	margin: 20px auto;
}

.register form.register-form {
    margin-bottom: 30px;
    padding: 14px 0;
    border: 1px solid #4f2c04;
    position: relative;
}

.register form h2.BG-template3-formh2 {
    width: 84px;
    position: absolute;
    text-align: center;
    top: -10px;
    left: 20px;
    color: #0088fe;
    font: bold 14px/14px 微软正黑體;
    margin-bottom: 14px;
    background-color: #fff;
}

.main-right dl:last-child {
    margin-bottom: 0;
}

.main-right p.agree a {
    color: #0088fe;
}

.btn-content input[type="reset"] {
    background: #999;
}


/*真人*/
/*真人*/

.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}

.person-items {
    margin-bottom: 20px;
    list-style: none;
}

.person-items li {
    position: relative;
    float: left;
    width: 351px;
    height: 268px;
    margin-right: 17px;
    border: 2px solid #333;
    cursor: pointer;
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s ease-in-out
}

.person-items li:hover {
    border-color: #f3dc89;
}

.person-items li:hover .person-btn {
    background-image: url('http://s.akfh-sy.com/skins/t1603/images/live/play_now_hover.png');
}

.person-items li.last {
    margin-right: 0;
}

.person-block {
    margin-top: 20px;
}

.person-btn {
    display: block;
    position: absolute;
    left: 24px;
    bottom: 25px;
    width: 120px;
    height: 32px;
    background-image: url('http://s.akfh-sy.com/skins/t1603/images/live/play_now.png');
}



/*公告欄*/
.maskOpacity {
    top: 0;
    left: 0;
    z-index: 199999;
    background: #000;
}

.noticeMain-wrap{
    position: fixed;
    left: 50%;
    width: 720px;
    z-index: 200000;
    margin-left: -326px;
}

.noticeHead{
    background: url('http://s.akfh-sy.com/skins/t1603/images/bg_t.jpg') left top no-repeat;
    width: 720px;
    height: 58px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.noticetitle {
    background: url('http://s.akfh-sy.com/skins/t1603/images/title.jpg') left top no-repeat;
    position: relative;
    left: 23px;
    width: 180px;
    height: 58px;
}

.noticetitle strong{
    position: absolute;
    right: 41px;
    top: -4px;
    color: #fff;
    line-height: 58px;
    font-size: 1.6em;
}

.noticeMain{
    background: url('http://s.akfh-sy.com/skins/t1603/images/bg_c.jpg') left top repeat-y;
}

.noticeMain .noticeCwarp{
    margin: 0 auto;
    padding: 0 0 0 20px;
    width: 680px;
    overflow-y: auto;
    overflow-x: hidden;
    height: 500px;
}

.noticeMain .noticeCwarp .noticeContent{
    padding: 0 15px;
    width: 615px;
}

.clear {
    margin: 0;
    padding: 0;
    clear: both;
}

.noticeMain .noticeCwarp .noticeContent div.date {
    float: left;
    width: 145px;
    margin-bottom: 10px;
}

.noticeMain .noticeCwarp .noticeContent div.msg {
    float: left;
    width: 100%;
    line-height: 20px;
}

.line {
    background: url('http://s.akfh-sy.com/skins/t1603/images/line.jpg') left center no-repeat;
    padding: 5px 0;
    width: 645px;
    height: 3px;
}

.noticeBottom {
    background: url('http://s.akfh-sy.com/skins/t1603/images/bg_f.jpg') left top no-repeat;
    padding-top: 20px;
    width: 720px;
    height: 35px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

a.closed {
    display: block;
    text-indent: -9999px;
    width: 14px;
    height: 14px;
    position: absolute;
    right: 10px;
    top: 8px;
    cursor: pointer;
    background: url('http://s.akfh-sy.com/skins/t1603/images/13040915091154954.png') no-repeat;
}

/* 注册浮层 */
.agreement-floating {
    position: fixed;
    z-index: 10100;
    top: 50%;
    left: 50%;
    background-color: #fff;
    width: 664px;
    height: 330px;
    margin: -165px 0 0 -332px;
    -webkit-box-shadow: 0 0 15px #5e5e5e;
    -moz-box-shadow: 0 0 15px #5e5e5e;
    box-shadow: 0 0 15px #5e5e5e;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.agreement-floating .layer-title {
    line-height: 50px;
    color: #fff;
    background: #329acb;
    font-size: 18px;
    text-align: left;
    padding: 0 20px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.agreement-floating .layer-title i {
    float: right;
    line-height: 50px;
    cursor: pointer;
}

.agreement-floating .layer-body {
    font-size: 12px;
}

.agreement-floating .layer-body ul {
    padding: 20px 20px 0;
    overflow: hidden;
}

.agreement-floating .layer-body ul li {
    line-height: 22px;
    color: #000;
}

.agreement-floating .layer-body ul li.red {
    color: #cc0000;
}


/*首頁廣告*/
#cboxClose{
    position: absolute;
    cursor: pointer;
    right: -18px;
    top: -18px;
    width: 36px;
    height: 36px;
    zoom: 1;
    background: url('http://s.akfh-sy.com/skins/t1603/images/close.png')no-repeat;
    border: 0;
    text-indent: -9999px;
}

/* 新手教程 */
.tutorial-body{ background:#201b15 url(http://s.akfh-sy.com/skins/t1603/images/tutorial/big-bg.jpg) no-repeat center bottom;}
.tutorial-top{ background: url(http://s.akfh-sy.com/skins/t1603/images/tutorial/tutorial-bg.jpg) repeat-x 0 0; height:139px; width:100%; padding:15px 0; border-bottom:3px solid #007989;}
.tutorial-title{ height:1px; background:#4d4d4d; width:342px; margin:30px auto 0 auto; text-align:center;}
.tutorial-title h1{ color:#faf4e0; font-size:24px; position:relative; top:-15px; background:#272727; width:154px; margin:0 auto;}

.tutorial-main{width:1000px; margin:20px auto 0 auto; overflow:hidden;}


.jquery-accordion-menu,.jquery-accordion-menu * {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    outline: 0
}

.jquery-accordion-menu {
    width: 220px;
    float: left;
    position: relative;
    height:1037px;
    background:#333;
}
.jquery-accordion-menu h1{ font-size:22px; color:#1aabbf; height:66px; line-height:66px; padding-left:20px;}
.jquery-accordion-menu h1 i{ padding-right:10px;}

.jquery-accordion-menu .jquery-accordion-menu-footer,.jquery-accordion-menu .jquery-accordion-menu-header {
    width: 100%;
    height: 50px;
    padding-left: 22px;
    float: left;
    line-height: 50px;
    font-weight: 600;
    color: #f0f0f0;
    background: #414956
}

.jquery-accordion-menu ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.jquery-accordion-menu ul li {
    width: 100%;
    display: block;
    float: left;
    position: relative;
}

.jquery-accordion-menu ul li a {
    width: 100%;
    padding: 14px 22px;
    float: left;
    text-decoration: none;
    color: #d9ddde;
    font-size: 14px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    font-weight:700;
    -o-transition: color .2s linear,background .2s linear;
    -moz-transition: color .2s linear,background .2s linear;
    -webkit-transition: color .2s linear,background .2s linear;
    transition: color .2s linear,background .2s linear
}

.jquery-accordion-menu>ul>li.active>a,.jquery-accordion-menu>ul>li:hover>a {
    color: #333;
    background: #fbd415;
}
.jquery-accordion-menu ul li a i {
    width: 34px;
    float: right;
    line-height: 18px;
    font-size: 16px;
    text-align: right
}

.jquery-accordion-menu .submenu-indicator {
    float: right;
    right: 22px;
    position: absolute;
    line-height: 19px;
    font-size: 20px;
    -o-transition: transform .3s linear;
    -moz-transition: transform .3s linear;
    -webkit-transition: transform .3s linear;
    -ms-transition: transform .3s linear
}

.jquery-accordion-menu ul ul.submenu .submenu-indicator {
    line-height: 16px
}

.jquery-accordion-menu .submenu-indicator-minus>.submenu-indicator {
    -ms-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

.jquery-accordion-menu ul ul.submenu,.jquery-accordion-menu ul ul.submenu li ul.submenu {
    width: 100%;
    display: none;
    position: static;
}

.jquery-accordion-menu ul ul.submenu li {
    clear: both;
    width: 100%;
}
.jquery-accordion-menu ul ul.submenu li span{ padding-right:10px; color:#cdc1ac;}
.jquery-accordion-menu ul ul.submenu li a {
    width: 100%;
    float: left;
    font-size: 12px;
    background: #3f3a36;
    border-top: none;
    position: relative;
    font-weight:normal;
    -o-transition: border .2s linear;
    -moz-transition: border .2s linear;
    -webkit-transition: border .2s linear;
    transition: border .2s linear;
}

.jquery-accordion-menu ul ul.submenu li:hover>a,.jquery-accordion-menu ul ul.submenu li.active>a {
    color:#fbd415;
}

.jquery-accordion-menu ul ul.submenu>li>a {
    padding-left: 30px
}
.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>a {
    padding-left: 45px
}

.jquery-accordion-menu ul ul.submenu>li>ul.submenu>li>ul.submenu>li>a {
    padding-left: 60px
}

.ink {
    display: block;
    position: absolute;
    background: rgba(255,255,255,.3);
    border-radius: 100%;
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0)
}

.animate-ink {
    -webkit-animation: ripple .5s linear;
    -moz-animation: ripple .5s linear;
    -ms-animation: ripple .5s linear;
    -o-animation: ripple .5s linear;
    animation: ripple .5s linear
}

@-webkit-keyframes ripple {
    100% {
        opacity: 0;
        -webkit-transform: scale(2.5)
    }
}

@-moz-keyframes ripple {
    100% {
        opacity: 0;
        -moz-transform: scale(2.5)
    }
}

@-o-keyframes ripple {
    100% {
        opacity: 0;
        -o-transform: scale(2.5)
    }
}

@keyframes ripple {
    100% {
        opacity: 0;
        transform: scale(2.5)
    }
}

#mainBox {
    width:780px;
    height:1037px;
    position: relative;
    overflow: hidden;
}

#content {
    height:1037px;
    position: absolute;
    left: 0;
    top: 0;

}

.scrollDiv {
    width:5px;
    position: absolute;
    top: 0;
    background: #b79772;
}
.tutorial-ri{ padding:0 20px; background:#eee; float:right; color:#333; font-size:14px;}
.tutorial-ri h3{ font-size:22px; color:#1aabbf; border-bottom:1px solid #ccc; padding:17px 0;}
.tutorial-ri ul{ list-style:decimal; font-size:14px; padding:24px 0 18px; clear:both;}
.tutorial-ri ul li{ margin-left:24px; line-height:32px;}
.tutorial-ri ul li a{ color:#1aabbf;}
.tutorial-ri ul li span.f-brown{ color:#1aabbf; font-weight:700; margin-left:4px;}
.tutorial-ri ul li img{ margin-top:10px; margin-bottom:30px; display:block;}
.tutorial-ri h4{ font-size:14px; font-weight:700; line-height:22px;}
.tutorial-ri p{ color:#c63216; line-height:22px;}

.h3title{width:426px; margin:8px auto 0 auto;border-bottom: 3px solid #bbb; z-index:16; height:44px;}
.h3title .title-list{ font-size:16px; list-style:none; padding:0 5%;padding-bottom:10px;}
.h3title .title-list li{text-align: center; display:inline-block;margin-left:0;line-height:normal; width:30%;}
.h3title .title-list li a{display:block; color:#36312e; padding:10px 0;}
.h3title .title-list li a:hover,.h3title .title-list li a.active{ background:url(http://s.akfh-sy.com/skins/t1603/images/tutorial/title-tbg.png) no-repeat center bottom; z-index:200; height:56px; color:#1aabbe;}

/*sideMenu*/
#sidebar ul li, #sidebar ul, #sideMenu, #sideMenu dl dt i, #sideMenu dl dd, #sideMenu dl dd span, #sideMenu dl dd i{-webkit-transition: all .4s cubic-bezier(.4,.01,.165,.99);-moz-transition: all .4s cubic-bezier(.4,.01,.165,.99);-ms-transition: all .4s cubic-bezier(.4,.01,.165,.99);-o-transition: all .4s cubic-bezier(.4,.01,.165,.99);transition: all .4s cubic-bezier(.4,.01,.165,.99);}
#sideMenu{width: 100px;overflow: hidden;position: fixed;bottom: 67px;z-index: 99;right: 4%;/*margin-left: 642px;*/background-color: #fff;border-radius: 3px;box-shadow: 0 0 10px 0 rgba(0,0,0,.2);-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);-moz-box-shadow: 0 0 10px 0 rgba(0,0,0,.2);}
#sideMenu.on{-webkit-transform:translate3d(100%,0,0);-moz-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);-o-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0);opacity:0}
#sideMenu dl {width: 100%;padding-bottom: 5px;position: relative;}
#sideMenu dl dt {width: 100%;height: 30px;line-height: 30px;background-color: #0088fe;}
#sideMenu dl dt h1 {float: left;color: #fff;padding-left: 10px;font-weight: inherit;font-size: 14px;line-height: inherit;}
#sideMenu dl dd {width: 100%;height: 32px;cursor: pointer;}
#sideMenu dl dd:nth-child(odd){background-color:#f5f5f5}
#sideMenu dl dd:hover{background-color:#5eb4ff;}
#sideMenu dl dd:hover span{color: #fff;}
#sideMenu dl dd span {line-height: 32px;color: #525252;font-size: 14px;}
#sideMenu dl dt i {float: right;color: #fff;width: 30px;height: 30px;background: url(http://s.akfh-sy.com/skins/t1603/images/floating/close.png);cursor: pointer;}
#sideMenu dl dt i:hover{transform:rotate(180deg);-o-transform:rotate(180deg);-ms-transform:rotate(180deg);-moz-transform:rotate(180deg);-webkit-transform:rotate(180deg)}
#sideMenu dl dd i {width: 30px;height: 30px;float: left;margin-top: 1px;margin-left: 4px;}
#sideMenu dl dd.live i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_01.png);}
#sideMenu dl dd.live:hover i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_01_h.png);}
#sideMenu dl dd.qq i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_02.png);}
#sideMenu dl dd.qq:hover i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_02_h.png);}
#sideMenu dl dd.draw i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_03.png);}
#sideMenu dl dd.draw:hover i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_03_h.png);}
#sideMenu dl dd.activity i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_04.png);}
#sideMenu dl dd.activity:hover i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_04_h.png);}
#sideMenu dl dd.vip i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_05.png);}
#sideMenu dl dd.vip:hover i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_05_h.png);}
#sideMenu dl dd.lucky i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_06.png);}
#sideMenu dl dd.lucky:hover i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_06_h.png);}
#sideMenu dl dd.partners i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_07.png);}
#sideMenu dl dd.partners:hover i {background-image: url(http://s.akfh-sy.com/skins/t1603/images/floating/icon_07_h.png);}

#sidebar {width: 42px;overflow: hidden;position: fixed; right: 4%;bottom: 20px;/*margin-left: 700px;*/z-index: 99;}
#sidebar ul {float: right;width: 42px;position: relative;overflow: hidden;}
#sidebar ul li{width:42px;height:42px;margin-bottom:5px;background-color:#383b3f;cursor:pointer;display: list-item;text-align: -webkit-match-parent;list-style: none;}
#sidebar ul li:last-child{margin-bottom:0}
#sidebar ul li:hover{background-color:#0088fe}
#sidebar ul li i{width:42px;height:42px;display:block;float:left;background-image:url(http://s.akfh-sy.com/skins/t1603/images/floating/floating.png)}
#sidebar ul li.Service i{background-position:0 0}
#sidebar ul li.goTop i{background-position:0 -42px}
#sidebar ul li.goTop{opacity:0}
#sidebar ul li.goTop.on{opacity:1}
#sidebar ul li.Service.on{-webkit-transform:translate3d(100%,0,0);-moz-transform:translate3d(100%,0,0);-ms-transform:translate3d(100%,0,0);-o-transform:translate3d(100%,0,0);transform:translate3d(100%,0,0)}
#sidebar ul li span{height:42px;display:block;float:left;margin-left:3px;line-height:42px;color:#fff}
@media screen and (max-width: 1524px){
    #sidebar, #sideMenu {
        left: auto;
        right: 20px;
    }
}

#register{
    margin-bottom: 30px;
    font-size: 0.8em;
}

#BG a {
	width: 328px;
  height: 100%;
	cursor: pointer;
}

#BG img {
	width: 100%;
  height: 100%;
}

#liveVedio1, #liveVedio2 {
	width: 1085px;
}

#liveVedio1 li, #liveVedio2 li{
	width: 180px;
}

div.article1{padding-left: 39px;}
div.article2{padding-left: 32px;}
div.article3{padding-left: 44px;}

#balanceBox{
  width: 450px;
  height: 330px;
  position: absolute;
  top: 0;
	/*display : none;*/
}

#boxTop {
	width: 100%;
	height: 8px;
	background-color: transparent;
}

#boxContent {
	width: 100%;
	height: calc(100% - 10px);
	background-color: #F1F1F1;
}

#balanceBox .balanceBox-arrow-up {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #0088fe;
  position: absolute;
  top: -7px;
  left: 412px;
}

#boxContentTop {
  background-color: #0088fe;
  padding: 10px 15px;
  color: #fff;
  font-size: 16px;
  margin-top: 3px;
}

#boxContentTop p i {
  font-size: 1.8em;
  margin-top: 1px;
  margin-left: .5em;
}

#boxContentMainBalance {
  padding: 5px 15px;
  font-size: 12px;
  background-color: #fff;
  margin-bottom: 5px;
}

#boxContentMainBalance #main-balance, #boxContentMainBalance i {
  color: #c00;
}

#boxContentMainBalance #main-balance {
  font-weight: bold;
  font-size: 14px;
}

.question:hover{
	 background-image: url(http://s.akfh-sy.com/skins/t1603/images/question_active.png);
}

.fakeButton {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

#boxContentBody {
  padding: 5px;
}

#selected{
	border: 2px solid #1790FF;
  width: calc(100% - 25px);
  margin-left: 5px;
  padding: 5px 0 5px 10px;
}

#selected li{
	width: 100%;
	display: inline-block;
}

.table-container {
  max-height: 190px;
  overflow-y: auto;
}

.table-container::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: #F5F5F5;
}

.table-container::-webkit-scrollbar {
	width: 8px;
	background-color: #F5F5F5;
}

.table-container::-webkit-scrollbar-thumb {
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #898989;
}

#tList {
  margin-bottom: 0;
}

#tList th {
  background-color: #666;
  color: #fff;
}

#tList tr td {
	background-color: #fff;
}

#tList tr td .th-name {
  font-weight: bold;
  line-height: 25px;
  white-space: nowrap;
}

#tList tr td .th-balance {
  color: #c00;
  line-height: 25px;
}

#tList tr td button {
  padding-top: 3px;
  padding-bottom: 3px;
}

#tList tr td button.goToGame {
  background-color: #eeb70f;
  border-color: #eeb70f;
}

#tList tr td button.goToConversion {
  background-color: #2fade7;
  border-color: #2fade7;
}

.balance {
	margin-left: 10px;
  color: #E73434;
}

.thirdName {
	width: 160px;
  display: inline-block;
}

#goExchange, #goDeposit {
  height: 30px;
  color: #fff;
  text-align: center;
  padding-top: 5px;
  cursor: pointer;
  margin-top: 10px;
}

#goExchange {
  background-color: #eeb70f;
  border-color: #eeb70f;
}

#goDeposit {
  background-color: #2fade7;
  border-color: #2fade7;
}

#goExchange:hover {
	background-color: #ed9b00;
}

#arrow_down{
	width: 20px;
  height: 20px;
  display: inline-block;
  float: right;
  margin-right: 6px;
  background-image: url(http://s.akfh-sy.com/skins/t1603/images/ic_arrow_down.png);
  background-repeat: no-repeat;
  background-position: 0px;
  background-size: contain;
}

.hide {
	display: none;
}

#thConversion .modal-dialog { z-index: 1051; width: 460px; }
#thConversion #closebtn { position: absolute; right: 10px; top: 5px; cursor: pointer; z-index: 2; }
#thConversion .main-account-icon { background: #00aba9; width: 125px; height: 125px; border-radius: 5px; }
#thConversion .main-account-icon img, #thConversion .thirdparty-account-icon img { margin-top: 17px; }
#thConversion .transfer-arrow { margin-top: 50px; max-width: 115%; }
#thConversion .thirdparty-account-icon { background: #eeb70f; width: 125px; height: 125px; border-radius: 5px; }
#thConversion .row.name-row { margin-top: 10px; }
#thConversion .row.name-row > div > div { width: 125px; font-size: 20px; color: #999; font-weight: bold; }
#thConversion .row.balance-row { margin-top: 5px; }
#thConversion .row.balance-row #mainBalance { width: 190px; font-size: 30px; color: #f00; font-weight: bold; }
#thConversion .row.balance-row #thirdpartyBalance { width: 200px; font-size: 30px; color: #f00; font-weight: bold; }
#thConversion .btn-goon { padding-left: 0px; }
#thConversion .submit-conversion { width: 116px; }
#thConversion .no-conversion { position: absolute; margin-top: 20px; background-color: #eeb70f; }
#thConversion .btn { font-size: 15px; font-weight: bold; }
#thConversion .btn.btn-quick-price, #thConversion .btn.submit-conversion { background-color: #2fade7; border-color: #2fade7; }
#thConversion .btn.digit { font-size: 18px; }
#thConversion .btn.notdigit { padding-top: 8px; padding-bottom: 8px; }
.button-list { margin-bottom: 5px; }
.button-list .btn:not(.not-price) { width: 90px; }
.button-list ul li { width: 32%; }
