@charset "utf-8";

/* 手機下載页面 */

.phone-wrap {
    width: 1000px;
    margin: 0 auto;
    overflow: hidden;
    font-family: '微软雅黑';
    color: #000;
    font-size: 14px;
}

.phone-wrap .phoneBox {
    padding-bottom: 30px;
    margin-top: 60px;
    border-bottom: 1px #e5be6f solid;
}

.phone-wrap div:last-child.phoneBox {
    /* [disabled]border:none; */
    margin-bottom: 100px;
}

.phone-wrap .phoneBox-left {
    float: left;
    margin-right: 5px;
    margin-left: 20px;
}

.phone-wrap .phoneBox-right {
    float: right;
    text-align: left;
}

.phone-wrap .title {
    padding-top: 110px;
    padding-right: 0;
    padding-left: 10px;
    padding-bottom: 5px;
    margin-bottom: 25px;
    /* [disabled]border-bottom-style: solid; */
    /* [disabled]border-bottom-color: #ebb84b; */
    /* [disabled]border-left-style: solid; */
    /* [disabled]border-left-color: #ebb84b; */
    width: 700px;
    height: 10px;
    position: absolute;
    left: 386px;
    width: auto;
    padding-left: 0px;
}

.phone-wrap .title img {
    float: left;
    margin-left: 10px;
}

.phone-wrap .title h1 {
    float: left;
    margin-right: 10px;
    display: inline;
    font-size: 24px;
    color: #e5be6f;
}

.phone-wrap .content .content-left {
    position: relative;
    margin-right: 20px;
    height: 190px;
    margin-bottom: 10px;
    border: solid 1px #78563a;
}

.phone-wrap .content .content-left img {
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    text-align: center;
}

.phone-wrap .content .content-left p {
    position: absolute;
    left: 6px;
    bottom: -26px;
    color: #000;
}

.phone-wrap .content .content-right .content-rightTop {
    margin-bottom: 23px;
}

.phone-wrap .content .content-right .smrTop {
    margin-bottom: 10px;
}

.phone-wrap .content a {
    color: #ebb84b;
    text-decoration: underline;
}

.phone-wrap .content .content-right .content-rightTop ol {
    list-style: none;
}

.phone-wrap .content .content-right .content-rightTop ol li {
    counter-increment: item;
    margin-bottom: 5px;
    font-size: 1.2em;
        color: #000;
}

.phone-wrap .content .content-right .content-rightTop ol.number li:before {
    margin-right: 8px;
    content: counter(item);
    background: #000;
    border-radius: 100%;
    border: 1px #000 solid;
    color: #000;
    width: 1.5em;
    font-size: 0.5em;
    text-align: center;
    display: inline-block;
}

.phone-wrap .content .content-right .content-rightBottom {
    font-size: 1em;
    line-height: 1.5em;
    color: #000;
}

.phone-wrap .content .content-rightBottom span.yellow {
    color: #ebb84b;
}

.phone-wrap .content .content-rightBottom a.yellow {
    color: #ebb84b;
}

.phone-wrap .content .content-rightBottom span.red {
    color: #cb1929;
}

.phone-wrap .content .content-right img {
    margin-top: 30px;
}

.phone-wrap .content .accountWarp {
    width: 90%;
    height: 57px;
    border: 1px #2d76a1 solid;
    text-align: center;
    margin-bottom: 20px;
}

.phone-wrap .content .accountWarp .accountleft {
    float: left;
    width: 30%;
    background-color: #2d76a1;
    color: #fff;
    height: 88%;
    padding-top: 8px;
}

.phone-wrap .content .accountWarp .accountright {
    padding: 5px;
}

.phone-wrap .content .accountWarp .accountright h2 {
    color: #ebb84b;
    font-size: 2.55em;
}

.phone-wrap .content .accountImgWarp {
    margin-top: 15px;
}

.phone-wrap .content .accountImgWarp div:first-child {
    float: left;
    width: 55%;
    padding: 0 40px 0 0;
}

.phone-wrap .content .accountImgWarp div:first-child img {
    margin: 10px 10px 0 0;
}

.phone-wrap .content .accountImgWarp div:nth-child(2) {
    position: relative;
    float: left;
    width: 140px;
    height: 140px;
    border: #2d76a1 1px solid;
    text-align: center;
}

.phone-wrap .content .accountImgWarp div:nth-child(2) img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.phone-wrap .content .accountImgWarp div:nth-child(2) p {
    position: absolute;
    margin: auto 0;
    left: 0;
    right: 0;
    bottom: -26px;
}

.phone-wrap .imagCenter {
    text-align: center;
    margin-top: 20px;
}

.phone-wrap .phoneBox-left .lastQr {
    position: relative;
    width: 160px;
    height: 160px;
    border: #2d76a1 1px solid;
    text-align: center;
    margin-left: 70px;
    border-bottom: 1px #e5be6f solid;
}

.phone-wrap .phoneBox-left .lastQr img {
    position: absolute;
    margin: auto;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
}

.phone-wrap .phoneBox-left .lastQr p {
    position: absolute;
    margin: auto 0;
    left: 0;
    right: 0;
    bottom: -26px;
}

.phone-wrap .content .newQR {
    width: 150px;
    height: 304px;
    position: relative;
    margin-right: 20px;
    float: left;
}

.phone-wrap .content .content-left img.android,
.phone-wrap .content .content-left img.android {
    position: absolute;
    margin: auto;
    top: 11px;
    left: 0;
    bottom: auto;
    right: 0;
}

.phone-wrap .content .content-left img.ios {
    top: 130px;
}

.phone-wrap .content .content-left p.android {
    text-align: center;
    width: 150px;
    left: 0;
    top: 124px;
    bottom: auto;
}

.phone-wrap .content .content-left p.ios {
    text-align: center;
    width: 150px;
    left: 0;
    top: 274px;
    bottom: auto;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dtab_con ul {}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dtab_con {
    clear: both;
    width: 960px;
    margin-top: 30px;
    height: 50px;
    margin-bottom: 30px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads {
    width: 960px;
    height: 500px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dtab_con ul li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
    line-height: 28px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dtab_con .dtab_tl {
    float: left;
    font-size: 1.6em;
    font-weight: bold;
    letter-spacing: 0.2em;
    border-left: solid 5px #b1000a;
    padding-right: 10px;
    padding-left: 15px;
    margin-left: 60px;
    color: #16c38d;
    margin-right: 70px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-col {
    float: left;
    text-align: left;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-col .dl-title {
    font-size: 1.8em;
    font-weight: bold;
    color: #16c38d;
    margin-bottom: 20px;
    margin-top: 35px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-col .dl-details {
    color: #4b4b4b;
    line-height: 30px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-col.dl-qr .qr-code {}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-qr {
    margin-left: 10px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-col.dl-qr {
    border-left: solid 1px #686868;
    text-align: center;
    color: #4b4b4b;
    margin-top: 35px;
    margin-left: 60px;
    padding-left: 30px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con {}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dtab_con ul li a {
    width: 95px;
    height: 30px;
    background-color: #585858;
    border-radius: 18px;
    display: block;
    color: #fff;
    text-decoration:none;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads ul li:hover a,
.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads ul li.active a {
    width: 95px;
    height: 30px;
    background-color: #0088fe;
    border-radius: 18px;
    display: block;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-col .dl-details p {
    font-size: 0.8em;
    color: #e5be6f;
    margin-top: 10px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav #mntab1 {
    float: left;
    display: block;
    border-radius: 20px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav #mntab2 {
    float: left;
    display: block;
    border-radius: 20px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav #mntab3 {
    float: left;
    display: block;
    border-radius: 20px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav {}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav {}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav #mntab1 a {
    /*background-color: #b1000a;*/
    width: 226px;
    display: block;
    text-align: center;
    height: 46px;
    border-radius: 20px;
    font-size: 14pt;
    line-height: 45px;
    margin-right: 40px;
    letter-spacing: 0.1em;
    text-decoration:none;
    color: #fff;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav .active a {
    background-color: #ebb84b;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav #mntab2 a {
    /*background-color: #ebb84b;*/
    width: 226px;
    display: block;
    text-align: center;
    height: 46px;
    border-radius: 20px;
    font-size: 14pt;
    line-height: 45px;
    margin-right: 60px;
    letter-spacing: 0.1em;
    text-decoration:none;
    color: #fff;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav #mntab3 a {
    /*background-color: #ebb84b;*/
    width: 226px;
    display: block;
    text-align: center;
    height: 46px;
    border-radius: 20px;
    font-size: 14pt;
    line-height: 45px;
    margin-right: 60px;
    letter-spacing: 0.1em;
    text-decoration:none;
    color: #fff;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav .last a {
    background-color: #585858;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg {
    width: 960px;
    margin-top: 30px;
    margin-bottom: 10px;
    height: 46px;
    margin-left: 130px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap #mobileimg .tab-nav {}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-col .dl-details .ico.browser_tit {
    background-image: url(../images/orange_btn.png);
    width: 190px;
    height: 52px;
    display: block;
    font-size: 14pt;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 50px;
    padding-left: 8px;
    background-repeat: no-repeat;
    margin-top: 20px;
    color: #fff;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-col .dl-details .ico.browser_tit .ico {
    background-image: url(../images/download_icon.png);
    display: block;
    width: 34px;
    height: 34px;
    float: left;
    line-height: 40px;
    background-repeat: no-repeat;
    margin-top: 8px;
    margin-right: 30px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-img.dl-col {
    text-align: center;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .downloads .dl-con .dl-img.dl-col {
    width: 429px;
    height: 364px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-left .mobileTxt p {
    color: #fff;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-left #indicator .cycle-pager-active {
    color: #0088fe;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-right .content {
    margin-right: 75px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-left #indicator {
    font-size: 2em;
    letter-spacing: 0.px;
    color: #7e7e7e;
    position: absolute;
    top: 300px;
    right: 100px;
    margin-top: 0px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-left .mobileTxt {
    color: #4b4b4b;
    margin-right: 20px;
    position: absolute;
    width: 220px;
    left: 386px;
    top: 152px;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-left #next {
	position: absolute;
	top: 200px;
        right: 10px;
        cursor: pointer;
    background-repeat: no-repeat;
    width: 11px;
    height: 20px;
    /*float: right;*/
}
.col_info,.text-head,.mobileTxt {line-height:24px;}
.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-left #indicator span {
    cursor: pointer;
}

.sliderWarp {
    overflow: auto;
}

#phoneBox3,
#phoneBox2 {
    position: relative;
    width: 660px;
    height: 566px;
    display: block;
    overflow: hidden;
}

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-right .content .buttons {
        width: 100%;
        height: 27px;
    }

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-right .content .buttons .right-icons {
        float: left;
        margin-left: 25px;
        margin-right: 25px;
        margin-top: 20px;
        text-align: center;
    }

.inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-right .content .col_info div {
        color: #fff;
        width: 220px;
    }

    .inPage.wecomePage .wrapper .inCentercolumn .phone-wrap .phoneBox .phoneBox-right .content .col_info .text-head {
        font-size: 1em;
        color: #e5be6f;
    }

    /* PT&MG頁面樣式 */
.detailsword , .detailsword:visited , .detailsword:link ,.detailsword:hover{color: #ebb84b;}
.dl-details{font-size: 14px;}
#dl-colw{width: 260px;}
.mg-img{position: relative; top: 211px; left: 28px;}
.mg-img div{width: 78px; height: 24px;}
.pt-title{color: white;background-color: #b1000a;width: 104px;float: left;font-size: 14px;height: 38px;line-height: 19px;}
.pt-title2{color: #ebb84b;float: left;border: #b1000a solid thin;width: 145px;height: 36px;font-size: 24px;line-height: 36px;text-indent: 12px;}
.pt-foot{font-size: 16px;margin-top: 10px;}
.pt-foot a{text-decoration: none;color: #FFF;cursor: pointer;}
.pt-pc{float: left;width: 120px;height: 30px;background-color: #FF6500;border-radius: 18px;display: block;text-align: center;}
.pt-phone{float: left;width: 120px;height: 30px;background-color: #b1000a;border-radius: 18px;display: block;text-align: center;margin-left: 18px;}
#ly3{position: fixed; top: 0px; z-index: 10100; left: 0px; display: none;}
.phonely{background-color:rgba(34,34,34,.8)}
#phonelayer{margin: 0px auto; position: fixed; z-index: 10100; text-align: center; top: 36%; left: 36%; background-color: rgb(254, 252, 235); width: 450px; height: 250px; border-radius: 5px; display: none;}
#phonelayer2{margin: 0px auto; position: fixed; z-index: 10100; text-align: center; top: 36%; left: 36%; background-color: rgb(254, 252, 235); width: 480px; height: 280px; border-radius: 5px; display: none;}
.phonelayer-title{line-height: 44px;color: #fff;background: #b1000a;text-align: left;padding-left: 20px;border-top-left-radius: 5px;border-top-right-radius: 5px;}
.phonelayer-body{color: #403f3f;font-size: 14px;}
#textcopy {padding-left: 25px;font-size: 22px;color: #b1000a;position: relative;top: -3px;}
.list div img{width: 25%;height: auto;}
.copybtn{margin-left: 10px;color: white;}
.copybtn a{background-color: #b1000a;padding: 0 5px;border-radius: 5px;}
.phonepsw{width: 195px;height: 28px;position: relative;right: 52px;}
.phonepsw2{width: 195px;height: 28px;position: relative;right: 38px;}
.phonelayer-ex{font-size: 12px;color: red;}
.phonelayer-foot{margin-top: 15px;}
.phonelayer-foot p{font-size: 12px;float: left;padding-left: 18px}
.phonelayer-foot a{background-color: #b1000a;float: right;padding: 8px 22px;border-radius: 20px;position: relative;right: 15px;top: -17px}
.footred{color: red;}
.list2{height: 35px;padding-left: 15px;line-height: 35px;}
.list2 div,.list2 p{float: left;}
.list2 > a {float:right;margin-right: 20px;margin-top: 5px;}
.list2 ul li{display: block;float: left;width: 115px;font-size: 12px;}
.list2 ul li img{width: 90px;height: auto;margin: 0 auto;}
.list2 ul li p{line-height: 5px;margin-left: 10px;}
#imgp2{margin-left: 18px;}
.foot2{margin-top: 15px;}
#closelayer,#closelayer2{position: relative;float: right;right: 12px;top: -1px;}
.ico2-1{
    background-image: url(../images/blue_btn.png);
    width: 190px;
    height: 52px;
    display: block;
    font-size: 12pt;
    font-weight: bold;
    letter-spacing: 0.4em;
    line-height: 50px;
    padding-left: 2px;
    background-repeat: no-repeat;
}
.ico21{
    background-image: url(../images/pc_icon.png);
    display: block;
    width: 47px;
    height: 47px;
    float: left;
    line-height: 47px;
    background-repeat: no-repeat;
    margin-top: 3px;
}

.ico2-2{
    background-image: url(../images/orange_btn.png);
    width: 190px;
    height: 52px;
    display: block;
    font-size: 11pt;
    font-weight: bold;
    letter-spacing: 0.2em;
    line-height: 50px;
    padding-left: 2px;
    background-repeat: no-repeat;
}
.ico22{
    background-image: url(../images/androidApp_icon.png);
    display: block;
    width: 47px;
    height: 47px;
    float: left;
    line-height: 47px;
    background-repeat: no-repeat;
    margin-top: 3px;
}

#phonelayer a , #phonelayer2 a{color: #FFF;}
#phonelayer input{border-width: 2px;border-style: inset;border-color: initial;border-image: initial;}

div.btn {
  background-color: #0088fe;
  color: #fff;
  width: 200px;
 
  border-radius: 10px;
  margin-top: 10px;
}

div.btn.active {
  background-color: #16c38d;
      text-align: left;
}

div.btn span {
  position:relative;
  top: -2px;
  left: 3px;
  font-size: 18px;
}

div.mobileIcon {
  background-repeat: no-repeat;
  width: 25px;
  height: 30px;
  position: relative;
  top: 4px;

  display: inline-block;
}

div.ios {
  background-image: url(ios.png);
}

div.android {
  background-image: url(Android.png);
}

div.btn:hover {
  cursor: pointer;
}

img.adjust {
  position: relative;
  left: 120px;
      width: 230px;
}

.doll {
  position: absolute;
  z-index: 2;
  bottom: 67px;
}
