/*-- index 500vip --*/
.header-logo{line-height: 44px;padding:6px 12px;overflow: hidden;}
.header-banner img { max-width: 100%; }
.bulletin { height: 40px; line-height: 40px;  position: relative; overflow: hidden; position: relative; }
.bulletin marquee { position:absolute; left: 30px; z-index: 9; width: 88%;white-space:nowrap;}
.bull-text { width:95%; float: left; position: absolute; padding: 0 40px; box-sizing: border-box; font-size: 14px; white-space:nowrap; overflow: hidden; }

.index-menu ul li { width: 25%; float: left; text-align: center; }
.index-menu ul li a {  display: block; border-right:1px solid #e8e8e8; }
.index-menu ul li a:first-child { border-left: 0; }
.index-menu ul li a:last-child { border-right: 0; }
.index-menu ul li a img { max-width: 100%; }

.hot-tit { line-height: 40px; padding-left: 2px;}

.hot-lot { overflow: hidden;background: #252944; }
.hot-lot ul li { width: 33.33%; float: left; text-align: center;}
.hot-lot ul li a { display: block; font-size:95%; padding-bottom: 5px;cursor:pointer;  color: #000;}
.hot-lot ul li .hot-icon img { max-width: 100%; padding:10px 25px 0; box-sizing: border-box;}
.hot-lot ul li a { border-bottom: 1px solid #000; border-right: 1px solid #000;}

/* 添加iPad的两个尺寸 768和1024 字体大小 */
@media only screen and (min-width:768px ) {
	.header { height: 64px !important;}
	.header .login { background-size: 50px 30px !important; margin-top: 10px !important;}
	.header-head { background-size: 50px 30px !important; top: 18px; right: 10px;}
	.header-title { background-size: 120px 35px !important; width:120px !important; height: 35px !important; margin: 12px auto !important;}
	.list-text {
		font-size: 160%;
	}
	.hot-tit-text {
		font-size: 160% !important;
	}
	.list-text-2 {
		font-size: 120%;
	}
	.news-info ul li {
		line-height: 30px !important;
		font-size: 180%;
	}
	.lottery-list ul li a .hot-text { font-size: 160% !important;}
    .lottery-list ul li a .last-time { font-size: 120% !important;}
    .pol-icon { background-size: 15px 15px; width: 15px; height: 15px;}
    
	.bulletin marquee {
		font-size: 160%;
	}
	.host-list-erect ul li {
		width: 45% !important;
		padding-left: 5%;
	}
	.hot-new-tit {
		padding-left: 36px !important;
	}
	.scorllmain-content {
		padding-bottom: 104px !important;
		padding-top: 64px !important;
	}
	.hot-tit-img {
		margin-top: 10px;
		background-size: 2px 20px;
		height: 20px;
	}
	.bull-ila {
		background-size: 20px 20px;
		width: 20px;
		height: 20px;
		margin: 9px 0 0 15px !important;
	}
	.bull-arrow {
		background-size:12px 16px;
		width: 12px;
		height: 16px;
		margin: 9px 15px 0 0 !important;
	}
}
.bett-tit-noborder{ height: 28px; line-height: 22px; padding: 0 10px; font-size:100%; display: inline-block; margin-top: 4px !important;}
.ball28_green{
	font-weight: bold;color: #1b7e68;
}
.ball28_blue{
	color: #2768b3;
}
.ball28_red{
	color: #7e1f1b;
}
