@charset "utf-8";
/*  */
/*-- 走势图 --*/
.trend-icon { background: url(/static/theme/default/image/zoushi_you_anniu_03.png) no-repeat; width:70px; height: 27px; background-size:70px 27px; margin: 8px 3px 0 0; cursor: pointer;}

.trend-tit {width: 100%;}
.trend-tit span {font-size:80%;width: 16%;float: left;text-align: center;border:1px solid #4A5070;padding: 10px;box-sizing: border-box;display: block;border-radius: 10px;margin:2%;cursor:pointer;}
.trend-tit span.on {background-color: #4A5070;}

.trend-content table,.trend-content tbody { width: 100%; box-sizing: border-box; clear:both;border-top: 1px solid #000;}
.trend-titbg { background: #252944;}
.trend-content table th,.trend-content table td { width: 8.5%; text-align: center; border-right: 1px solid #252944; box-sizing: border-box; height: 34px; line-height: 34px; color: #c2c2c2;font-size: 80%;padding: 0 2px;}
.trend-content table td { background: #485270 }
.trend-content table tr.trend-bg td { background: #2B3042 }
.trend-content table tr.trend-bg-average td { background: #00ffff }
.trend-content table tr td .cur {background:#BFA917;border-radius: 50%;display: inline-block;margin:10px auto 0;box-sizing: border-box;width: 20px;height: 20px;line-height: 20px;text-align: center;color:#FFE9D2;}
.trend-bot { position: absolute; z-index: 100; top: auto; bottom: 0; left: 0; right: 0; width: 100%; background: #f7f7f7; border-top: 1px solid #ccc; height: 30px; line-height: 30px; text-align: center; }
.trend-bot a { color: #666 }

.trend-foot { background: #fff; height: 44px; position: fixed; left: 0; right: 0; bottom: 0; z-index: 99; box-shadow: 0px -3px 20px #ccc; line-height: 44px;  padding-left:10px;}
.trend-add { background: #ec2829; position: absolute; right: 10px; top: 5px; z-index: 3; color: #fff; height: 33px; line-height: 33px; border:0; outline: none; font-size: 85%; border-radius: 3px; padding:0 15px; }

.trend-tips { background: #1B1C2E; border-radius:5px; width:96%; position: fixed; left: 50%; margin-left: -48%; top: 20%; z-index: 999; padding-bottom: 15px; }
.tips-bg { background: #000; opacity: .5; position: fixed; left: 0; top: 0; height: 100%; width:100%; z-index: 998; }
.trtip-tit { border-bottom: 1px solid #ddd; margin:10px; padding-bottom: 5px; }
.trtip-tit .tr-icon { background-size: 14px 14px; width:14px; height: 14px; display: block; float: left; margin:4px 3px 0 0;  }
.trend-tips ul { margin:0 10px; padding-bottom: 15px; }
.trend-tips ul li { float: left; text-align: center; border:1px solid #4A5070;border-radius: 3px; width:30%; height: 28px; line-height: 28px; color: #ddd; font-size: 80%; margin:0 2% 10px 0; cursor: pointer;}
.trend-tips ul li.trend-on { background-color: #4A5070;color: #ddd}
span#play_name,span#order_type,span#status_type,span#account_type,span#msg_type {font-size: 14px;}

