/*-- 清除原属性 --*/
html, body, div, p { box-sizing: border-box;margin:0;padding:0;}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input { margin: 0; padding: 0; border: none; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; background: #252944;}
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0;}
body,button { font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", 'Microsoft YaHei', sans-serif;}
a { color: #ddd; text-decoration: none; }
input { outline: none}
img { max-width: 100% }

input:-webkit-autofill {-webkit-box-shadow:0 0 0 1000px #fff inset;-webkit-text-fill-color:#999;}
.fl { float: left; }
.fr { float: right; }
.clear { width: 100%; height: 0; overflow: hidden; clear: both; }
.grey { color: #999; }
.grey1 { color: #ddd; }
.red { color: #CD5C5B }
.green { color: #1b6123 } 
.dis { display: block; }
.text-center { text-align: center; }
.f80 { font-size: 80% }
.f100 { font-size: 100% }
.f120 { font-size: 120% }

/*公用样式*/
.login-bg{background-color: #1b1c2e;}
.sub_ScorllCont .textar { margin-top: 5px; outline: none; resize: none; font-family:'Helvetica Neue', Arial, "Hiragino Sans GB", 'Microsoft YaHei', sans-serif; padding:10px 15px; color:#666; font-size:1rem; box-sizing: border-box; width: 100%; border:1px solid #ddd; }
.c-red { color: #D45342 }
.lottery-list-erect{}
.scorllmain-Beet,.scorllmain-Beet-list,.scorll-order,
 .sixmain-Beet,.sixmain-Beet2
 { width: 100%; height:auto; padding: 0; display: block;z-index: 2;
  -webkit-box-flex:1;-webkit-flex:1;flex:1;} 
   .scorllmain-content{width: 100%; padding: 0; display: block;overflow:visible;}
  .lott_bar 
 { width: 100%; height:auto; padding: 0; display: block;
  -webkit-box-flex:1;-webkit-flex:1;flex:1;}
.scorllmain-Beet { bottom:45px;  }
.scorll-order { bottom:0; padding-bottom: 0 !important; } 
.sixmain-Beet { bottom:86px; }
.sixmain-Beet2 { bottom:100px; }
.scorllmain-Beet-list { bottom:120px;}
/*#wrapper_1 .sub_ScorllCont,#wrapper_2 .sub_ScorllCont{ position: absolute; z-index: 2; -webkit-tap-highlight-color: rgba(0,0,0,0); width: 100%; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0);}
*/
/*-- 头部 --*/
.header { background: #252944; width: 100%; height: 45px; position:fixed; z-index: 100; top: 0; left: 0; right: 0; border-bottom: 1px solid #000;}
.header #reveal-left, .header .reveal-left, .header #reveal-right { color: #fff; width: 36px; height: 36px; display: block; text-indent: -99999px; border: none; position: absolute; cursor: pointer; outline: none; }
.ui-toolbar-left, .ui-toolbar-right { position: absolute; z-index: 2 }
.ui-toolbar-right { right:10px; background: url(/static/theme/default/image/goucai_qiehua_07.png) no-repeat; top: 7px; width: 65px; background-size: 65px 30px; height: 30px;}
.ui-toolbar-left {background: url(/static/theme/default/image/goucai_qiehua_07.png) no-repeat;}
.ui-head { background: url(/static/theme/default/image/goucai_qiehua_03.png) no-repeat; width: 65px; background-size: 65px 30px; height: 30px;}
.ui-toolbar-right a {width:32.5px; height: 30px; display: block; float: left;}
.header #reveal-left, .header .reveal-left { background: url(/static/theme/default/image/blank_01.png) no-repeat; background-size: 42.5px; height: 43px; width:42.5px; height:44px; display: block;}
.header h1 { width: 100%; text-align: center; font-size: 22px; line-height: 44px; color: #ddd; }
.header-logout { background: url(../images/logout.png) no-repeat; line-height: 44px;  width: 70px; height:25px;  background-size: 70px 25px;  position: absolute; right: 10px;  top: 8px;  z-index: 9;}
/*.bett-top-box { width:320px; position: absolute; left: 50%; margin-left: -160px;}*/
.bett-top-box { position: relative;display: flex;flex-wrap: wrap;justify-content: center;align-items: center;}
.bett-top-box div {margin: 0 5px;float: left;}
.header .ui-betting-title { position: absolute; left: 0; top: 5px; z-index: 1; width: 100%; text-align: center;}
/*.header .ui-betting-title .bett-top { margin-left: -50%; }*/
.bett-top-box  {display: inline-table;}
.header .ui-betting-title .bett-play { font-size:12px; line-height: 14px; width:12px; height: 34px; display: inline-block; padding-top: 5px; padding-right: 8px; }
.bett-attr { background: url(/static/theme/default/image/top_zhong_sanjiao.png) no-repeat right center; width: 12.5px; height: 8.5px; background-size:12.5px 8.5px; display: inline-block; padding-right: 5px; }
.bett-tit { border:1px solid #ddd; border-radius: 5px; height: 28px; line-height: 22px; padding: 0 10px; font-size:90%; display: inline-block; margin-top: 4px !important;}
.bett-top .bett-tit {position: relative;top: -4px;}
.ui-text-right { position: absolute; right:10px; top: 0; line-height: 44px; }
.ui-text-right a { color: #fff; }

.news-tit {  padding: 10px;background: #f5f5f5;border-bottom:1px solid #e8e8e8;}
.news-tit a{ max-width: 100%;color: #000;min-font-size:30px; }
.pol-icon { background: url(../images/index_jiangzhang.png) no-repeat; background-size:12px 12px; width:12px; height: 12px; float: left; margin:6px 5px; }
.news-info ul li { position: relative; overflow: hidden; line-height: 24px; }
.news-info ul { padding:0 10px; color: #666; font-size: 80%; }
.news-left { float: left; width:33.33%; }
.news-center { position: absolute; left: 33.33%; width: 33.33%; }
.news-right { width:33.33%; }
.news-center a { color:#ec282a; }
.news-tit-ul { height: 32px; line-height: 32px; padding:0 10px; box-sizing: border-box; background: #eaeaea; overflow: hidden; }
.news-info-list ul li { border-bottom: 1px solid #ddd; height: 30px; line-height: 30px; color: #555; }
.news-info-list ul li .pol-icon { margin-top: 9px; }

.tow-ball-cont{height: 30px; line-height: 40px; font-size: 1.4rem !important; color:red;}
.two-lottery { margin-top: 5px; font-size:140%; }
.k3-lottery { text-align:center; color:#fff; line-height: 25px; }
.k3-lot { font-size: 110%; }

/*-- 投注大厅 --*/
.bett-buy { position: fixed; bottom: 45px; left: 0; right: 0; z-index: 99; background: #fff; border-top:1px solid #ddd; height: 75px; }
.ui-bett-right { background: url(/static/theme/default/image/top_you_anniu_01.png) no-repeat; width:51px; height: 44px; background-size:51px 44px; position: absolute; right: 5px; top: 0; z-index: 9; }
.ui-bett-with { height: 44px;  position: absolute; right: 10px; top: 0; z-index: 9; font-size:80%; }
.ui-bett-with a { color: #fff; line-height: 44px; }
.ui-bett-refresh { background: url(/static/theme/default/image/shuaxin_01.png) no-repeat; width:51px; height: 44px; background-size:51px 44px; position: absolute; right: 0; top: 0; z-index: 9; cursor: pointer;}
.bett-head { display: block; width: 51px; height: 44px;}

.lot-time,.dat-time { width:50%; background: #fff; border-right:1px solid #e8e8e8; border-bottom: 1px solid #e8e8e8; float: left; height:60px; text-align: center; padding:5px; box-sizing: border-box; font-size:80%; overflow: hidden; }

.time-ico { background: url(../images/betting/touzhu_pic_18.png) no-repeat center; margin-left: -15px; height: 16px; width:16px; background-size:16px 16px; padding:0px 25px 0 0;}
.wait-lot {  font-size:120%; margin-top: 8px;}
.wait-lot10 { margin-top: 8px;   }
.wait-lot11 { margin-top: 0px; text-align: left; }
.lot-tip { overflow: hidden; }

.time-late { background: url(/static/theme/default/image/shijian_bg.png) no-repeat; width:121px; height: 25px; background-size:121px 25px; margin:5px auto 0;  }
.time-late span { width:17px; height: 25px; float: left; display: block; line-height: 25px; color: #eb2b2a; font-size:110%; }
.time-late span.time-kong { width:9px; }
.lot-up { margin: 10px 0 0; overflow: hidden; }
.lot-up-left { width:35%; float: left; }
.lot-up-left img,a{max-width: 100%; }
.lot-up-left a{display:inline-block; -height:35px;}
.lot-up-right { float: right; line-height: 40px; padding-right: 10px; color: #666; font-size:96%; }

.go-back { background: url(/static/theme/default/image/back.png) no-repeat; background-size: 115px 28px; float: right; margin-right: 10px; color: #666; font-size: 80%; position: relative; line-height: 28px; padding-left: 25px; width: 95px; margin-top: 2%; }
.go-back i { background: #ffd200; width:18px; height: 18px; position: absolute; right:-5px; top:-5px; z-index: 9; color: #ff3200; border-radius: 50%; display: block; text-align: center; line-height: 18px; font-size: 80%}

.lot-number-top { border-bottom: 1px solid #ddd; padding-bottom: 13px; }
.lot-number-tip { border-bottom:1px solid #ddd; color:#eb2b2a; text-align:center; line-height: 24px; overflow: hidden;}
.lot-number-tip .gray { color:#666; font-size:80%; }

.lot-te { float: left; color:red; margin-left: 15px; }
.lot-pei { font-size:80%; color:#666; float: left; margin-left: 45px; }
.lot-number-bottom { padding-bottom: 30px; }
.lot-number-left { width:20%; float: left; padding:25px 0 0 10px; box-sizing: border-box; }
.lot-number-left2 { width:80%; float: left; }
.lot-number-right { width:80%; float: right; }
.lot-txt { background: url(../images/betting/touzhu_qian_bg.png) no-repeat; width: 52px; height: 20px; background-size:52px 20px; line-height: 20px; padding-left:5px; box-sizing: border-box; font-size: 80%; margin-bottom: 10px; color: #333; }

.ch_numball { float: left; width: 100%; }
.ch_numball ul { width: 100%; }
.ch_numball ul li,.six_numball ul li,.three-numball ul li { float: left; width: 20%; text-align: center; height: 30px; margin-top: 10px; position: relative; }
.six_numball ul li { height: 50px; }
.three-numball ul li { width: 33.33%; }
.three-numball ul li .lot-odds { font-size: 80%; margin-left: -20px; }
.ball-red span,.ball-blue span,.ball-green span { width: 33px; height: 33px; display: inline-block; text-align: center; line-height: 33px; background: #fff; border: 1px solid #bdbdbd; color: #ca1a1a; border-radius: 50%; font-size: 22px; cursor: pointer; margin: 0 auto; overflow: hidden; }
.three-numball ul li span { display: inline-block; text-align: center; line-height: 33px; background: #fff; border: 1px solid #bdbdbd; color: #ca1a1a; font-size: 14px; cursor: pointer; margin: 0 auto; overflow: hidden; padding:0 5px; }
.three-numball ul li .ball-active { background: #c91b1c; border:1px solid #c91b1c; color: #fff; }

.ball-red span:active,.ball-blue span:active { width: 60px; height: 95px; line-height: 60px; font-size: 20px; background: url(../images/betting/anjian_hong.png); border: none; color: #fff; position: absolute; top:-55px; left: 50%; margin-left: -30px; background-size:60px 95px; z-index: 10;}
.ball-blue span { color: #1b87c8; }
.ball-blue span:active {background: url(../images/betting/anjian_lan.png); background-size:60px 95px;}
.ball-green span { color:green;}
.lot-odds { position: absolute; width: 100%; text-align: center; bottom: -10px; z-index: 5; color: #a9a9a9 }

.ball-red span.ball-active { background: #c91b1c; border:1px solid #c91b1c; color: #fff; }
.ball-blue span.ball-active { background: #1c85c9; border:1px solid #1c85c9; color: #fff; }
.ball-green span.ball-active { background: #00bf16; border:1px solid #00bf16; color: #fff; }

.code_numball ul li { width:25%; margin-top: 20px; height: 50px; }
.code_numball ul li span { background: url(../images/liuhecai_btn_xiao.png) no-repeat; background-size: 55px 35px; width:55px; height: 35px; display: inline-block; line-height: 35px; font-size: 80%;  }
.code_numball ul li span.ball-active { background: url(../images/liuhecai_btn_xuanzhong_02.png) #fff no-repeat; background-size: 55px 35px; width:55px; height: 35px; }

.bett-number { width:250px; margin:10px auto;}
.bett-number2 { text-align: center; padding:5px 0; }
.bett-number label {}
.bett-foot-box {padding:5px 10px; position: fixed; bottom: 0; left: 0; right: 0; z-index: 5; }
.bett-foot-2 { background: rgba(250,246,239,100); height: 45px; padding:5px 10px; left: 0; right: 0; z-index: 50; position:absolute; top: -80px; border-top: 1px solid #ccc;}
.bett-foot-2-txt{position: absolute; text-align: left; left: 10px; right: 0; line-height: 36px; }
.bett-foot-2-txt-wrench{position: absolute; text-align: right; left: 0; right: 10px; line-height: 36px; }
.bett-foot { background: #252525; height: 45px; padding:5px 10px; box-sizing: border-box; position: fixed; bottom: 0; left: 0; right: 0; z-index: 5; }
.btn-none,.btn-add { background: #363636; border-radius: 3px; color: #bbb; width:60px; height: 33px; line-height: 33px; border:none; outline: none; float: left; font-size: 85%; position: relative; z-index: 99; }
.btn-add { background: #ffb400; float: right; color: #242625 }


.beet-foot-txt {position: absolute; text-align: center; left: 0; right: 0; color: #fff; line-height: 18px; }
.beet-foot-txt .beet-note { color: #ffb400; line-height: 36px; }
.beet-foot-txt p { font-size:80%; line-height: 36px; }

.bett-top-btn { width:90%; margin:10px auto; overflow: hidden; text-align: center;}
.bett-top-btn .btn-add1,.bett-top-btn .btn-add2 { background: url(/static/theme/default/image/touzhu_tianjia_01.png) no-repeat; width: 138px; height: 35px; background-size:138px 35px; border:0; float: left; outline: none;  }
.bett-top-btn .btn-add2 { background: url(/static/theme/default/image/touzhu_tianjia_02.png) no-repeat; background-size:138px 35px; float: right;}
.betting-info-box { width: 100% }
.bet-top { background: url(/static/theme/default/image/touzhus_anniu_top_01.png) no-repeat; width:90%; height: 14px; background-size:100% 14px; margin:auto;   }
.bet-info { background: url(/static/theme/default/image/touzhus_anniu_bg.png) repeat-y; width:90%; background-size: 100% 100%; margin:auto; }
.bet-foot { background: url(/static/theme/default/image/touzhus_anniu_ft.png) no-repeat; width:90%; height: 10px; background-size: 100% 10px; margin:auto; }
.bet-info ul { margin:0 2%; }
.bet-info ul li { overflow: hidden; border-top: 1px dashed #d8d8d8; padding:5px 15px; position: relative;  }
.bet-info ul li.choosed{border: 1px solid red;border-radius: 3px;}
.bet-close { background: url(/static/theme/default/image/touzhu_close_02.png) no-repeat; width:30px; height: 30px; background-size: 30px 30px; display: block; float: left; margin:10px 8px 0 0;}
.bet-info-li { float: left; }
.bet-number { color: #bb0102; font-size:100%; }
.bet-info ul p { font-size:80%;margin: 8px 0; }
.bet-tall,.bet-low { background: url(../images/betting/alarm_gao.png) no-repeat; width:55px; height: 24px; background-size: 55px 24px; position: absolute; top: 12px; right:8px; }
.bet-inp{position: absolute;bottom: 32px;right: 8px;}
.bet-inp span{font-size: 80%;}
.bet-inp input{width:62px;height: 16px;border: 1px solid #999;border-radius: 2px;font-size: 75%;}

.bet-low { background: url(../images/betting/alarm_di.png) no-repeat; background-size: 55px 24px;  }
.bet-bot { text-align: center; margin:20px 0; font-size:85%;}
.bet-bot a { color: #118bce }

.bett-buy-top ul { display: -webkit-box; display: flex; margin:8px 0; }
.bett-buy-top ul li { width:50%; padding:0 15px 0 25px; box-sizing:border-box;}
.bett-buy-top ul li.fr { float: right; }
.bett-buy-top .fl { margin-top: 3px;}
.buy-int { width:50%; border:1px solid #ccc; border-radius: 3px; background: #f3f3f3; height:28px; text-align: center; line-height: 14px;  }
.bett-input { margin:0 20px; }

#num-select .pp .title,#num-select .pp ._title{float:left;background-color:rgba(255,255,255,.5);height:32px;line-height:32px;border:1px solid #ddd;border-radius:2px;width:52px;text-align:center;font-size:14px;margin-right:18px;color:#555;position:relative;margin-top: 10px;}
#num-select .pp .title:after{margin:-5px 0 0 0;position:absolute;right:5px;top:50%}
#num-select .pp .title:before{margin:-5px 0 0 0;position:absolute;left:5px;top:50%}
#num-select .pp .code{float:left;margin-right:8px;width:34px;height:34px;line-height:31px;text-align:center;border:1px solid #ddd;cursor:pointer;background-color:rgba(255,255,255,.5);border-radius:50%;font-size:20px;color:#555;}
#num-select .pp.l3 .code{width:44px;font-size:12px}
#num-select .pp.lm .code{width:auto;border-radius:2px;padding:0 10px}
#num-select .pp.c20{padding:3px 0;height:28px}
#num-select .pp.c20 .title{height:26px;line-height:26px;}
#num-select .pp.c20 .code{margin-right:2px;width:28px;height:28px;line-height:26px;font-size:12px}
#num-select .pp.c20 .action{height:26px;line-height:24px;padding:0 8px}
#num-select .pp.cm{height:auto;margin-bottom:4px}
#num-select .pp.cm .code{margin-bottom:6px}
#num-select .pp.cm .action{position:absolute;bottom:6px;margin:0}
#num-select .pp .code:hover,#num-select .pp .action:hover{background-color:#eee}
#num-select .pp .code.checked,#num-select .pp .action:active{background-color:#f5b678;border-color:#ecac6d}
#num-select .pp .code.checked{color:#fffaf5}
#num-select .pp .action{float:right;border-radius:2px;background-color:rgba(255,255,255,.5);height:32px;line-height:30px;border:1px solid #ddd;padding:0 10px;color:#555;cursor:pointer;margin-left:5px;font-size:13px}

/*-- 玩法弹窗 --*/
.beet-tips { position: fixed; left: 0; top: 44px; right: 0; background: #1b1c2e; border-bottom: 2px solid #000; z-index: 999; }
.beet-tips-tit { border-bottom: 1px solid #ddd; text-align: center; margin:0 0 10px; position: relative;}
.beet-tips-tit span { background: #f3f3f3; padding:0 5px; position: relative; top: 10px;}
.beet-tips ul { overflow: hidden; margin:10px 0 20px; }
.beet-tips ul li { width:33.33%; float: left; text-align: center; margin-bottom: 10px; }
.beet-tips ul li a,.beet-tips ul li a.active { border-radius:3px;border: 1px solid #485270; width:92px; height: 28px; background-size: 92px; height: 28px; display: inline-block; line-height: 28px; }
.beet-tips ul li a.on { border-radius:3px;background-color: #485270 }

.beet-rig { position: absolute; top: 35px; right: 15px; background: url(../images/betting/you_caidan_box.png) no-repeat; width:117px; height:160px; background-size:117px 160px; z-index: 100  }
.beet-rig ul { margin: 11px 1px 0; }
.beet-rig ul li { text-align: center; line-height: 36px; height: 36px; border-bottom: 1px solid #ddd; }
.beet-rig ul li a { color: #c91b1c; display: block; }

.bett-odd,.bett-odd-r { background: url(../images/betting/peilv_btn_01.png) no-repeat; width:123px; height: 32.5px; background-size:123px 32.5px; }
.bett-odd a,.bett-odd-r a { width: 50%; color: #fff; float: left; padding: 5px 0 0 20px; box-sizing: border-box; font-size: 80%; height: 32.5px;}
.bett-odd a.btn-tall { color: #666; padding: 5px 0 0 10px; }
.bett-odd-r a.btn-tall {color: #fff; padding: 5px 0 0 10px;}
.bett-odd-r a.btn-low { color: #666;}

.bett-odd-r {background: url(../images/betting/peilv_btn_02.png) no-repeat;  background-size:123px 32.5px;}

#play-mod b {
    float: left;
    margin-right: 9px;
    font-weight: 500;
    border-radius: 50%;
    background-color: #ffffff;
    height: 21px;
    line-height: 21px;
    width: 21px;
    text-align: center;
    margin-top: 4px;
    color: #555;
    border: 1px solid #ddd;
    cursor: pointer;
}
#play-mod b.on {
    background-color: #f07a64;
    border-color: #ea7059;
    color: #f9f9f9;
}
#beishu-warp{padding-right:0px;border-right:none;position: absolute; text-align: right; right: 10px; line-height: 36px; }
#beishu-warp i{border-radius:3px;border:1px solid #cfcfcf;background-color:#f9f9f9;cursor:pointer;height:19px;width:19px;line-height:19px;margin-top:5px;color:#555}
#beishu-warp i:before{margin:0;line-height:normal;padding:0 5px}
#beishu-warp i:hover{background-color:#f0f0f0;border-color:#ccc}
#beishu-value{border:1px solid #cfcfcf;background-color:#f9f9f9;width:25px;height: 25px;text-align:center;color:#555;border-radius:3px;margin:5px 5px 0}


.dialogue{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.3);z-index:1000;display:none}
.dialogue .dialogue-warp{margin: 100px auto;}
#dialogue .dialogue-warp{margin: 100px auto;width: 90%;
    max-width: 350px;}
#dialogue.big .dialogue-warp{    width: 90%;
    max-width: 350px;}
#dialogue .dialogue-warp .dialogue-head{background-color:#4b4b4b;padding:15px;border-radius:5px 5px 0 0; text-align: center; border-bottom: 1px solid #f2f2f2;}
#dialogue .dialogue-warp .dialogue-head .dialogue-title{font-size:16px;color:#fff}
#dialogue .dialogue-warp .dialogue-body{background-color:#fff;padding:20px 15px;font-size:13px;color:#555;min-height:37px;line-height:24px}
#dialogue .dialogue-warp .dialogue-body .submit-bets-title{color:#555}
#dialogue .dialogue-warp .dialogue-body .submit-bets-info .left{color:#555}
#dialogue .dialogue-warp .dialogue-body pre{white-space:pre-wrap;}
#dialogue .dialogue-warp .dialogue-body .dialogue-icon{float:left;margin-right:10px}
#dialogue .dialogue-warp .dialogue-body .dialogue-icon:before{padding:6px 5px 4px;border:1px solid transparent;border-radius:50px;font-size:25px;margin:0}
#dialogue .dialogue-warp .dialogue-body .dialogue-icon.error:before{color:#f07a64;border-color:#f07a64}
#dialogue .dialogue-warp .dialogue-body .dialogue-icon.success:before{color:#93d79b;border-color:#93d79b}
#dialogue .dialogue-warp .dialogue-body .dialogue-text{padding:6px 10px;margin-left:52px;width:80%;border:1px solid #eee;background-color:#fafafa;color: #555}
#dialogue .dialogue-warp .dialogue-body .dialogue-text .btn{font-size:12px;line-height:normal;margin:0 5px;padding:0 7px}
#dialogue .dialogue-warp .dialogue-foot{background-color:#f5f5f5;border-radius:0 0 5px 5px;border-top:1px solid #f2f2f2;height:50px;margin:auto;text-align: center;}
#dialogue .dialogue-warp .dialogue-foot .dialogue-auto{color:#555;    font-size: 14px;
    padding: 8px 0px;}
#dialogue .dialogue-warp .dialogue-foot .dialogue-auto .dialogue-sec{margin-right:5px}
#dialogue .dialogue-warp .dialogue-foot button{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    border: 0px solid red;
    width: 49%;
}
#dialogue .dialogue-warp .dialogue-foot .dialogue-no  {border-left: 1px solid #f2f2f2;}
#loading-page .dialogue-warp{
    width: 180px;
    padding: 138px 15px 15px;
    background: rgba(86,86,86,0.65) url(/static/theme/default/image/Loading_icon.gif) no-repeat center 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    background-size: 60%;
    height: 180px;
    text-align: center;
    letter-spacing: 2px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.bet-btn {
    border-style: none;
    color: #393939;
    width: 31%;
    height: 40px;
    line-height: 26px;
    border-radius: 6px;
    white-space: nowrap;
    border: 1px solid #d0d0d0;
    font-size: 1em;
    overflow: hidden;
    margin-left: .5%;
}
.track-setup-1 {
    white-space: nowrap;
    float: left;
    width: 44%;
    margin: 1em 3%;
}
.track-setup-2 {
    white-space: nowrap;
    float: left;
    width: 44%;
    margin: 0 3% 1em;
}
.form-control,.form-control2 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.track-setup-1 .form-control,.track-setup-1 .form-control2, .track-setup-2 .form-control {
    display: inline-block;
    width: 42%;
    height: 36px;
    text-align: center;
    font-size: 1.2em;
}
.beiShu
{
	background-color: #F5F5F5;
}
.bets-body tr td{
text-align:center;
vertical-align: middle;
}
.bets-body table tr.head{
color:#35928f
}
.bets-body input {
	border-radius: 4px;
    border: 1px solid #b9b9b9;
    color: #74787c;
    width: 40px;
    text-align: center;
    line-height: 28px;
    height: 30px;
    vertical-align: top;
}
.zhuihao_display {
    background-color: #fafafa;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 10px;
}
.zhuiHao_mode 
{  
	line-height: 33px;
	float: left;
	padding-left: 15px;
}
.zhuiHao_mode_text 
{  
	 color: #bbb;  
	 height: 33px; 
	 line-height: 33px; 
	 border:none; 
	 outline: none; 
	 float: left; 
	 font-size: 85%; 
	 position: relative; 
	 z-index: 99;
	 padding-left: 5px;
}
.zhuiHao_foot_text
{
	padding-right: 50px;
}
.dialogue-foot-button
{
	background-color: #FFF;
	border-radius: 0 0 3px 3px;
	border-bottom: 1px solid #FFF;
	height: auto;
	line-height: 30px;
	margin: auto;
	text-align: center;
}

/***** 首頁相關 ****/
/*菜单*/
.menu { position: fixed; width: 100%; bottom: 0; left: 0; right: 0; z-index: 6; /*transform: translate3d(0, 0, 0);*/ margin:auto; background: #171719 }
.menu ul { margin:auto; overflow: hidden; background: #171719; }
.menu ul li { width:20%; float: left;}
.menu a img { max-width: 100%; height: auto; }
body,#wrapper_1{-webkit-overflow-scrolling:touch;overflow-y:visible!important;overflow-scrolling:touch;color:#ddd;}/*解决苹果滚动条卡顿的问题*/


