body,p,button{margin:0}
body,input,button{font:12px 'Century Gothic','Microsoft YaHei',Tahoma,Verdana,Arial,helvetica,sans-serif}
body{color:#555;background:url(/static/theme/default/image/login/body-bg.jpg) repeat top left fixed}
a,input,button,.trans{-webkit-transition:all .218s linear;-moz-transition:all .218s linear;transition:all .218s linear;outline:0}
a{text-decoration:none}

.form-item {
    margin-bottom: 16px;
}
.form-input {
	box-sizing: border-box;
    color: #fff;
    width: 100%;
    padding: 10px 10px 10px 36px;
    border: 2px solid #979797;
    border-radius: 0;
    font-size: 14px;
    line-height: 20px;
    height: 44px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    background-repeat: no-repeat;
    background-color: rgba(0, 0, 0, 0.15);
}
.form-user {
    background-image: url("/static/theme/default/image/login/login-user.png");
    background-position: 10px 50%;
}

.form-password {
    background-image: url("/static/theme/default/image/login/login-password.png");
    background-position: 12px 50%;
}

.form-user:focus {
    background-image: url("/static/theme/default/image/login/login-user-c.png");
    background-position: 10px 50%;
}

.form-password:focus {
    background-image: url("/static/theme/default/image/login/login-password-c.png");
    background-position: 12px 50%;
}

.form-code:focus {
    background-image: url("/static/theme/default/image/login/login-code-c.png");
    background-position: 12px 50%;
}
.common-btn {
    color: #FFAA0D;
    width: 100%;
    font-size: 24px;
    text-align: center;
    height: 44px;
    border: 2px solid #FFAA0D;
    position: relative;
    cursor: pointer;
    margin-bottom: 16px;
    box-sizing: border-box;
    background: 0 0;
}
.remind {
    white-space: nowrap;
    background: #fff;
    border-radius: 3px;
    text-align: center;
    padding: 10px;
    margin: 0 auto 10px;
    position: relative;
    font-size: 13px;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
    filter: alpha(opacity=0);
    opacity: 0;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
}

.remind span {
    background: #FBA026;
    color: #201911;
    margin-right: 5px;
    width: 18px;
    height: 18px;
    line-height: 20px;
    text-align: center;
    border-radius: 3px;
}

.order-remind {
    position: absolute;
    top: -50px;
}
.remind:after {
    content: '';
    display: block;
    position: absolute;
    bottom: -12px;
    left: 50%;
    margin-left: -7px;
    border: 7px solid transparent;
    border-top: 7px solid #fff;
}

.remind-error {
    filter: alpha(opacity=100);
    opacity: 1;
}