body{background-color: #252944;}
.pp_fix_1{width: 100%;height: 150px;text-align: center;}
.pp_textarea{width: 85%;height: 70px; margin-top: 30px; margin-left:20px; text-align: left;}
.z2r2{margin-top: 40px; margin-left:20px; }
.clear2 { width: 100%; height: 0; overflow: hidden; clear: both; border-bottom: 1px solid #000; padding-bottom: 13px; }

#num-select .pp .title,#num-select .pp ._title{float:left;height:32px;line-height:32px;border:1px solid #4A5070;border-radius:2px;width:52px;text-align:center;font-size:14px;margin-right:12px;color:#ddd;position:relative;margin-top: 13px;}
#num-select .pp .title:after{margin:-5px 0 0 0;position:absolute;right:5px;top:50%}
#num-select .pp .title:before{margin:-5px 0 0 0;position:absolute;left:5px;top:50%}
#num-select .pp .code{-webkit-appearance: none;float:left;margin-right:0px;width:34px;height:34px;line-height:34px;text-align:center;border:1px solid #4A5070;cursor:pointer;background-color:#4A5070;border-radius:50%;font-size:20px;color:#ddd;padding-left:1px;}
#num-select .pp .code28{float:none}
#num-select .pp .code28:disabled{background-color:#555;color:#989299;border-color:#555}
#num-select .pp.l3 .code{width:44px;font-size:16px}
#num-select .pp.lm .code{width:auto;border-radius:2px;padding:0 10px}
#num-select .pp.c20{padding:3px 0;height:28px}
#num-select .pp.c20 .title{height:26px;line-height:26px;}
#num-select .pp.c20 .code{margin-right:2px;width:28px;height:28px;line-height:26px;font-size:12px}
#num-select .pp.c20 .action{height:26px;line-height:24px;padding:0 8px}
#num-select .pp.cm{height:auto;margin-bottom:4px}
#num-select .pp.cm .code{margin-bottom:6px}
#num-select .pp.cm .action{position:absolute;bottom:6px;margin:0} 
#num-select .pp .code.checked{background-color:#ddd;border-color:#ddd;}
#num-select .pp .code.checked{color:#252944}
#num-select .pp .action{display:inline-block; float:right;border-radius:2px;background-color:rgba(53,60,84,.3);height:32px;line-height:30px;border:1px solid #485270;padding:0 10px;color:#c9c9c9;cursor:pointer;margin-left:5px;font-size:13px}
#num-select .pp .code_box{ border-radius: 0%;width:60px; }
.ch_numball { float: left; width: 100%; }
.ch_numball ul { width: 100%; }
.ch_numball ul li,.six_numball ul li,.three-numball ul li { float: left; width: 20%; text-align: center; height: 30px; margin-top: 13px; position: relative; }
.ch_numball28{margin-bottom: 120px;}
.code_numball ul li {width:25%;margin-top: 20px;height: 50px;}
.color_numball ul li {width:33%;margin-top: 20px;height: 50px;}
.ch_box {clear: both;margin-top: 8px !important ;}
.ch_box li{width: 16% !important; text-align: left !important;}
.ch_box li input {float: left !important;margin-left: 0px !important;}
.ch_box input{-webkit-appearance: none;}

.six_numball ul li { height: 50px; }
.six_numball_nopl ul li { height: 32px; }
.three-numball ul li { width: 33.33%; }
.three-numball ul li .lot-odds { font-size: 80%; margin-left: -20px; }
.ball-red span,.ball-blue span,.ball-green span { width: 33px; height: 33px; display: inline-block; text-align: center; line-height: 33px; background: #fff; border: 1px solid #bdbdbd; color: #ca1a1a; border-radius: 50%; font-size: 22px; cursor: pointer; margin: 0 auto; overflow: hidden; }
.three-numball ul li span { display: inline-block; text-align: center; line-height: 33px; background: #fff; border: 1px solid #bdbdbd; color: #ca1a1a; font-size: 14px; cursor: pointer; margin: 0 auto; overflow: hidden; padding:0 5px; }
.three-numball ul li .ball-active { background: #c91b1c; border:1px solid #c91b1c; color: #fff; }

.six-ul ul {padding:0 10px;margin-top: 10px;}
.six-ul ul li { width:29%; float: left; margin:0 2%; }
.six-lunar ul li {margin-bottom: 10px;}
.lot-number-tip { border-bottom:1px solid #485270; color:#CD5C5B; text-align:center; line-height: 24px; overflow: hidden;}
.lot-number-tip .gray { color:#666; font-size:80%; }
.lot-odds { position: absolute; width: 100%; text-align: center; bottom: -10px; z-index: 5; color: #a9a9a9 }
#clear_num_func,#digit_select_all{display: inline-block; width: 120px;border: 1px solid #485270;margin-top: 10px;border-radius: 3px;text-align: center;padding: 6px;cursor: pointer;}
#digit_select_all{ width: 70px;}
.dantuo{margin-left: 70px;}
.robot_bet{display: inline-block;float: right;border-radius: 2px;background-color: rgba(53,60,84,.3);height: 32px;line-height: 30px;border: 1px solid #485270;padding: 0 10px;color: #c9c9c9;cursor: pointer;margin-left: 5px;font-size: 13px;margin-right: 12px;}
.robot_star{color:#C55959}
