/*-- 清除原属性 --*/
html, body, div, p { box-sizing: border-box;margin:0;padding:0;color: #ddd;}
body{background-color: #1b1c2e;}
div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video, input { margin: 0; padding: 0; border: none; outline: 0; font-size: 100%; font: inherit; vertical-align: baseline; }
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }
blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
ins { text-decoration: none; }
del { text-decoration: line-through; }
table { border-collapse: collapse; border-spacing: 0;}
body,button { font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", 'Microsoft YaHei', sans-serif;}
a { color: #ddd; text-decoration: none; }
a:focus { color: #ddd; text-decoration: none;}
input { outline: none;}
img { max-width: 100% }
input:-webkit-autofill {-webkit-box-shadow:0 0 0 1000px #fff inset;-webkit-text-fill-color:#999;}
.fl { float: left; }
.fr { float: right; }
.clear { width: 100%; height: 0; overflow: hidden; clear: both; }
.grey { color: #999; }
.red { color: #CD5C5B }
.green { color: #1b6123 } 
.dis { display: block; }
.text-center { text-align: center; }
.f80 { font-size: 80% }
.f100 { font-size: 100% }
.f120 { font-size: 120% }

/*公用样式*/
.sub_ScorllCont .textar { margin-top: 5px; outline: none; resize: none; font-family:'Helvetica Neue', Arial, "Hiragino Sans GB", 'Microsoft YaHei', sans-serif; padding:10px 15px; color:#666; font-size:1rem; box-sizing: border-box; width: 100%; border:1px solid #ddd; }
.c-red { color: #CD5C5B }
.lottery-list-erect{}
.scorllmain-Beet,.scorllmain-Beet-list,.scorll-order,
 .sixmain-Beet,.sixmain-Beet2
 { width: 100%; height:auto; padding: 0; display: block;z-index: 2;
  -webkit-box-flex:1;-webkit-flex:1;flex:1;} 
   .scorllmain-content{width: 100%; padding: 0; display: block;overflow:visible;}
  .lott_bar 
 { width: 100%; height:auto; padding: 0; display: block;
  -webkit-box-flex:1;-webkit-flex:1;flex:1;}
.scorllmain-Beet { bottom:45px;  }
.scorll-order { bottom:0; padding-bottom: 0 !important; } 
.sixmain-Beet { bottom:86px; }
.sixmain-Beet2 { bottom:100px; }
.scorllmain-Beet-list { bottom:120px;}
/*#wrapper_1 .sub_ScorllCont,#wrapper_2 .sub_ScorllCont{ position: absolute; z-index: 2; -webkit-tap-highlight-color: rgba(0,0,0,0); width: 100%; -webkit-transform: translateZ(0); -moz-transform: translateZ(0); -ms-transform: translateZ(0); -o-transform: translateZ(0); transform: translateZ(0);}
*/
/*-- 头部 --*/
.header { background: #252944; width: 100%; height: 45px; position:fixed; z-index: 100; top: 0; left: 0; right: 0; border-bottom: 1px solid #000;}
.header #reveal-left, .header .reveal-left, .header #reveal-right { color: #fff; width: 36px; height: 36px; display: block; text-indent: -99999px; border: none; position: absolute; cursor: pointer; outline: none; }
.ui-toolbar-left, .ui-toolbar-right { position: absolute; z-index: 2 }
.ui-toolbar-right { right:10px; top: 7px; width: 65px;  height: 30px;}
.ui-toolbar-left {background: url(/static/theme/default/image/goucai_qiehua_07.png) no-repeat;}
.ui-head { background: url(/static/theme/default/image/goucai_qiehua_03.png) no-repeat; width: 65px; background-size: 65px 30px; height: 30px;}
.ui-toolbar-right a {width:32.5px; height: 30px; display: block; float: left;}
.header #reveal-left, .header .reveal-left { background: url(/static/theme/default/image/blank_01.png) no-repeat; background-size: 42.5px; height: 44px; width:42.5px; height:43px; display: block;}
.header h1 { width: 100%; text-align: center; font-size: 22px; line-height: 44px; color: #fff; }
.header-logout {  height:25px;  background-size: 70px 25px;  position: absolute; right: 10px;  top: 10px;  z-index: 9;color: #ddd}
/*.bett-top-box { width:320px; position: absolute; left: 50%; margin-left: -160px;}*/
.bett-top-box { position: relative;display: flex;flex-wrap: wrap;justify-content: center;align-items: center; }
.bett-top-box div {margin: 0 5px;float: left;line-height:26px;}
.header .ui-betting-title { position: absolute; left: 0; top: 5px; z-index: 1; width: 100%; text-align: center;}
/*.header .ui-betting-title .bett-top { margin-left: -50%; }*/
.bett-top-box  {display: inline-table;}
.header .ui-betting-title .bett-play { font-size:12px; line-height: 14px; width:12px; height: 34px; display: inline-block; padding-top: 5px; padding-right: 8px; }
.bett-attr { background: url(/static/theme/default/image/top_zhong_sanjiao.png) no-repeat right center; width: 12.5px; height: 8.5px; background-size:12.5px 8.5px; display: inline-block; padding-right: 5px; }
.bett-tit { border:1px solid #ddd; border-radius: 5px; height: 28px; line-height: 22px; padding: 0 10px; font-size:90%; display: inline-block; margin-top: 4px !important;}
.bett-top .bett-tit {position: relative;top: -4px;}
.ui-text-right { position: absolute; right:10px; top: 0; line-height: 44px; }
.ui-text-right a { color: #fff; }

.news-tit {  padding: 10px;background: #f5f5f5;border-bottom:1px solid #e8e8e8;}
.news-tit a{ max-width: 100%;color: #000;min-font-size:30px; }
.pol-icon { background: url(../images/index_jiangzhang.png) no-repeat; background-size:12px 12px; width:12px; height: 12px; float: left; margin:6px 5px; }
.news-info ul li { position: relative; overflow: hidden; line-height: 24px; }
.news-info ul { padding:0 10px; color: #666; font-size: 80%; }
.news-left { float: left; width:33.33%; }
.news-center { position: absolute; left: 33.33%; width: 33.33%; }
.news-right { width:33.33%; }
.news-center a { color:#ec282a; }
.news-tit-ul { height: 32px; line-height: 32px; padding:0 10px; box-sizing: border-box; background: #eaeaea; overflow: hidden; }
.news-info-list ul li { border-bottom: 1px solid #ddd; height: 30px; line-height: 30px; color: #555; }
.news-info-list ul li .pol-icon { margin-top: 9px; }

.tow-ball-cont{height: 30px; line-height: 40px; font-size: 1.4rem !important; color:#CF5C55;}
.two-lottery { margin-top: 5px; font-size:140%; }
.k3-lottery { text-align:center; color:#fff; line-height: 25px; }
.k3-lot { font-size: 110%; }

/*-- 投注大厅 --*/
.bett-buy { position: fixed; bottom: 45px; left: 0; right: 0; z-index: 99; background: #fff; border-top:1px solid #ddd; height: 75px; }
.ui-bett-right { background: url(/static/theme/default/image/top_you_anniu_01.png) no-repeat; width:51px; height: 44px; background-size:51px 44px; position: absolute; right: 5px; top: 0; z-index: 9; cursor: pointer;}
.ui-bett-with { height: 44px;  position: absolute; right: 10px; top: 0; z-index: 9; font-size:80%; }
.ui-bett-with a { color: #fff; line-height: 44px; }
.ui-bett-refresh { background: url(/static/theme/default/image/shuaxin_01.png) no-repeat; width:51px; height: 44px; background-size:51px 44px; position: absolute; right: 0; top: 0; z-index: 9; }
.bett-head { display: block; width: 51px; height: 44px;}

.lot-time,.dat-time { background-color: #1b1c2e;width:50%; border-right:1px solid #9d9d9d; float: left; height:60px; text-align: center; padding:5px; box-sizing: border-box; font-size:80%; overflow: hidden; }

.time-ico { background: url(/static/theme/default/image/touzhu_pic_18.png) no-repeat center; margin-left: -15px; height: 16px; width:16px; background-size:16px 16px; padding:0px 25px 0 0;}
.wait-lot {  font-size:120%; margin-top: 8px;}
.wait-lot10 { margin-top: 8px;   }
.wait-lot11 { margin-top: 0px; text-align: left; }
.lot-tip { overflow: hidden;height:60px;border-bottom: 1px solid #000;}

.time-late { background: url(/static/theme/default/image/shijian_bg.png) no-repeat; width:121px; height: 25px; background-size:121px 25px; margin:5px auto 0;  }
.time-late span { width:17px; height: 25px; float: left; display: block; line-height: 25px; color: #eb2b2a; font-size:110%; }
.time-late span.time-kong { width:9px; }
.lot-up { margin: 5px 0 0; overflow: hidden; }
.lot-up-left { width:35%; float: left; }
.lot-up-left img,a{max-width: 100%; }
.lot-up-left a{display:inline-block; -height:35px;}
.lot-up-right { float: right; line-height: 40px; padding-right: 10px; color: #666; font-size:96%; }

.go-back { background: url(/static/theme/default/image/back.png) no-repeat; background-size: 115px 28px; float: left; color: #666; font-size: 80%; position: relative; line-height: 28px;  width: 60px; padding-left: 25px;}
.go-back i { background: #ffd200; width:18px; height: 18px; position: absolute; right:-5px; top:-5px; z-index: 9; color: #ff3200; border-radius: 50%; display: block; text-align: center; line-height: 18px; font-size: 80%}
.menu_offon { float: right; margin-right: 10px; position: relative; line-height: 28px; padding-left: 25px;  margin-top: 2%; }

.lot-number-top { border-bottom: 1px solid #000; padding-bottom: 13px; }

.lot-te { float: left; color:red; margin-left: 15px; }
.lot-pei { font-size:80%; color:#c9c9c9; margin-left: 45px; }
.lot-number-bottom { padding-bottom: 30px; }
.lot-number-left { width:20%; float: left; padding:25px 0 0 10px; box-sizing: border-box; }
.lot-number-left2 { width:80%; float: left; }
.lot-number-right { width:80%; float: right; }
.lot-txt { background: url(../images/betting/touzhu_qian_bg.png) no-repeat; width: 52px; height: 20px; background-size:52px 20px; line-height: 20px; padding-left:5px; box-sizing: border-box; font-size: 80%; margin-bottom: 10px; color: #333; }


.ball-red span:active,.ball-blue span:active { width: 60px; height: 95px; line-height: 60px; font-size: 20px; background: url(../images/betting/anjian_hong.png); border: none; color: #fff; position: absolute; top:-55px; left: 50%; margin-left: -30px; background-size:60px 95px; z-index: 10;}
.ball-blue span { color: #1b87c8; }
.ball-blue span:active {background: url(../images/betting/anjian_lan.png); background-size:60px 95px;}
.ball-green span { color:green;}
.lot-odds { position: absolute; width: 100%; text-align: center; bottom: -10px; z-index: 5; color: #a9a9a9 }

.ball-red span.ball-active { background: #c91b1c; border:1px solid #c91b1c; color: #fff; }
.ball-blue span.ball-active { background: #1c85c9; border:1px solid #1c85c9; color: #fff; }
.ball-green span.ball-active { background: #00bf16; border:1px solid #00bf16; color: #fff; }

.code_numball ul li { width:25%; margin-top: 20px; height: 50px; }
.code_numball ul li span { background: url(../images/liuhecai_btn_xiao.png) no-repeat; background-size: 55px 35px; width:55px; height: 35px; display: inline-block; line-height: 35px; font-size: 80%;  }
.code_numball ul li span.ball-active { background: url(../images/liuhecai_btn_xuanzhong_02.png) #fff no-repeat; background-size: 55px 35px; width:55px; height: 35px; }

.bett-number { width:250px; margin:10px auto;}
.bett-number2 { text-align: center; padding:5px 0; }
.bett-number label {}
.bett-foot-box {padding:5px 10px; position: fixed; bottom: 0; left: 0; right: 0; z-index: 5; }
.bett-foot-2 { background: #252525; height: 45px; padding:5px 10px; left: 0; right: 0; z-index: 50; position:absolute; top: -80px; border-top: 1px solid #555;border-bottom:1px dashed #555;}
.bett-foot-2-txt{position: absolute; text-align: left; left: 10px; right: 0; line-height: 36px; }
.bett-foot-2-txt-wrench{position: absolute; text-align: right; left: 0; right: 10px; line-height: 36px; }
.bett-foot { background: #252525; height: 45px; padding:5px 10px; box-sizing: border-box; position: fixed; bottom: 0; left: 0; right: 0; z-index: 5; }
.btn-none,.btn-add { background: #363636; border-radius: 3px; color: #bbb; width:80px; height: 33px; line-height: 33px; border:none; outline: none; float: left; font-size: 85%; position: relative; z-index: 99; }
.btn-add { background: #ffb400; float: right; color: #242625 }


.beet-foot-txt {position: absolute; text-align: center; left: 0; right: 0; color: #fff; line-height: 18px; }
.beet-foot-txt .beet-note { color: #ffb400; line-height: 36px; }
.beet-foot-txt p { font-size:80%; line-height: 36px; }

.bett-top-btn { width:90%; margin:10px auto; overflow: hidden; text-align: center;}
.bett-top-btn .btn-add1,.bett-top-btn .btn-add2 { background: url(/static/theme/default/image/touzhu_tianjia_01.png) no-repeat; width: 138px; height: 35px; background-size:138px 35px; border:0; float: left; outline: none;  }
.bett-top-btn .btn-add2 { background: url(/static/theme/default/image/touzhu_tianjia_02.png) no-repeat; background-size:138px 35px; float: right;}
.betting-info-box { width: 100% }
.bet-top { background: url(/static/theme/default/image/touzhus_anniu_top_01.png) no-repeat; width:90%; height: 14px; background-size:100% 14px; margin:auto;   }
.bet-info { background: url(/static/theme/default/image/touzhus_anniu_bg.png) repeat-y; width:90%; background-size: 100% 100%; margin:auto; }
.bet-foot { background: url(/static/theme/default/image/touzhus_anniu_ft.png) no-repeat; width:90%; height: 10px; background-size: 100% 10px; margin:auto; }
.bet-info ul { margin:0 2%; }
.bet-info ul li { overflow: hidden; border-top: 1px dashed #d8d8d8; padding:5px 15px; position: relative; cursor: pointer; }
.bet-info ul li.choosed{    background-color: rgba(255, 180, 0, 0.35);border-radius: 3px;}
.bet-close { background: url(/static/theme/default/image/touzhu_close_02.png) no-repeat; width:30px; height: 30px; background-size: 30px 30px; display: block; float: left; margin:10px 8px 0 0;}
.bet-info-li { float: left; }
.bet-number { color: #bb0102; font-size:100%; }
.bet-info ul p { font-size:80%;margin: 8px 0; }
.bet-tall,.bet-low { background: url(../images/betting/alarm_gao.png) no-repeat; width:55px; height: 24px; background-size: 55px 24px; position: absolute; top: 12px; right:8px; }
.bet-inp{position: absolute;bottom: 32px;right: 8px;}
.bet-inp span{font-size: 80%;}
.bet-inp input{width:62px;height: 16px;border: 1px solid #999;border-radius: 2px;font-size: 75%;}

.bet-low { background: url(../images/betting/alarm_di.png) no-repeat; background-size: 55px 24px;  }
.bet-bot { text-align: center; margin:20px 0; font-size:85%;}
.bet-bot a { color: #118bce }

.bett-buy-top ul { display: -webkit-box; display: flex; margin:8px 0; }
.bett-buy-top ul li { width:50%; padding:0 15px 0 25px; box-sizing:border-box;}
.bett-buy-top ul li.fr { float: right; }
.bett-buy-top .fl { margin-top: 3px;}
.buy-int { width:50%; border:1px solid #ccc; border-radius: 3px; background: #f3f3f3; height:28px; text-align: center; line-height: 14px;  }
.bett-input { margin:0 20px; }

/*-- 玩法弹窗 --*/
.beet-tips { position: fixed; left: 0; top: 44px; right: 0; background: #1B1C2E; border-bottom: 2px solid #000; z-index: 999; }
.beet-tips-tit { border-bottom: 1px solid #4A5070; text-align: center; margin:0 0 10px; position: relative;}
.beet-tips-tit span { background: #1B1C2E; padding:0 5px; position: relative; top: 10px;}
.beet-tips ul { overflow: hidden; margin:10px 0 20px; }
.beet-tips ul li { width:33.33%; float: left; text-align: center; margin-bottom: 10px; }
.beet-tips ul li a,.beet-tips ul li a.active { border-radius:3px;border: 1px solid #4A5070; width:92px; height: 28px; background-size: 92px; height: 28px; display: inline-block; line-height: 28px; }
.beet-tips ul li a.on { border-radius:3px;border: 1px solid #4A5070;color: #ddd;background: #4A5070; }

.beet-rig { position: absolute; top: 35px; right: 15px; background: url(/static/theme/default/image/you_caidan_box.png) no-repeat; width:117px; height:160px; background-size:117px 123px; z-index: 100  }
.beet-rig ul { margin: 11px 1px 0; }
.beet-rig ul li { text-align: center; line-height: 36px; height: 36px; border-bottom: 1px solid #34384F; background: #1B1C2E;}
.beet-rig ul li a { color: #ddd; display: block; }

.bett-odd,.bett-odd-r { background: url(../images/betting/peilv_btn_01.png) no-repeat; width:123px; height: 32.5px; background-size:123px 32.5px; }
.bett-odd a,.bett-odd-r a { width: 50%; color: #fff; float: left; padding: 5px 0 0 20px; box-sizing: border-box; font-size: 80%; height: 32.5px;}
.bett-odd a.btn-tall { color: #666; padding: 5px 0 0 10px; }
.bett-odd-r a.btn-tall {color: #fff; padding: 5px 0 0 10px;}
.bett-odd-r a.btn-low { color: #666;}

.bett-odd-r {background: url(../images/betting/peilv_btn_02.png) no-repeat;  background-size:123px 32.5px;}

.beet-money { overflow: hidden; line-height: 26px; margin-bottom:10px; }
.beet-money a { width:32px; text-align: center; height: 24px; line-height: 24px; color:#666; background: #f3f3f3; border:1px solid #ddd; display: inline-block;}
.beet-money a.acitve {background: #f28010;color: #fff;border:1px solid #dd7212;}
.beet-money .fl { line-height: 26px; }

#play-mod b {
    float: left;
    margin-right: 9px;
    font-weight: 500;
    border-radius: 50%;
    background-color: #ffffff;
    height: 21px;
    line-height: 21px;
    width: 21px;
    text-align: center;
    margin-top: 4px;
    color: #555;
    border: 1px solid #ddd;
    cursor: pointer;
}
#play-mod b.on {
    background-color: #f07a64;
    border-color: #ea7059;
    color: #f9f9f9;
}
#beishu-warp{padding-right:0px;border-right:none;position: absolute; text-align: right; right: 10px; line-height: 28px; }
#beishu-warp i{border-radius:3px;border:1px solid #cfcfcf;background-color:#f9f9f9;cursor:pointer;height:19px;width:26px;line-height:19px;margin-top:5px;color:#555;display:inline-block;}
#beishu-warp i:before{margin:0;line-height:normal;padding:0 5px}
#beishu-warp i:hover{background-color:#f0f0f0;border-color:#ccc}
#beishu-value{border:1px solid #cfcfcf;background-color:#f9f9f9;width:50px;text-align:center;color:#555;border-radius:3px;margin:0px 5px;padding:0;-webkit-appearance: none;}


.dialogue{position:fixed;top:0;left:0;width:100%;height:100%;background-color:rgba(0,0,0,.3);z-index:1000;display:none}
.dialogue .dialogue-warp{margin: 100px auto;}
#dialogue .dialogue-warp{margin: 100px auto;width: 90%;
    max-width: 350px;}
#dialogue.big .dialogue-warp{    width: 90%;
    max-width: 350px;}
#dialogue .dialogue-warp .dialogue-head{background-color:#4b4b4b;padding:15px;border-radius:5px 5px 0 0; text-align: center; border-bottom: 1px solid #f2f2f2;}
#dialogue .dialogue-warp .dialogue-head .dialogue-title{font-size:16px;color:#fff}
#dialogue .dialogue-warp .dialogue-body{background-color:#fff;padding:20px 15px;font-size:13px;color:#555;min-height:37px;line-height:24px;}
#dialogue .dialogue-warp .dialogue-body .submit-bets-title{color:#555}
#dialogue .dialogue-warp .dialogue-body .submit-bets-info .left{color:#555}
#dialogue .dialogue-warp .dialogue-body pre{white-space:pre-wrap;}
#dialogue .dialogue-warp .dialogue-body .dialogue-icon{float:left;margin-right:10px}
#dialogue .dialogue-warp .dialogue-body .dialogue-icon:before{padding:6px 5px 4px;border:1px solid transparent;border-radius:50px;font-size:25px;margin:0}
#dialogue .dialogue-warp .dialogue-body .dialogue-icon.error:before{color:#f07a64;border-color:#f07a64}
#dialogue .dialogue-warp .dialogue-body .dialogue-icon.success:before{color:#93d79b;border-color:#93d79b}
#dialogue .dialogue-warp .dialogue-body .dialogue-text{padding:6px 10px;margin-left:52px;width:80%;border:1px solid #eee;background-color:#fafafa;color: #555;overflow: scroll;
    max-height: 250px;}
#dialogue .dialogue-warp .dialogue-body .dialogue-text .btn{font-size:12px;line-height:normal;margin:0 5px;padding:0 7px}
#dialogue .dialogue-warp .dialogue-foot{background-color:#f5f5f5;border-radius:0 0 5px 5px;border-top:1px solid #f2f2f2;height:50px;margin:auto;text-align: center;}
#dialogue .dialogue-warp .dialogue-foot .dialogue-auto{color:#555;    font-size: 14px;
    padding: 8px 0px;}
#dialogue .dialogue-warp .dialogue-foot .dialogue-auto .dialogue-sec{margin-right:5px}
#dialogue .dialogue-warp .dialogue-foot button{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    border: 0px solid red;
    width: 49%;
    
}
#dialogue .dialogue-warp .dialogue-foot .dialogue-no  {border-left: 1px solid #f2f2f2;}

#game_robot .dialogue-warp{margin: 100px auto;width: 90%;max-width: 350px;}
#game_robot .dialogue-warp .dialogue-head{background-color:#4b4b4b;padding:15px;border-radius:5px 5px 0 0; text-align: center; border-bottom: 1px solid #f2f2f2;}
#game_robot .dialogue-warp .dialogue-head .dialogue-title{font-size:16px;color:#fff}
#game_robot .dialogue-warp .dialogue-body{background-color:#fff;padding:20px 15px;font-size:13px;color:#555;min-height:37px;line-height:24px}
#game_robot .dialogue-warp .dialogue-body .submit-bets-title{color:#555}
#game_robot .dialogue-warp .dialogue-body .submit-bets-info .left{color:#555}
#game_robot .dialogue-warp .dialogue-body pre{white-space:pre-wrap;}
#game_robot .dialogue-warp .dialogue-body .dialogue-icon{float:left;margin-right:10px}
#game_robot .dialogue-warp .dialogue-body .dialogue-icon:before{padding:6px 5px 4px;border:1px solid transparent;border-radius:50px;font-size:25px;margin:0}
#game_robot .dialogue-warp .dialogue-body .dialogue-text{padding:6px 10px;margin-left:52px;width:80%;border:1px solid #eee;background-color:#fafafa;color: #555}
#game_robot .dialogue-warp .dialogue-body .dialogue-text .btn{font-size:12px;line-height:normal;margin:0 5px;padding:0 7px}
#game_robot .dialogue-warp .dialogue-foot{background-color:#f5f5f5;border-radius:0 0 5px 5px;border-top:1px solid #f2f2f2;height:50px;margin:auto;text-align: center;}
#game_robot .dialogue-warp .dialogue-foot .dialogue-auto{color:#555;    font-size: 14px;
    padding: 8px 0px;}
#game_robot .dialogue-warp .dialogue-foot .dialogue-auto .dialogue-sec{margin-right:5px}
#game_robot .dialogue-warp .dialogue-foot button{
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    background-color: #fff;
    padding: 0px;
    margin: 0px;
    border: 0px solid red;
    width: 49%;
    
}
#game_robot .dialogue-warp .dialogue-foot .dialogue-no  {border-left: 1px solid #f2f2f2;}
#game_robot .num{color:#E64759}

#loading-page .dialogue-warp{
    width: 180px;
    padding: 138px 15px 15px;
    background: rgba(86,86,86,0.65) url(/static/theme/default/image/Loading_icon.gif) no-repeat center 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    background-size: 60%;
    height: 180px;
    text-align: center;
    letter-spacing: 2px;
}
.btn-default {
    color: #333;
    background-color: #fff;
    border-color: #ccc;
}
.bet-btn {
    border-style: none;
    color: #393939;
    width: 31%;
    height: 40px;
    line-height: 26px;
    border-radius: 6px;
    white-space: nowrap;
    border: 1px solid #d0d0d0;
    font-size: 1em;
    overflow: hidden;
    margin-left: .5%;
}
.track-setup-1 {
    white-space: nowrap;
    float: left;
    width: 44%;
    margin: 1em 3%;
}
.track-setup-2 {
    white-space: nowrap;
    float: left;
    width: 44%;
    margin: 0 3% 1em;
}
.form-control,.form-control2 {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
}
.track-setup-1 .form-control,.track-setup-1 .form-control2, .track-setup-2 .form-control {
    display: inline-block;
    width: 42%;
    height: 36px;
    text-align: center;
    font-size: 1.2em;
	    margin: 0 5px;
}
.beiShu
{
	background-color: #F5F5F5;
}
.bets-body tr td{
text-align:center;
vertical-align: middle;
}
.bets-body table tr.head{
color:#c2c2c2;
height:40px;
}
.bets-body input {
	border-radius: 4px;
    border: 1px solid #b9b9b9;
    color: #74787c;

    text-align: center;
    line-height: 28px;
    vertical-align: top;
}
.bets-body input[type='checkbox']{
	width:15px;
	height:15px;
}
.bets-body table{
	width:100%;
	background-color: #252944;
}
.bets-body table td{
	padding:3px 0px;
}
.bets-body .choose_all{width:65px;}
.bets-body .beiShu{
	width:40px;
}
.zhuihao_box .btn-yellow{    padding: 3% 0 0 3%;display:block;}
 
.zhuihao_display {
    background-color: #1b1c2e;
}
input[type=checkbox]
{
  /* Double-sized Checkboxes */
  -ms-transform: scale(1.5); /* IE */
  -moz-transform: scale(1.5); /* FF */
  -webkit-transform: scale(1.5); /* Safari and Chrome */
  -o-transform: scale(1.5); /* Opera */
  padding: 3px;
}
.zhuiHao_mode 
{  
	line-height: 33px;
	float: left;
	padding-left: 15px;
	    padding-top: 10px;
}
.zhuiHao_mode_text 
{  
	 color: #bbb;  
	 height: 33px; 
	 line-height: 33px; 
	 border:none; 
	 outline: none; 
	 float: left; 
	 font-size: 85%; 
	 position: relative; 
	 z-index: 99;
	 padding-left: 5px;
}
.zhuiHao_foot_text
{
	padding-right: 50px;
}
.dialogue-foot-button
{
	background-color: #FFF;
	border-radius: 0 0 3px 3px;
	border-bottom: 0px solid #D3D3D3;
	height: 50px;
	line-height: 50px;
	margin: auto;
	text-align: center;
}

/***** 首頁相關 ****/
/*菜单*/
.menu { position: fixed; width: 100%; bottom: 0; left: 0; right: 0; z-index: 6; /*transform: translate3d(0, 0, 0);*/ margin:auto; background: #171719 }
.menu ul { margin:auto; overflow: hidden; background: #171719; }
.menu ul li { width:25%; float: left;}
.menu a img { max-width: 100%; height: auto; }
body,#wrapper_1{-webkit-overflow-scrolling:touch;overflow-y:visible!important;overflow-scrolling:touch;}/*解决苹果滚动条卡顿的问题*/


/*-- 竖版 --*/
.lottery-list-erect ul li { overflow: hidden; padding-right: 15px; }
.lottery-list-erect ul li a { background: url(/static/theme/default/image/goucai_hp_more.png) no-repeat center right; background-size:7.5px 13.5px; border-bottom: 1px solid #4A5070; display: block; overflow: hidden;}
.lottery-list-erect ul li .hot-icon {float: left;padding:13px;width: 25%;}
.lottery-list-erect ul li .hot-icon img { max-width: 100% }
.erect-right { float: left; margin-top: 6px; width: 75% }
.erect-right .last-time { color:#CD5C5B; line-height: 30px;}
.erect-right .last-time span { }
.erect-right .last-time span.fr{ margin-right: 4%;}
.erect-right .price { font-size: 1.2rem; color: #eb2929; margin-left: 0.3rem; padding-top: 0.2rem; float: left; display: block;}
.erect-right .last-time-fuz { font-size: 0.5rem; float: left;}

/*-- 开奖公告 --*/
.lottery-info ul li,.lott-list ul li.list-k3,.lott-list ul li.lott-k3-list { border-bottom: 1px solid #4A5070;  padding:10px 15px; overflow: hidden;}
.lottery-info ul li a,.lott-list ul li.list-k3 a { background: url(/static/theme/default/image/goucai_hp_more.png) no-repeat center right; background-size:7.5px 13.5px; height: 70px; display: block;}
.lot-num-list i.lot-number,i.lot-number-blue { background: #c91b1c; width:30px; height: 30px; border-radius: 50%; color: #fff; line-height: 30px; text-align: center; display: block; float: left; margin:5px 10px 0 0; }
.lot-num-list i.lot-number-blue { background: #1c85c9}

.lot-num-list i.lot,i.lot-blue,.two-ball i { width:30px; height: 30px; line-height: 30px; text-align: center; display: block; float: left; margin:5px 10px 0 0;  color: #ca1a1a}
.lot-num-list i.lot-blue { color: #1c85c9 }

.lott-list-tit { font-size: 80%;  }
.lott-list-tit span { font-size: 120%; color: #CD5C5B; padding-right: 5px; }
.lott-list-tit span.gray { color:#ddd; }
.lott-k3 { line-height: 35px; }
.lott-list ul li.list-k3,.lott-list ul li.lott-klpk3 { overflow: hidden; padding-bottom: 10px; }
.k3-number { float: left; margin-right: 10px; margin-top: 5px; }
.klpk3-number { float: left; margin-left: -10px; }
.k3-number ul,.klpk3-number ul  { font-size: 1.2rem; background: url(/static/theme/default/image/kaijiang_kuaisan.png) no-repeat; width:127px; height: 35px; background-size:127px 35px; padding:5px 0px 0 0px;box-sizing: border-box;  }
.klpk3-number ul { background: url(/static/theme/default/image/kaijiang_kuaisans.png) no-repeat; background-size:127px 35px; }
.k3-number ul li { width:23%; float: left; margin-left:10px;  }
.k3-number ul li img { max-width:100%; height: auto; display: block;}

.two-ball i { background: #CD5C5B; border-radius: 50%; color: #fff; }
.two-ball i.two-ball-blue { background: #1c85c9 }
.kl8-ball { margin-top: 5px; }
.kl8-ball-number { color: #CD5C5B; float: left }
.kl8-te { float: left; margin:15px 0 0 5px; color: #000; font-size: 90% }
.klpk3-number ul li { float: left; margin-left:-10px; width: 26px; height: 29px; background: #fff; border-radius: 3px 3px 0 0; box-shadow: 0px 0px 0px 1px #ccc;  }
.klpk-lot ul li { float: left; width: 26px; height: 30px; background: #fff; border-radius: 3px 3px 0 0; box-shadow: 0px 0px 0px 1px #ccc; }
.klpk-lot ul li span { float: left; }
.klpk-lot ul li i { clear: both; }
.klpk3-number ul { padding-left:35px; margin-left: 10px;  }
.klpk3-heart,.klpk3-black,.klpk3-flower,.klpk3-box { color: #d13b3a; padding:3px; box-sizing: border-box; font-size: 80%  }
.klpk3-black,.klpk3-flower { color: #000; }
.klpk3-heart i,.klpk3-black i,.klpk3-flower i,.klpk3-box i { background: url(/static/theme/default/image/kaijiang_17.png) no-repeat; width:8px; height: 8px; background-size:8px 8px; display: block;  }
.klpk3-black i { background: url(/static/theme/default/image/kaijiang_10.png) no-repeat; background-size:8px 8px;  }
.klpk3-flower i { background: url(/static/theme/default/image/kaijiang_14.png) no-repeat; background-size:8px 8px;  }
.klpk3-box i { background: url(/static/theme/default/image/kaijiang_11.png) no-repeat; background-size:8px 8px;  }

.two-ball-btn { background: #252525; height: 44px; position: fixed; bottom: 0; left: 0; right: 0; z-index: 99; padding: 5px 0; box-sizing: border-box; }
.two-ball-btn .ball-btn { background: #ffb400; margin:0 auto; width: 92%; font-size:18px; height: 33px; line-height: 33px;  color: #262427; border:0; border-radius:3px; display: block; outline: none; font-family: 'Helvetica Neue', Arial, "Hiragino Sans GB", 'Microsoft YaHei', sans-serif; }
.luck28ball{
	border-radius:50%;
	display: inline-block;
	width:20px;height:20px;line-height:20px;
	color: #000;
	text-align: center;
}
.color_green{
	background-color: #63C464;
	border:1px solid #63C464;
}
.color_blue {
	background-color: #5092DE;
	border:1px solid #5092DE;
}
.color_red {
	background-color: #CF5C55;
	border:1px solid #CF5C55;
}
.nocolor {
	background-color: #ddd;
	border:1px solid #ddd;
}
.lott-list-tit .draw_list_luck28{font-size: 1.4rem;}
.nums .draw_luck28{width:30px;height:30px;line-height:30px;}
.lott-list-tit .luck28ball{
	width:30px;height:30px;line-height:30px;
	color: #000;
	font-size: 1.4rem;
}
.lottery-list-erect .game_category_1{
	background-color: #252944;
}
.lott-list .list-k3{
	background-color: #252944;
}