/* Datewheel overlay */
.dw {
    padding: 0 10px;
    position: absolute;
    top: 5%;
    left: 0;
    z-index: 1001;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    background: #fff;
    color: #000;
}
/* Datewheel overlay background */
.dwo {
    width: 100%;
    background: #000;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1000;
    opacity: .7 !important;
    filter:Alpha(Opacity=70);
}
/* Datewheel wheel container wrapper */
.dwc {
    display: block;
    float: left;
    margin: 0 2px 5px 2px;
    padding-top: 30px;
}
/* Datewheel label */
.dwl {
    margin: 0 2px;
    text-align: center;
    line-height: 30px;
    height: 30px;
    white-space: nowrap;
    position: relative;
    top: -30px;
}
/* Datewheel value */
.dwv {
    padding: 10px 0;
    border-bottom: 1px solid #000;
}
/* Datewheel wheel container */
.dwrc {
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
.dwwc {
    display: block;
    margin: 0;
    padding: 0 2px;
    position: relative;
    background: #000;
}
/* Datewheel wheels */
.dwwl {
    margin: 4px 2px;
    float: left;
    display: block;
    position: relative;
    background: #888;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #000),color-stop(0.35, #333),color-stop(0.50, #888),color-stop(0.65, #333),color-stop(1, #000));
    background: -moz-linear-gradient(#000 0%,#333 35%, #888 50%,#333 65%,#000 100%);
    background: -ms-linear-gradient(#000 0%,#333 35%, #888 50%,#333 65%,#000 100%);
    background: -o-linear-gradient(#000 0%,#333 35%, #888 50%,#333 65%,#000 100%);
}
.dww {
    margin: 0 2px;
    overflow: hidden;
    position: relative;
    top: -30px;
    color: #fff;
    background: #444;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #000),color-stop(0.45, #444),color-stop(0.55, #444),color-stop(1, #000));
    background: -moz-linear-gradient(#000 0%,#444 45%, #444 55%, #000 100%);
    background: -ms-linear-gradient(#000 0%,#444 45%, #444 55%, #000 100%);
    background: -o-linear-gradient(#000 0%,#444 45%, #444 55%, #000 100%);
}
.dww ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: block;
    width: 100%;
    position: relative;
    z-index: 2;
}
.dww li {
    list-style: none;
    margin: 0;
    padding: 0 5px;
    display: block;
    text-align: center;
    line-height: 40px;
    font-size: 26px;
    text-shadow:0 1px 1px #000;
}
/* Wheel +/- buttons */
.dwwb {
    position: absolute;
    z-index: 4;
    left: 0;
    cursor: pointer;
    width: 100%;
    height: 40px;
    background: #ccc;
    text-align: center;
    color: #888;
    text-shadow: 0 -1px 1px #333;
    box-shadow: 0 0 5px #333;
    -webkit-box-shadow: 0 0 5px #333;
    -moz-box-shadow: 0 0 5px #333;
}
.dwwbp {
    top: 0;
    -webkit-border-radius: 3px 3px 0 0;
    -moz-border-radius: 3px 3px 0 0;
    border-radius: 3px 3px 0 0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #bdbdbd),color-stop(1, #f7f7f7));
    background: -moz-linear-gradient(#f7f7f7,#bdbdbd);
    background: -ms-linear-gradient(#f7f7f7,#bdbdbd);
    background: -o-linear-gradient(#f7f7f7,#bdbdbd);
    font-size: 40px;
}
.dwwbm {
    bottom: 0;
    -webkit-border-radius: 0 0 3px 3px;
    -moz-border-radius: 0 0 3px 3px;
    border-radius: 0 0 3px 3px;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f7f7f7),color-stop(1, #bdbdbd));
    background: -moz-linear-gradient(#bdbdbd,#f7f7f7);
    background: -ms-linear-gradient(#bdbdbd,#f7f7f7);
    background: -o-linear-gradient(#bdbdbd,#f7f7f7);
    font-size: 32px;
    font-weight: bold;
}
.dwpm .dwwc {
    background: transparent;
}
.dwpm .dww {
    margin: -1px;
    color: #000;
    background: #fff;
    border: 1px solid #AAA;
}
.dwpm .dww li {
    text-shadow: none;
}
.dwpm .dwwol {
    display: none;
}
/* Datewheel wheel overlay */
.dwwo {
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #000),color-stop(0.52, rgba(44,44,44,0)),color-stop(0.48, rgba(44,44,44,0)),color-stop(1, #000));
    background: -moz-linear-gradient(#000 0%,rgba(44,44,44,0) 52%, rgba(44,44,44,0) 48%, #000 100%);
    background: -ms-linear-gradient(#000 0%,rgba(44,44,44,0) 52%, rgba(44,44,44,0) 48%, #000 100%);
    background: -o-linear-gradient(#000 0%,rgba(44,44,44,0) 52%, rgba(44,44,44,0) 48%, #000 100%);
}
/* Background line */
.dwwol {
    position: absolute;
    z-index: 1;
    top: 50%;
    left: 0;
    width: 100%;
    height: 0;
    margin-top: -1px;
    border-top: 1px solid #333;
    border-bottom: 1px solid #555;
}
/* Datewheel button */
.dwb {
    display: block;
    /*width: 70px;*/
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    margin: 0 2px;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    text-shadow:0 -1px 1px #000;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius:5px;
    box-shadow:0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.5);
    color: #fff;
    background:#000;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5, #000),color-stop(0.5, #6e6e6e));
    background:-moz-linear-gradient(#6e6e6e 50%,#000 50%);
    background:-ms-linear-gradient(#6e6e6e 50%,#000 50%);
    background:-o-linear-gradient(#6e6e6e 50%,#000 50%);
}
.dwb-a {
    background:#3c7500;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0.5, #3c7500),color-stop(0.5, #94c840));
    background:-moz-linear-gradient(#94c840 50%,#3c7500 50%);
    background:-ms-linear-gradient(#94c840 50%,#3c7500 50%);
    background:-o-linear-gradient(#94c840 50%,#3c7500 50%);
}
.dwwl .dwb-a {
    background:#3c7500;
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0, #3c7500),color-stop(1, #94c840));
    background:-moz-linear-gradient(#94c840,#3c7500);
    background:-ms-linear-gradient(#94c840,#3c7500);
    background:-o-linear-gradient(#94c840,#3c7500);
}
/* Datewheel button container */
.dwbc {
    /*margin-top: 5px;*/
    padding: 5px 0;
    text-align: center;
}
/* Datewheel button wrapper */
.dwbw {
    display: inline-block;
    width: 50%;
}
/* Hidden label */
.dwhl {
    padding-top: 10px;
}
.dwhl .dwl {
    display: none;
}
.dwhl .dww {
    top: 0;
}
/* Android Skin */
.dw.android {
    padding: 0;
    background: #000;
    border: 2px solid #555;
    color: #fff;
}
.dw.android .dwv {
    padding: 10px;
    border-bottom: 1px solid #333;
}
.dw.android .dwwc {
    background: #000;
}
.dw.android .dwc {
    padding-top: 8px;
}
.dw.android .dwwl {
    margin: 4px 1px;
    border: 1px solid #9C9C9C;
}
.dw.android .dww {
    top: 0;
    border: 0;
    background: #fff;
}
.dw.android .dwpm .dww {
    margin: 0;
}
.dw.android .dwpm .dwwl {
    margin: 4px 2px;
    border: 0;
}
.dw.android .dww li {
    color: #000;
    text-shadow: none;
}
.dw.android .dwl  {
    display: none;
}
.dw.android .dwwol {
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #9C9C9C;
}
.dw.android .dwbc {
    padding: 5px 1px;
    background: #9c9c9c;
}
.dw.android .dwb {
    margin: 0 5px;
    background: #ccc;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ccc),color-stop(1, #eee));
    background: -moz-linear-gradient(#eee,#ccc);
    background: -ms-linear-gradient(#eee,#ccc);
    background: -o-linear-gradient(#eee,#ccc);
    color: #000;
    font-weight: normal;
    text-shadow: none;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.dw.android .dwb-a {
    background: #ffb25a;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #ef6100),color-stop(1, #ffb25a));
    background: -moz-linear-gradient(#ffb25a,#ef6100);
    background: -ms-linear-gradient(#ffb25a,#ef6100);
    background: -o-linear-gradient(#ffb25a,#ef6100);
}
/* Sense UI Skin */
.dw.sense-ui {
    padding: 0;
    background: #333;
    border: 2px solid #fff;
    color: #fff;
}
.dw.sense-ui .dwv {
    padding: 5px 10px;
    border-bottom: 1px solid #666;
    text-align: left;
}
.dw.sense-ui .dwwc {
    background: #333;
}
.dw.sense-ui .dww {
    margin: 0 2px;
}
.dw.sense-ui .dwpm .dww {
    margin: 0;
    border: 0;
}
.dw.sense-ui .dwbc {
    padding: 5px 1px;
    background: #000;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.5, #000),color-stop(0.5, #666));
    background: -moz-linear-gradient(#666 50%,#000 50%);
    background: -ms-linear-gradient(#666 50%,#000 50%);
    background: -o-linear-gradient(#666 50%,#000 50%);
}
.dw.sense-ui .dwb {
    margin: 0 5px;
    background: #000;
    border: 1px solid #333;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #000),color-stop(1, #444));
    background: -moz-linear-gradient(#444,#000);
    background: -ms-linear-gradient(#444,#000);
    background: -o-linear-gradient(#444,#000);
    box-shadow: inset 0 0 5px #000;
}
.dw.sense-ui .dwb-a {
    background:-webkit-gradient(linear,left bottom,left top,color-stop(0, #3c7500),color-stop(1, #94c840));
    background:-moz-linear-gradient(#94c840,#3c7500);
    background:-ms-linear-gradient(#94c840,#3c7500);
    background:-o-linear-gradient(#94c840,#3c7500);
}
/* iOS8 Skin */
.dw.ios {
    padding: 0;
    background: #FFF;
    font-family: HelveticaNeue-Light, "Helvetica Neue Light", "Helvetica Neue";
    font-weight: lighter;
    display: block;
    position: fixed;
    bottom: 0;
    left: 0 !important;
    top: initial !important;
    width: 100% !important;
    right: 0;
    margin: 0 auto;
    border-radius: 0;
    /*height: 200px;*/
    padding: 10px 0;
}
.dw.ios ul { background: #fff;}
.dw.ios .dwwc, .dw.ios .dwwl, .dw.ios .dww, .dw.ios .dwb {
    background: none;
}
.dw.ios .dwc {
    margin: 0;
    padding: 30px 10px 1px 10px;
}
.dw.ios .dwhl {
    /*padding: 10px 10px;*/
    padding: 0;
    width: 100% !important;
    box-sizing: border-box;
}
.dw.ios .dwwc.dwrc {
    width: 100% !important;
    box-sizing: border-box;
    padding: 0;
    /*display: flex;*/
}
.dw.ios .dwwl.dwrc {
    width: 33.33%;
}
.dw.ios .dww.dwrc {
    width: initial;
    box-sizing: border-box;
    margin: 0;
}
.dw.ios .dwv {
    padding: 15px;
    border-bottom: 2px solid #31b6e7;
    font-size: 18px;
}
.dw.ios .dwwl {
    /*margin: 0 2px;*/
    margin: 0;
}
.dw.ios .dww {
    border: 0;
}
.dw.ios .dww li {
    color: #000;
    font-size: 18px;
    text-shadow: none;
	font-weight:bold;
}
.dw.ios .dwwo {
    background: none;
    background: -webkit-gradient(linear,left bottom,left top,from(#FFF),color-stop(0.52,rgba(245, 245, 245, 0)),color-stop(0.48,rgba(245, 245, 245, 0)),to(#FFF));
    background: -webkit-linear-gradient(#FFF,rgba(245, 245, 245, 0)52%,rgba(245, 245, 245, 0)48%,#FFF); 
    background: -moz-linear-gradient(#FFF,rgba(245,245,245,0)52%,rgba(245,245,245,0)48%,#FFF);
    background: linear-gradient(#FFF,rgba(245, 245, 245, 0)52%,rgba(245, 245, 245, 0)48%,#FFF); 
}
.dw.ios .dwwb {
    background: #292829;
    color: #292829;
    font-size: 1px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.dw.ios .dwwb:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    color: #7e7e7e;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    content: '';
}
.dw.ios .dwwbp:after {
    border-color: transparent transparent #7e7e7e transparent;
}
.dw.ios .dwwbm:after {
    border-color: #7e7e7e transparent transparent transparent;
}
.dw.ios .dwwl .dwb-a {
    background: #292829;
}
.dw.ios .dwwbp.dwb-a:after {
    /*border-color: transparent transparent #319abd transparent;*/
}
.dw.ios .dwwbm.dwb-a:after {
    /*border-color: #319abd transparent transparent transparent;*/
}
.dw.ios .dwwol {
    height: 28px;
    border-top: none;
    border-bottom: none;
    margin-top: -15px;
    display: block;
	
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    width: 110%;
	z-index:10;
}
.dw.ios .dwwol::before {
    content: '';
    position: absolute;
    border-top: 1px solid #DBDBDB;
    border-bottom: 1px solid #DBDBDB;
    height: 100%;
    width: 150%;
    left: -30px;
}
.dw.ios .dwbc {
    border-top: 1px solid #424542;
    position: absolute;
    z-index: 1;
    top: 45px;
    left: 0;
    width: 100%;
    padding: 5px 10px;
    box-sizing: border-box;
    top: -50px;
    background-color: #F9F9F9;
    text-align: right;
}
.dw.ios .dwb {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
    color: #000;
}
.dw.ios .dwb-a {
    /*background: #29799c;*/
}
.dw.ios .dwbw {
    text-align: inherit;
    width: initial;
    display: inline-block;
    padding: 0 10px;
    /*float: right;*/
}
.dw.ios .dwbw .dwb {
}
.dw.ios .dwb-s .dwb {
    font-weight: bold;
}
.dw.ios .dwbw.dwb-s {
    float: right;
}
.dw.ios .dwbw.dwb-c {
    float: left;
}
/* iOS Classic Skin */
.dw.ios-classic {
    padding: 40px 10px 10px 10px;
    border: 1px solid #2d3034;
    background: #50515d;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #484a56),color-stop(1, #a2a3ab));
    background: -moz-linear-gradient(#a2a3ab,#484a56);
    background: -ms-linear-gradient(#a2a3ab,#484a56);
    background: -o-linear-gradient(#a2a3ab,#484a56);
    color: #fff;
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.dw.ios-classic .dwv {
    display: none;
}
.dw.ios-classic .dwwc {
    background: transparent;
}
.dw.ios-classic .dwwl {
    margin: 4px 0;
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    background: #cbcce0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2c2c38),color-stop(0.35, #cbcce0),color-stop(0.65, #cbcce0),color-stop(1, #2c2c38));
    background: -moz-linear-gradient(#2c2c38 0%,#cbcce0 35%, #cbcce0 65%,#2c2c38 100%);
    background: -ms-linear-gradient(#2c2c38 0%,#cbcce0 35%, #cbcce0 65%,#2c2c38 100%);
    background: -o-linear-gradient(#2c2c38 0%,#cbcce0 35%, #cbcce0 65%,#2c2c38 100%);
}
.dw.ios-classic .dww {
    margin: 0 3px;
    background: #fff;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #333),color-stop(0.10, #999),color-stop(0.30, #fff),color-stop(0.70, #fff),color-stop(0.90, #999),color-stop(1, #333));
    background: -moz-linear-gradient(#333 0%,#999 10%,#fff 30%,#fff 70%,#999 90%,#333 100%);
    background: -ms-linear-gradient(#333 0%,#999 10%,#fff 30%,#fff 70%,#999 90%,#333 100%);
    background: -o-linear-gradient(#333 0%,#999 10%,#fff 30%,#fff 70%,#999 90%,#333 100%);
    border-radius: 0;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
}
.dw.ios-classic .dwpm .dww {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #333),color-stop(0.48, #fff),color-stop(0.52, #fff),color-stop(1, #333));
    background: -moz-linear-gradient(#000 0%,#fff 48%,#fff 52%,#000 100%);
    background: -ms-linear-gradient(#000 0%,#fff 48%,#fff 52%,#000 100%);
    background: -o-linear-gradient(#000 0%,#fff 48%,#fff 52%,#000 100%);
}
.dw.ios-classic .dwpm .dwwl {
    margin: 4px 2px;
}
.dw.ios-classic .dwpm .dww {
    margin: 0;
    border: 0;
}
.dw.ios-classic .dww li {
    color: #000;
    font-size: 20px;
    font-weight: bold;
    text-align: right;
    text-shadow: none;
}
.dw.ios-classic .dwwo {
    display: none;
}
.dw.ios-classic .dwwol {
    height: 28px;
    padding: 1px;
    margin-top: -16px;
    border-color: #7b8699;
    background: #6f75b0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0.5, rgba(111, 117, 176, 0.5)),color-stop(0.5, rgba(151, 157, 197, 0.5)));
    background: -moz-linear-gradient(rgba(151, 157, 197, 0.5) 50%,rgba(111, 117, 176, 0.5) 50%);
    background: -ms-linear-gradient(rgba(151, 157, 197, 0.5) 50%,rgba(111, 117, 176, 0.5) 50%);
    background: -o-linear-gradient(rgba(151, 157, 197, 0.5) 50%,rgba(111, 117, 176, 0.5) 50%);
    z-index: 10;
    left: -1px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    -webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
    filter: alpha(opacity=50);
}
.dw.ios-classic .dwbc {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 5px 0;
    background: #8093b0;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #6e83a4),color-stop(0.5, #8093b0),color-stop(0.5, #889ab5),color-stop(1, #b1bccf));
    background: -moz-linear-gradient(#b1bccf 0%,#889ab5 50%,#8093b0 50%,#6e83a4 100%);
    background: -ms-linear-gradient(#b1bccf 0%,#889ab5 50%,#8093b0 50%,#6e83a4 100%);
    background: -o-linear-gradient(#b1bccf 0%,#889ab5 50%,#8093b0 50%,#6e83a4 100%);
    border-bottom: 1px solid #2d3034;
}
.dw.ios-classic .dwb {
    margin: 0 5px;
    display: inline-block;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    border: 1px solid #1947bb;
    background: #2461e6;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #2461e6),color-stop(0.5, #225ee5),color-stop(0.5, #386de8),color-stop(1, #7c9df0));
    background: -moz-linear-gradient(#7c9df0 0%,#386de8 50%,#225ee5 50%,#2461e6 100%);
    background: -ms-linear-gradient(#7c9df0 0%,#386de8 50%,#225ee5 50%,#2461e6 100%);
    background: -o-linear-gradient(#7c9df0 0%,#386de8 50%,#225ee5 50%,#2461e6 100%);
    box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -moz-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow: 0 1px 0 rgba(255,255,255,0.5);
}
.dw.ios-classic .dwb-a {
    border: 1px solid #394f76;
    background: #2461e6;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #4c6b9f),color-stop(0.5, #49689d),color-stop(0.5, #5a76a6),color-stop(1, #8fa4c4));
    background: -moz-linear-gradient(#8fa4c4 0%,#5a76a6 50%,#49689d 50%,#4c6b9f 100%);
    background: -ms-linear-gradient(#8fa4c4 0%,#5a76a6 50%,#49689d 50%,#4c6b9f 100%);
    background: -o-linear-gradient(#8fa4c4 0%,#5a76a6 50%,#49689d 50%,#4c6b9f 100%);
}
.dw.ios-classic .dwwb {
    color: #fff;
    border: 0;
    background: #3f4e68;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #3f4e68),color-stop(0.5, #75859f),color-stop(0.5, #808ea6),color-stop(1, #c7d1e2));
    background: -moz-linear-gradient(#c7d1e2 0%,#808ea6 50%,#75859f 50%,#3f4e68 100%);
    background: -ms-linear-gradient(#c7d1e2 0%,#808ea6 50%,#75859f 50%,#3f4e68 100%);
    background: -o-linear-gradient(#c7d1e2 0%,#808ea6 50%,#75859f 50%,#3f4e68 100%);
}
.dw.ios-classic .dwwl .dwb-a {
    background: #252c36;
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #252c36),color-stop(0.5, #171e28),color-stop(0.5, #272e38),color-stop(1, #6b6e75));
    background: -moz-linear-gradient(#6b6e75 0%,#272e38 50%,#171e28 50%,#252c36 100%);
    background: -ms-linear-gradient(#6b6e75 0%,#272e38 50%,#171e28 50%,#252c36 100%);
    background: -o-linear-gradient(#6b6e75 0%,#272e38 50%,#171e28 50%,#252c36 100%);
}
.dw.ios-classic .dwb-s {
    float: right;
    text-align: right;
}
.dw.ios-classic .dwb-c {
    float: left;
    text-align: left;
}
/* Android ICS skin */
.dw.android-ics {
    padding: 0;
    color: #31b6e7;
    background: #292829;
    border-top: 1px solid #4a494a;
}
.dw.android-ics .dwwc, .dw.android-ics .dwwl, .dw.android-ics .dww, .dw.android-ics .dwb {
    background: none;
}
.dw.android-ics .dwc {
    margin: 0;
    padding: 30px 10px 1px 10px;
}
.dw.android-ics .dwhl {
    padding: 1px 10px;
}
.dw.android-ics .dwv {
    padding: 15px;
    border-bottom: 2px solid #31b6e7;
    font-size: 18px;
}
.dw.android-ics .dwwl {
    margin: 0 2px;
}
.dw.android-ics .dww {
    border: 0;
}
.dw.android-ics .dww li {
    color: #fff;
    font-size: 18px;
    text-shadow: none;
}
.dw.android-ics .dwwo {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #282828),color-stop(0.52, rgba(40,40,40,0)),color-stop(0.48, rgba(40,40,40,0)),color-stop(1, #282828));
    background: -moz-linear-gradient(#282828 0%,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828 100%);
    background: -ms-linear-gradient(#282828 0%,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828 100%);
    background: -o-linear-gradient(#282828 0%,rgba(40,40,40,0) 52%, rgba(40,40,40,0) 48%, #282828 100%);
}
.dw.android-ics .dwwb {
    background: #292829;
    color: #292829;
    font-size: 1px;
    box-shadow: none;
    -webkit-box-shadow: none;
}
.dw.android-ics .dwwb:after {
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    margin-left: -8px;
    color: #7e7e7e;
    width: 0;
    height: 0;
    border-width: 8px;
    border-style: solid;
    content: '';
}
.dw.android-ics .dwwbp:after {
    border-color: transparent transparent #7e7e7e transparent;
}
.dw.android-ics .dwwbm:after {
    border-color: #7e7e7e transparent transparent transparent;
}
.dw.android-ics .dwwl .dwb-a {
    background: #292829;
}
.dw.android-ics .dwwbp.dwb-a:after {
    border-color: transparent transparent #319abd transparent;
}
.dw.android-ics .dwwbm.dwb-a:after {
    border-color: #319abd transparent transparent transparent;
}
.dw.android-ics .dwwol {
    width: 100%;
    left: 20%;
    height: 40px;
    border-top: 2px solid #31b6e7;
    border-bottom: 2px solid #31b6e7;
    margin-top: -22px;
    display: block;
}
.dw.android-ics .dwbc {
    border-top: 1px solid #424542;
    padding: 0;
}
.dw.android-ics .dwb {
    padding: 0;
    margin: 0;
    font-weight: normal;
    text-shadow: none;
    box-shadow: none;
    border-radius: 0;
    -webkit-border-radius: 0;
    -webkit-box-shadow: none;
}
.dw.android-ics .dwb-a {
    background: #29799c;
}
.dw.android-ics .dwb-s .dwb {
    border-right: 1px solid #424542;
}
.dw.android-ics.light {
    background: #f5f5f5;
    width:100%;
}
.dw.android-ics.light .dww li {
    color: #000;
}
.dw.android-ics.light .dwwo {
    background: -webkit-gradient(linear,left bottom,left top,color-stop(0, #f5f5f5),color-stop(0.52, rgba(245,245,245,0)),color-stop(0.48, rgba(245,245,245,0)),color-stop(1, #f5f5f5));
    background: -moz-linear-gradient(#f5f5f5 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5 100%);
    background: -ms-linear-gradient(#f5f5f5 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5 100%);
    background: -o-linear-gradient(#f5f5f5 0%,rgba(245,245,245,0) 52%, rgba(245,245,245,0) 48%, #f5f5f5 100%);
}
.dw.android-ics.light .dwwb {
    background: #f5f5f5;
    color: #f5f5f5;
}
.dw.android-ics.light .dwbc {
    border-top: 1px solid #dbdbdb;
}
.dw.android-ics.light .dwb {
    color: #000;
}
.dw.android-ics.light .dwb-a {
    color: #fff;
}
.dw.android-ics.light .dwb-s .dwb {
    border-right: 1px solid #dbdbdb;
}
