/*-- 个人中心 --*/
.message-box { border:1px solid #ddd; border-radius:5px; background: #fff; padding: 10px; width:96%; margin:20px auto 0; }
.mess-top { line-height: 30px; font-size: 80% }
.mess-top h3 { font-size: 18px; }
.unread { color: #ec2a2a }  
.haread { color: #999 }
.dot-icon { background: #ec2a2a; border-radius:50%; width:8px; height: 8px; display: block; float: left; margin:10px 5px 0 0; }
.mess-date { color: #999; margin-bottom: 10px; }
.mess-txt { font-size:80%; color: #666; }

.mine-top { background: url(/static/theme/default/image/touxiang_beijing.png) no-repeat; background-size:100% 100%;  height: 124px; overflow: hidden;border-bottom: 1px solid #000; }
.mine-head { height: 69px; line-height: 69px; color: #fff; position: relative; }
.mine-refresh { font-size: 80%; color: #fff; height: 20px; position: absolute; right: 20px; bottom:10px; z-index: 9; line-height: 20px; }
.mine-img { width:52px; height: 52px; float: left; margin:10px 10px 0 20px;cursor: pointer;}
.mine-img img { max-width: 100%; border-radius: 50%; }
.mine-tit { color: #feb501 }
.mine-info ul { display: -webkit-box; display: flex; text-align: center; padding-top:7px; }
/*.mine-info ul li { width:33.33%; color: #eee; }*/
.mine-info ul li { width:33.33%; color: #eee; }
.mine-refresh1 { line-height: 44px; display: block; }
.mine-info ul li p { font-size: 80% }
.mine-but { overflow: hidden; height: 56px;text-align: center;line-height: 56px;margin-top: 8px;}
.mine-info a { color:#fff;}
.mine-but a { display: block; width:50%; float: left; }
.mine-but a img { max-width: 100%; }
@media screen and (min-width: 768px) {
    .mine-but a img {
        max-width: 100%;
        width: 100%;
    }
}


.set-list ul {  border-top:1px solid #000; border-bottom: 1px solid #000; padding:0 10px; margin: 10px 0 }
.set-list ul li {   border-bottom:1px solid #485270; line-height: 40px; height: 40px; }
.set-list ul li a { display: block; }
.set-list ul li:last-child { border-bottom: none; }
.set-list ul li a img { width: 24px; height: 24px; float: left; margin:7px 5px 0 0;  }
.set-list .bank_set{display:inline-block;width: 6em;}

.mine-list ul { background: #252944; border-top:1px solid #000; border-bottom: 1px solid #000; padding:0 10px; margin: 8px 0 }
.mine-list ul li { background:url(/static/theme/default/image/goucai_hp_more.png) no-repeat center right; background-size: 12px 12px;  border-bottom:1px solid #485270; line-height: 40px; height: 40px; }
.mine-list ul li a { display: block; }
.mine-list ul li:last-child { border-bottom: none; }
.mine-list ul li a img { width: 24px; height: 24px; float: left; margin:7px 5px 0 0;  }
.red-icon { background: #ec2829; width:9px; height: 9px; border-radius: 50%; float: right; margin:15px 30px 0 0; }

.mine-message { text-align: center; margin-top: 20px; padding-top:104px; }
.mine-mess img { max-width: 100%; margin-bottom: 10px; height: auto; }

.order-center ul li { border-bottom: 1px solid #485270;  padding:10px 15px; overflow: hidden;}
.order-center ul li a { background: url(/static/theme/default/image/goucai_hp_more.png) no-repeat center right; background-size:7.5px 13.5px; height: 50px; display: block;}
.order-center .fr { margin-right: 10px; }
.order-center ul li .order-list-tit { font-size: 90%; color: #ddd; overflow: hidden }
.order-center ul li .order-list-tit .c-red i { border-radius:50%; background: #f00; width:10px; height:10px; display: inline-block;}
.order-center .c-gary { color: #999; font-size: 90%; margin-top: 10px; }
.order-top-left { width:7em; float: left; }

.ui-dialog .ui-dialog-buttonpane button { background: #ec2829; border-radius: 5px; height: 30px; line-height: 30px; text-align: center; border: 0; color: #fff; font-size: 100%; margin-top: 20px; display: inline-block; outline: none; }

.order-tit { padding:15px 10px 10px; border-bottom: 1px solid #485270; overflow: hidden; }
.order-tit .order-top-right { float: left;}
.order-icon { width:45px; float: left; margin-right: 15px; }
.order-icon img { max-width:100%; }

.order-info { padding: 15px; }
.order-info h3 { border-left:5px solid #fe0103; height: 18px; line-height: 18px; padding-left: 5px; margin-bottom: 5px; }
.order-info ul li { overflow: hidden; line-height: 20px; word-break:break-all;  }
.order-info ul li .grey1 { width:5em; float: left; }
.order-top-right .lot-number { overflow: hidden; }
.order-top-right .lot-number .red { font-size:100%; float: left;}
.order-top-right .lot-number .red span { margin:0 2px; }
.order-top-right .lot-number .num-more span { margin:0 2px; }
.order-top-right .f80 { margin-left: 15px; }
@media screen and (max-width: 375px) {
  .order-top-right .lot-number .num-more span { float: left;  }
  .order-tit .order-top-right { width:240px; }
  .order-top-right .lot-number .grey { width:37%; }
  .order-top-right .lot-number .red { width:60%; }
}

.order-btn { margin:10px auto 30px; width: 90%; background: #c3191c; color: #fff; height:35px; line-height: 35px; display: block; border:0; border-radius:3px; font-size: 100%; outline: none;   }

/*-- 账户明细 --*/
.recharge ul li { border-bottom:1px dashed #666; line-height: 40px; overflow: hidden; padding-left: 15px; }
.recharge-left { float: left; width:5em; }
span#play_name,span#order_type,span#status_type,span#account_type,span#msg_type {font-size: 14px;}

/* - loading - */
.loading { padding:2px 6px; background-color:rgba(0,0,0,0.5); position: fixed; top:40%; left: 50%; margin-left: -2em; z-index: 102; color: #919191; display: inline-block; }
.loading-bg { background-color:rgba(0,0,0,0.4); position: fixed; width:100%; height: 100%; left: 0; top: 0; right: 0; z-index: 101; }

/*-- 滑动条tips --*/
.beet-odds-tips { background: #fff; width:80%; height: 265px; margin:-135px 0 0 -40%; left: 50%; position: fixed; top: 50%; z-index: 111; }
.btn-que { background: #fff; text-align: center; width:50%; display: block; border:0; border-top:1px solid #ddd; height: 40px; line-height: 40px; font-size: 120%; color:#005ddc; position: absolute; bottom:0; right:0; border-left:1px solid #ddd; box-sizing: border-box; }
.btn-que-no { left: 0 }
.tips-bg { background: #000; position: fixed; left: 0; top: 0; width:100%; height: 100%; opacity: .5; z-index: 110 }
.beet-money-int { float: left; width:57px; border:1px solid #ddd; height: 26px; line-height: 13px; padding-left:5px; box-sizing: border-box; color: #000  }
.odds-tips-tit { text-align: center; border-bottom: 1px solid #ddd; height: 37px; line-height: 37px;}
.beet-odds-info { font-size: 80%; line-height: 15px; }
.beet-odds-info div { padding-left: 15px; line-height: 22px; color:#666; word-wrap: break-word;}
.beet-money { overflow: hidden; font-size: 80%; line-height: 26px; margin-bottom:10px; }
.beet-money a { width:32px; text-align: center; height: 24px; line-height: 24px; color:#666; background: #f3f3f3; border:1px solid #ddd; float: left; }
.beet-money a.acitve { background: #f28010; color: #fff; border:1px solid #dd7212; }
.beet-money .fl { line-height: 26px; }
.odds-btn-none,.odds-btn-ture { background: #fff; height:40px; line-height: 40px; width:50%; text-align: center; border:0; color: #005ddc; font-size: 120%; border-top:1px solid #ddd; box-sizing: border-box; position: absolute; bottom:0;}
.odds-btn-ture { border-left:1px solid #ddd; color: #005ddc; right:0; }
#prize_money { color:#00bf16; }

/*-- 提现 --*/
.cash-text,.cash-txt,.cash-list { background: #fff; border:1px solid #ddd; border-width: 1px 0 }
.cash-text ul { margin:0 10px; }
.cash-text ul li,.cash-list ul li { border-bottom: 1px solid #ddd; height: 40px; line-height: 40px  }
.cash-text ul li .text-left { float: left; }
.cash-text ul li input { float: right; border:0; color: #000; text-align: right; width: 70%; }
.cash-text ul li:last-child,.cash-list ul li:last-child{ border-bottom: 0 }

.cash-txt,.cash-list { padding:10px 0; margin-top: 15px; }
.cash-txt h3 { padding-left: 10px; }
.cash-txt ul { overflow: hidden; }
.cash-txt ul li { float: left; width:50%; box-sizing: border-box; font-size: 80%; padding-left: 10px; white-space: nowrap;}
.cash-txt ul li span { color: #999; white-space: nowrap; }
.cash-list { padding:0; margin-bottom: 10px; }
.cash-list ul li { padding-left:10px; overflow: hidden;}
.cash-list ul li span { float:left;}
.cash-int { float: left;margin-top: 5px;line-height: 14px; border:1px solid #ddd; border-radius: 3px; height: 28px; font-size:80%; padding-left: 10px; width:150px; }
.cash-list select { border:1px solid #ddd; width:40px; height: 25px; margin-right: 5px; color: #666; outline: none; }

.wiht-img { width:60px; height: 60px; text-align: center; margin:20px auto; }
.wiht-img img {max-width: 100%}
.with-end { font-size: 120%; }
.sub-txt { text-align: left; width:100%; margin:10px auto; font-size: 80%; position: relative; }
.sub-txt p { position: relative; left: calc(50% - 96px); width:100%; }

/*-- 充值 --*/
.tit { background:#f1f1f1; padding-left: 10px; height: 30px; line-height: 30px; margin-top: 5px; }
.charge {margin:10px;}
.charge-menu ul { display: -webkit-block; display: flex; }
.charge-menu ul li a { width:70px; background: #F5F5F5; margin:0 3px; height:35px; line-height: 35px; float: left; text-align: center; font-size: 85%}
.charge-menu ul li a.act { background:#af1e1e; color: #fff; }

.tit-bt { margin-top: 10px; }
.user-charge { font-size: 90%; }
.user-charge ul li { margin:5px 0; line-height: 30px; }
.chos-bank { border:1px solid #ccc; height: 28px; line-height: 28px; padding-left: 5px; width:150px; border-radius: 5px;}

.charge-tips { font-size: 80%; margin-top: 20px; }
.charge-tips h3 { color: #ec2929 }
.charge-btn { background:#ec2929; border:0; border-radius: 5px; color: #fff; height:36x; font-size: 100%; line-height: 36px; width: 95%; margin:20px auto 0; display: block; outline: none;  }

.charge-bank { background:#fff; padding: 10px 0; position: relative; border:1px solid #ddd; border-width: 1px 0;}
.charge-bank ul li { overflow: hidden; font-size: 80%; line-height: 24px; color: #999}
.charge-bank ul li .left { width:70px; float: left; text-align: right; padding-right: 10px; height: 25px; color: #000; }
.charge-bank ul li .rec_name,.charge-bank ul li .rec_bank,.charge-bank ul li .rec_addr,.charge-bank ul li .rec_account  { float: left; }
.choose-ture,.choose-green { background: url(../images/cz_01.png); background-size: 24px 24px; width: 24px; height: 24px; position: absolute; top: 10px; right:10px; z-index: 9 }
.choose-green {background: url(../images/cz_02.png); background-size: 24px 24px; width: 24px; height: 24px; }

.arge-btn { overflow: hidden; margin-left: 15px; }
.arge-btn button { background: #fff; border:1px solid #ec2929; border-radius: 5px; color: #ec2929; height:36x; font-size: 100%; line-height: 36px; width: 45%; margin:10px auto 0; display: block; outline: none; float: left; margin-right: 5%;  }
.arge-btn .arge-btn2 { margin-right: 0; background: #ec2929; color: #fff; }

.tit-txt { padding:10px ; }
.tit-txt p { font-size: 80%; color: #999 }
.int-charge { border:1px solid #ccc; height: 20px; line-height: 20px; padding-left: 5px; width:150px; border-radius: 5px; margin-bottom: 3px}

.charge-copy { background: url(../images/fuzhi_cz.png) no-repeat; background-size: 47px 22.5px; width:47px; height: 22.5px; float: right; margin-right: 5%; }
.charge-choose { background:#fff; padding: 10px 0; position: relative; border:1px solid #ddd; border-width: 1px 0; margin-bottom: 15px; overflow: hidden;}
.charge-choose ul li { float: left; width:125px; padding:0 15px; font-size: 80%; margin:5px 0;}
.choose-ture-c,.choose-ture-d { background: url(../images/cz_01.png); background-size: 24px 24px; width: 24px; height: 24px; float: left; margin-right: 5px;}
.chare-green { color: #61b219 }
.chare-green .choose-ture-c {background: url(../images/cz_02.png); background-size: 24px 24px; width: 24px; height: 24px;}

.btn-wrap {
    margin-top: 0px;
    padding: 0 12px;
    position: relative;
    top: 10px;
}
.more-btn {
    width: 100%;
    height: 50px;
    font-size: 19px;
    background: #ec2929;
    border-style: none;
    color: #FFFFFF;
    border-radius: 5px;
}
.bank-btn { 
	padding-right:10px;
	padding-left:10px; 
	text-decoration: none!important; 
	font-family: Helvetica, Arial, sans serif; 
	border-radius: 3px; 
	-moz-border-radius: 3px; 
	box-shadow: inset 0px 0px 2px #fff;
	-o-box-shadow: inset 0px 0px 2px #fff;
	-webkit-box-shadow: inset 0px 0px 2px #fff;
	-moz-box-shadow: inset 0px 0px 2px #fff;
	color: #444;
	background-image: -moz-linear-gradient(#ededed, #e1e1e1);
	background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#e1e1e1), to(#ededed));
	background-image: -webkit-linear-gradient(#ededed, #e1e1e1);
	background-image: -o-linear-gradient(#ededed, #e1e1e1);
	text-shadow: 1px 1px 1px #fff;
	background-color: #e1e1e1;	
}
.deposit-item {
    width: 100%;
    height: 40px;
    background: #fff;
    font-size: 15px;
    line-height: 40px;
    margin: 0;
    padding: 0;
    color: #747474;
}

.agent_table {
  margin: 0 0 40px 0;
  width: 100%;
  display: table;
  border-top: 2px solid #000;
}

.agent_row {
  display: table-row;
  background: #5F6E8C;
}
.agent_row:nth-of-type(odd) {
  background: #48536A;
}
.agent_row.agent_header {
  font-weight: 900;
  color: #ddd;
  background: #1b1c2e;
}
.agent_cell {
  padding: 6px 8px;
  display: table-cell;
  font-size: 14px;
}

.agent_item{
	float: left;
	width: 33.33%;
	text-align: center;
	margin: auto;
	padding: 10px;
	border-bottom: 3px solid #ddd;
	color: #ddd;
	border-right: 1px solid #9d9d9d;
	background-color: #1b1c2e;
}
.agent_active{
	border-bottom: 3px solid #80A8DD;
	color: #80A8DD;	
}

.recharge_item{
	float: left;
	width: 20%;
	text-align: center;
	margin: auto;
	padding: 10px 0px;
	border-bottom: 3px solid #ddd;
	color: #ddd;
	border-right: 1px solid #ddd;
	background: #1b1c2e;
}
.recharge_active{
	border-bottom: 3px solid #80A8DD;
	color: #80A8DD;	
}



#agent-member-dom
{
	width: 100%;
}
#agent-member-dom .member_add_box{
padding-top: 65px;
margin: 0 auto;
background-color: #252944;
}
#agent-member-dom .member_add_box .item{height:39px;margin-bottom:15px;text-align: center;}
#agent-member-dom .member_add_box .item .name{width:85px;display: inline-block;}
#agent-member-dom.common .head .mode .cs-select>span{width:50px}
#agent-member-dom.common .head .state .cs-select>span{width:24px}
#agent-log-dom.common .head .mode .cs-select>span{width:50px}
#agent-money-dom .head .mode .cs-select>span{width:50px}
#agent-coin-dom .head .mode .cs-select>span{width:50px}
#agent-spread-dom.common .head .link_add,#agent-member-dom.common .head .member_add{width:120px;line-height:25px;margin:6px 15px 0 0;float:right}
#agent-member-dom .member_add_box .item .value{height:37px;border:1px solid #ddd;border-left:none;font-size:14px;display: inline-block;}
#agent-member-dom .member_add_box .item .name{line-height:37px;border:1px solid #ddd;background-color:#f5f5f5;font-size:14px;text-align:center;color:#555;}
#agent-member-dom .member_add_box .item .value.fandian input{border:none;height:37px;line-height:37px;padding:0px 10px;font-size:14px;}
#agent-member-dom .member_add_box .item .addon{color:#555;width:100px;font-size:14px;border-left:none;display: inline-block;width:122px;}
#wrapper_1 .team_list{padding-right: 25px;padding-left: 25px;padding-top: 8px;padding-bottom: 8px;}
#wrapper_1 .team_list_right{text-align: right;}
#wrapper_1 .tr_team_list{border-bottom: solid 1px #555;}
#recharge-box .recharge-tabs {
    padding-top: 65px;
    margin: 0 auto;
}
#recharge-box .recharge-tabs .Tips p{
	text-indent:20px;
	font-size:14px;

}
#recharge-box .recharge-tabs .item .value.amount {
	width:70%;
    padding-left: 10px;
    background-color: #fff;
}
#recharge-box .recharge-tabs .item .value.amount input {
    border: none;
    height: 37px;
    line-height: 37px;
    padding: 0px;
    font-size: 14px;
	width:100%;
}
#recharge-box .recharge-tabs .item {
    height: 39px;
    margin-bottom: 15px;
    text-align: center;
}
#recharge-box .recharge-tabs .item .value.amount {
    width: 65%;
    padding-left: 10px;
    background-color: #fff;
}

#recharge-box .recharge-tabs .item .value {
    height: 37px;
    border: 1px solid #ddd;
    border-left: none;
    font-size: 14px;
    display: inline-block;
}
#recharge-box .recharge-tabs .item .name {
    line-height: 37px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    font-size: 14px;
    text-align: center;
    color: #555;
}
#recharge-box .recharge-tabs .item .name {
    width: 85px;
    display: inline-block;
}
.hide{display:none;}

#recharge-box .recharge-tabs .red {
    color: #d85858;
}

#recharge-box .recharge-tabs .mine-list{margin-top:30px;}
#recharge-box .recharge-tabs .mine-list ul li {

    background: transparent;
    background-size: 12px 12px;
    border-bottom: 1px solid #485270;
    line-height: 50px;
    height: 50px;
	    text-indent: 10px;
}
#recharge-box .recharge-tabs .mine-list ul li:last-child {
    border-bottom: 0px;
}


#recharge-box .recharge-tabs .mine-list ul li a:after {
content: ' ';
    background: url(/static/theme/default/image/icon-radio.png) no-repeat;
    background-size: cover;
    /* border-bottom: 1px solid #dfdfdf; */
    /* line-height: 50px; */
    height: 50px;
    /* text-indent: 10px; */
    display: block;
    width: 32px;
    height: 30px;
    background-position: -31px;
    /* line-height: 50px; */
    margin-top: 11px;
    margin-right: 15px;
    float: right;
}
#recharge-box .recharge-tabs .mine-list ul li a.active:after {
    background-position: 0px;
}
.QrcodeArea {
    margin-top: 20px;
    padding: 10px;
    text-align: center;
    font-size: 14px;
	display:none;
}
#cash-box  {
    padding-top: 34px;
    margin: 0 auto;
}

#cash-box .mine-list .cash-int {
	float:none;

}

#cash-box  .mine-list ul li {

    background: transparent;
    background-size: 12px 12px;
    border-bottom: 1px solid #485270;
    line-height: 42px;
    height: 42px;
    text-indent: 10px;
}
#cash-box  .mine-list ul li:last-child {
    border-bottom: 0px;
}

#cash-box .tips{
    background: #252944;
    padding: 10px 15px;
    margin: 10px 0;
	font-size:14px;
}
.header-right-btn {
    position: absolute;
    right: 10px;
    line-height: 42px;
    font-size: 14px;
    color: #ddd;
	z-index:10;
}