@charset "utf-8";
/* CSS 新天恒娱乐研发*/

/* 全局样式 */
input,textarea{font-family:Arial, Helvetica, sans-serif}
html,body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div,dl,dt,dd,i,ins,s,p{margin:0;padding:0;}
body{color:#666666; font:normal 12px/1.5 Tahoma,Microsoft Yahei,Simsun;}
ul,ol{list-style-type:none;}
h1,h2,h3,h4,h5,h6{font-size:12px; font-style:normal;}
i,em,sub,sup,s{font-style:normal; text-decoration:none;}
a{color:#454545;text-decoration:none;}
a:hover{color:#AF2C2B;} 
a.on{color: #AF2C2B;}
img{border:none medium;}
.block{display:block;}

/** 清浮动 **/
.clear{clear: both; }
.clearfix:after{content:" ";display:block;height:0;clear:both;visibility:hidden; display: block;}
.clearfix{display:block; clear:both}
.clx{*zoom:1}
.clx:after{clear:both;content:".";display:block;height:0;visibility:hidden;color:#131313}
/* Hides from IE-mac \*/
* html .clearfix{height:1%;}

.fr{float:right}
.fl{float:left}
.mb5{margin-bottom:5px}.mb10{margin-bottom:10px}.mb15{margin-bottom:15px}.mb20{margin-bottom:20px}
.mt5{margin-top:5px}.mt10{margin-top:10px}.mt15{margin-top:15px}.mt20{margin-top:20px}
.mr5{margin-right:5px}.mr10{margin-right:10px}.mr15{margin-right:15px}.mr20{margin-right:20px}.mr25{margin-right:25px}.mr30{margin-right:30px}
.ml5{margin-left:5px;}.ml10{margin-left:10px;}.ml15{margin-left:15px;}.ml20{margin-left:20px;}.ml25{margin-left:25px;}.ml30{margin-left:30px;}
.lh0{line-height:0px;}
.h0{height:0px;}

.w100{width:100px}.w260{width:260px;}.w150{width:150px;}.w180{width:180px}.w170{width:170px}.w165{width:165px}.w200{width:200px}.w630{width:630px;}.w645{width:645px;}.w650{width:650px;}.w660{width:660px;}
.red{color:#F00}.yellow{color:#febc11} 
.hide{display:none;}.show{display:block;}
.tl{text-align:left;}.tc{text-align:center;}.tr{text-align:right;}
.f12{font-size:12px;}.f13{font-size:13px;}.f14{font-size:14px;}.f15{font-size:15px;}.f16{font-size:16px;}.f18{font-size:18px;}.f20{font-size:20px;}


