#nav {
    background-color: #fafafa;
}
#user-info .level {
    background-color: #fafafa;
    color: #333;
}
#nav > div > a:hover, #nav > div > div > a:hover, #nav a.on {
    border-top: 2px solid #fafafa;
    background-color: #505759;
}
#nav .agent-nav-list {
    background-color: #505759;
}
#nav .agent-nav-list a:hover {
    background-color: #616669;
}
#nav .agent-nav-list a {
    border-bottom: 1px solid #3D444D;
}
#game-play .play .play-list {
    background-color: rgba(23, 83, 117, 0.45);;
}
#game-play .group {
    background-color: #377190;
}
#game-play .group .name {
    color: #fff;
}
#group_list a {
    color: #fff;
}
#group_list a.on {
    background-color: rgba(23, 83, 117, 0.45);;
}
#num-select .pp .lost {
    background-color: #42607D;
    color: #ddd
}
#num-select .pp .title, #num-select .pp ._title, #num-select .pp .title28  {
    border: 0px ;
    border-radius: 0px;
    background-color: #76ABDF;
}
#num-select .pp {
    border-bottom: 1px solid #1F374A;
}
body {
    background: url("/static/theme/default/image/bg.jpg") no-repeat center -24px;
    background-size: cover;
    color: #fff;
}
.jack-foot {
    opacity: 0;
}
#sidebar .gs .g .game-name:hover {
    background-color: rgba(23, 83, 117, 0.9);
}
#sidebar .user {
    background-color: rgba(23, 83, 117, 0.45);;
}
#sidebar .gs .g .game-name {
    background-color: rgba(23, 83, 117, 0.45);;
}
#sidebar .client {
    background-color: rgba(23, 83, 117, 0.7);;
}
#sidebar .gs {
    background-color: rgba(23, 83, 117, 0.45);
}
#sidebar .gs .g .game-name span.count {
    color: #ddd;
}
#sidebar .gs .g .game-name span.text { 
    color: #ddd;
}
#sidebar .gs .g .list a {
    color: #ddd;
}
#sidebar .gs .g .list a.on {
    color: #FFAA0D;
}
#sidebar .gs .g .list a:hover {
    color: #FFAA0D;
    background-color: rgba(23, 83, 117, 0.7);
}
.common .head {
    background-color: #cdced0;
    color: #4d5668;
}
.common .head .name {
    color: #4d5668;
}
.common .body {
    background-color: #f5f5f5;
}
.common .body table td {
	color: #555;
}
.common .body table tr.title {
    background-color: #f5f5f5;
}
.common .head .link {
    color: #4d5668;
}
.common .head .link:hover {
    color: #1A2938;
}
.common .body table td a {
    color: #28664A;
}
.common .body table td a:hover {
    border-color: #28664A;
}
.green {
    color: #319623;
}
.red {
    color: #B52021;
}
.btn-notice {
    background-color: #4d5668;
    border-color: #4d5668;
}
.common .body table .key {
    color: #555;
}
.common .body table .val {
    color: #2A5677;
}
.common .head .desc {
    color: #52542B;
}
.money-panel {
    background-color: #f5f5f5;
    color: #555;
}
#game-play .play .play-select {
    background-color: #f5f5f5;
}
#game-play .play .play-info {
	background-color: #f5f5f5;
}
#game-play .play .play-list {
    margin-top: 0px;
}
#game-play .play .play-info .help {
    padding-left: 20px;
}
#game-lottery .history {
	background-color: #f5f5f5;
}
#game-lottery .history table tr.head {
    background-color: #f8f8f9;
    color: #000;
}
#play-work-setting {
	padding: 15px 0px 0px 15px;
	margin-top: 0px;
	background-color: #f5f5f5;
}
#game-lottery .current_award {
    color: #fff;
}
#game-lottery .info .name {
    color: #fff;
}
#play-mod, #beishu-warp {
    color: #555;
}
#play-work-setting .bet-info {
    color: #555;
}
#play-work-data {
    background-color: #f5f5f5;
}
#game-lottery .info a {
    color: #ddd;
}
#bets-cart table tr.head {
    background-color: #cdced0;
    color: #4d5668;
}
#bets-cart table tr.choosed {
    background-color: #ddd;
}
#game-bets .menu {
    background-color: #cdced0;
    color: #4d5668;
}
#game-bets .menu a {
    color: #4d5668;
}
#game-bets .menu a:hover {
    color: #fff;
    background-color: #666;
}
#game-bets .menu a.more {
	color: #4d5668;
}
#game-bets .container {
    background-color: #f5f5f5;
}
#bets-cart {
    color: #555;
}
#my-bets table {
    color: #555;
}
#my-bets table tr.head {
    color: #ddd;
}
#sidebar .top-line {
    border-top: 1px solid #0A1324;
}
#num-select .pp .code {
    border: 1px solid #bfbfbf;
    color: #777575;
    background-color: #fff;
    font-size: 22px;
}
#num-select .pp .code:hover
{color:#fff;background-color: #fb7647;border: 1px solid #FFF;}
#num-select .pp .code.checked {color:#fff;background-color: #fb7647;border: 1px solid #FFF;}
#user-info {
    color: #ddd;
}
#sidebar .user .opt a {
    color: #ddd;
}
#page a {
    color: #999;
    background-color: #cfcfcf;
}
#page a.active,#page a:hover{
    background-color: #fff;
    color:#333;
}
.cs-select .cs-options li span:hover, .cs-select li.cs-focus span {
    background-color: #366fb5;
    color:#fff;
}
.report .money_title {
    color: #ddd;
}
.report .money_val {
    color: #ddd;
    border-right: 1px solid #ddd;
}
#agent-spread-dom .link_add_box, #agent-member-dom .member_add_box {
    background-color: #666;
}
.common .body .member_link{
	color: #777;
}
.common .body .agent_list_down{
	background-color: #DDE1E5;
}
.common .body .agent_list_top{
	background-color: #DDE1E5;
}
.common .body .agent_list_rule{
	color: #555;
}
.common .addon {
    background-color: #f5f5f5;
}
.common .addon .list {
    color: #555;
}
.common .body pre {
    color: #555;
}
#game-lottery .current .kj-hao em {
    background-color: #fb7647;
}
#game-lottery .history table td {
	color: #666;
}
.kj-ball-small span {
    background-color: #fff;
    border-radius: 50px;
    display: inline-block;
    color: #666;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 13px;
    border: 1px solid #CCC;
}
#game-play .play .play-list a.on {
    background-color: #fb7647;
    color: #fff;
}
#game-play .play .play-list a:hover {
    background-color: #fb7647;
    color: #fff;
}
#num-select .pp .action {
    background-color: #b7c0cc;
    border: 1px solid rgba(255, 255, 255, 0);
    color: #555;
    font-size: 18px;
}
#num-select .pp .action:hover {
    color: #fb7647;
    background-color: #b7c0cc;
}
.btn-garydark {
    background-color: #265a88;
    border-color: #265a88;
    color: #ddd;
}
.btn-garydark:hover {
    background-color: #265a88;
    border-color: #265a88;
    color: #ddd;
}
.black-inputs-order {
    background: -webkit-gradient(linear, left top, left bottom, from(#d9534f), to(#c12e2a));
    background: -webkit-linear-gradient(top, #d9534f, #c12e2a);
    background: -moz-linear-gradient(top, #d9534f, #c12e2a);
    background: -ms-linear-gradient(top, #d9534f, #c12e2a);
    background: -o-linear-gradient(top, #d9534f, #c12e2a);
    background: linear-gradient(top, #d9534f, #c12e2a);
}
.black-inputs-preorder {
    background: -webkit-gradient(linear, left top, left bottom, from(#337ab7), to(#265a88));
    background: -webkit-linear-gradient(top, #337ab7, #265a88);
    background: -moz-linear-gradient(top, #337ab7, #265a88);
    background: -ms-linear-gradient(top, #337ab7, #265a88);
    background: -o-linear-gradient(top, #337ab7, #265a88);
    background: linear-gradient(top, #337ab7, #265a88);
}
#fandian-value .text {
    color: #f56262;
}
#play-work-setting .bet-info span {
    color: #f56262;
}
.black-inputs-recharge {
    color: #fff !important;
    border: 1px solid #c12e2a !important;
    background-color: #c12e2a !important;
}
a.black-inputs-recharge:hover {
    color: #fff !important;
    border: 1px solid #c12e2a !important;
    background-color: #c12e2a !important;
}
.recharge-tab {
    background-color: #f5f5f5;
    color: #555;
}
.report_top a {
    color: #fff;
    font-size:15px;
}
.report_top a.on {
    background-color: #c4c4c4;
    color: #555;
}
.report_top a:hover {
    background-color: #c4c4c4;
    color: #555;
}
.report_team_order
{
	color: #555;
}
.report .lottery_div {
    color: #555;
}
.common .head .sep {
    color: #555;
}
.common .head.fixed {
    background-color: #cdced0;
}
#home .bonus_data {
	background-color: rgba(23, 83, 117, 0.8);
}