#nav {
    background-color: #40C73A;
}
#user-info .level {
    background-color: #1BC98E;
    color: #222;
}
#nav > div > a:hover, #nav > div > div > a:hover, #nav a.on {
    border-top: 2px solid #1BC98E;
    background-color: #313442;
}
#nav .agent-nav-list {
    background-color: #313442;
}
#nav .agent-nav-list a {
    border-bottom: 1px solid #3D444D;
}
#game-play .play .play-list {
    background-color: #174522;
}
#game-play .group {
    background-color: #267037;
}
#game-play .group .name {
    color: #fff;
}
#game-play .group .name {
    border-right: 1px solid #0B2110;
}
#group_list a {
    color: #fff;
}
#group_list a.on {
	background-color: #174522;
}
#num-select .pp .lost {
    background-color: #061F16;
    color: #ddd
}
#num-select .pp .title, #num-select .pp ._title, #num-select .pp .title28  {
    border: 0px ;
    border-radius: 0px;
    background-color: #267037;
}
#num-select .pp {
    border-bottom: 1px solid #0D3638;
}
body {
/*    background: #333399 repeat top left fixed; */    
/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#015e00+0,5f9952+100 */
background: rgb(1,94,0); /* Old browsers */
background: -moz-linear-gradient(top,  rgba(1,94,0,1) 0%, rgba(95,153,82,1) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  rgba(1,94,0,1) 0%,rgba(95,153,82,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  rgba(1,94,0,1) 0%,rgba(95,153,82,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#015e00', endColorstr='#5f9952',GradientType=0 ); /* IE6-9 */
}
.jack-foot {
    opacity: 0;
}
#sidebar .user {
    background-color: #1D4227;
}
#sidebar .gs .g .game-name {
    background-color: #1D4227;
}
#sidebar .client {
    background-color: #1D4227;
}
#sidebar .gs {
    background-color: #0D1F12;
}
.common .head {
    background-color: #313442;
}
.common .body {
    background-color: #f5f5f5;
}
.common .body table td {
	color: #555;
}
.common .body table tr.title {
    background-color: #f5f5f5;
}
#game-play .play .play-select {
    background-color: #f5f5f5;
}
#game-play .play .play-info {
	background-color: #f5f5f5;
}
#game-play .play .play-list {
    margin-top: 0px;
}
#game-play .play .play-info .help {
    padding-left: 20px;
}
#game-lottery .history {
	background-color: #f5f5f5;
}
#game-lottery .history table tr.head {
    background-color: #1D4227;
    color: #ddd;
}
#play-work-setting {
	padding: 15px 0px 0px 15px;
	margin-top: 0px;
	background-color: #f5f5f5;
}
#game-lottery .current_award {
    color: #ddd;
}
#game-lottery .info .name {
    color: #ddd;
}
#play-mod, #beishu-warp {
    color: #555;
}
#play-work-setting .bet-info {
    color: #555;
}
#play-work-data {
    background-color: #f5f5f5;
}
#game-lottery .info a {
    color: #ddd;
}
#bets-cart table tr.head {
    background-color: #313442;
}
#bets-cart table tr.choosed {
    background-color: #ddd;
}
#game-bets .menu {
    background-color: #313442;
}
#game-bets .container {
    background-color: #f5f5f5;
}
#bets-cart {
    color: #555;
}
#my-bets table {
    color: #555;
}
#my-bets table tr.head {
    color: #ddd;
}
#sidebar .top-line {
    border-top: 1px solid #0A1324;
}
#num-select .pp .code {
    border: 0px;
    color: #999;
    background-color: #cfcfcf;
}
#num-select .pp .code:hover
{color:#fff;background-color: #39A853;border: 0px;}
#num-select .pp .code.checked {
    color: #fff;
    background-color: #39A853;
    border: 1px solid #999;
}
#user-info {
    color: #ddd;
}
#sidebar .user .opt a {
    color: #ddd;
}
#page a {
    color: #999;
    background-color: #cfcfcf;
}
#page a.active,#page a:hover{
    background-color: #fff;
    color:#333;
}
.cs-select .cs-options li span:hover, .cs-select li.cs-focus span {
    background-color: #04A5F0;
    color:#fff;
}
.report .money_title {
    color: #ddd;
}
.report .money_val {
    color: #ddd;
    border-right: 1px solid #ddd;
}
#agent-spread-dom .link_add_box, #agent-member-dom .member_add_box {
    background-color: #666;
}
.common .body .member_link{
	color: #777;
}
.common .body .agent_list_down{
	background-color: #DDE1E5;
}
.common .body .agent_list_top{
	background-color: #DDE1E5;
}
.common .body .agent_list_rule{
	color: #555;
}
.common .addon {
    background-color: #f5f5f5;
}
.common .addon .list {
    color: #555;
}
.common .body pre {
    color: #555;
}
#game-lottery .history table {
    border-top: 0px;
}