@font-face {
	font-family: 'icon';
	src: url('/static/font/icon.eot?69283219');
	src: url('/static/font/icon.eot?69283219#iefix') format('embedded-opentype'),
	   url('/static/font/icon.woff?69283219') format('woff'),
	   url('/static/font/icon.ttf?69283219') format('truetype'),
	   url('/static/font/icon.svg?69283219#icon') format('svg');
	font-weight: normal;
	font-style: normal;
}
[class^="icon-"]:before, [class*=" icon-"]:before, #num-select .title:after, #num-select .title:before {
	font-family: "icon";
	font-style: normal;
	font-weight: normal;
	speak: none;
	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .4em;
	text-align: center;
	font-variant: normal;
	text-transform: none;
	line-height: 1em;
	margin-left: .2em;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.icon-home:before{content:'\e800'} 
.icon-user:before{content:'\e801';} 
.icon-address-book:before{content:'\e802'} 
.icon-ok:before{content:'\e803'} 
.icon-cancel:before{content:'\e804'} 
.icon-link-ext:before{content:'\e805'} 
.icon-bell:before{content:'\e806'} 
.icon-bell-alt:before{content:'\e807'} 
.icon-bell-off:before{content:'\e808'} 
.icon-bell-off-empty:before{content:'\e809'} 
.icon-attention-alt:before{content:'\e80a'} 
.icon-trash:before{content:'\e80b'} 
.icon-trash-empty:before{content:'\e80c'} 
.icon-calendar:before{content:'\e80d'} 
.icon-calendar-empty:before{content:'\e80e'} 
.icon-award:before{content:'\e80f'} 
.icon-globe:before{content:'\e810'} 
.icon-cloud:before{content:'\e811'} 
.icon-off:before{content:'\e812'} 
.icon-chart-line:before{content:'\e813'} 
.icon-chart-pie:before{content:'\e814'} 
.icon-credit-card:before{content:'\e815'} 
.icon-rocket:before{content:'\e816'} 
.icon-tasks:before{content:'\e817'} 
.icon-diamond:before{content:'\e818'} 
.icon-android:before{content:'\e819'} 
.icon-apple:before{content:'\e81a'} 
.icon-bookmark:before{content:'\e81b';} 
.icon-bookmark-empty:before{content:'\e81c';} 
.icon-clock:before{content:'\e81d'} 
.icon-lamp:before{content:'\e81e'} 
.icon-down-open-big:before{content:'\e81f'} 
.icon-left-open-big:before{content:'\e820'} 
.icon-right-open-big:before{content:'\e821'} 
.icon-up-open-big:before{content:'\e822'} 
.icon-comment:before{content:'\e823'} 
.icon-comment-inv:before{content:'\e824'} 
.icon-comment-alt:before{content:'\e825'} 
.icon-comment-inv-alt:before{content:'\e826'} 
.icon-comment-alt2:before{content:'\e827'} 
.icon-comment-inv-alt2:before{content:'\e828'} 
.icon-th-large:before{content:'\e829'} 
.icon-th:before{content:'\e82a'} 
.icon-th-list:before{content:'\e82b'} 
.icon-compass:before{content:'\e82c'} 
.icon-fire:before{content:'\e82d'} 
.icon-certificate:before{content:'\e82e';} 
.icon-sweden:before{content:'\e82f'} 
.icon-gauge:before{content:'\e830'} 
.icon-list-alt:before{content:'\e831'} 
.icon-fire-1:before{content:'\e832';} 
.icon-plus:before{content:'\e833'} 
.icon-minus:before{content:'\e834'} 
.icon-undo:before{content:'\e835'} 
.icon-target:before{content:'\e836'} 
.icon-squares:before{content:'\e837'} 
.icon-glass:before{content:'\e838'} 
.icon-wrench:before{content:'\e839'} 
.icon-key:before{content:'\e83a'} 
.icon-ok-1:before{content:'\e83b'} 
.icon-help:before{content:'\e83c'} 
.icon-link-ext-alt:before{content:'\e83d'} 
.icon-tag:before{content:'\e83e'} 
.icon-tags:before{content:'\e83f'} 
.icon-flag:before{content:'\e840'} 
.icon-flag-empty:before{content:'\e841'} 
.icon-flag-checkered:before{content:'\e842'} 
.icon-keyboard:before{content:'\e843'} 
.icon-direction:before{content:'\e844'} 
.icon-box:before{content:'\e845'} 
.icon-folder:before{content:'\e846'} 
.icon-folder-open:before{content:'\e847'} 
.icon-folder-empty:before{content:'\e848'} 
.icon-folder-open-empty:before{content:'\e849'} 
.icon-cog:before{content:'\e84a'} 
.icon-wrench-1:before{content:'\e84b'} 
.icon-basket:before{content:'\e84c'} 
.icon-down-dir:before{content:'\e84d'} 
.icon-up-dir:before{content:'\e84e'} 
.icon-left-dir:before,#num-select .title:before{/*content:'\e84f'*/} 
.icon-right-dir:before,#num-select .title:after{/*content:'\e850'*/} 
.icon-angle-left:before{content:'\e851'} 
.icon-angle-right:before{content:'\e852'} 
.icon-angle-up:before{content:'\e853'} 
.icon-angle-down:before{content:'\e854'} 
.icon-angle-double-left:before{content:'\e855'} 
.icon-angle-double-right:before{content:'\e856'} 
.icon-angle-double-up:before{content:'\e857'} 
.icon-angle-double-down:before{content:'\e858'} 
.icon-paper-plane:before{content:'\e859'} 
.icon-paper-plane-empty:before{content:'\e85a'} 
.icon-table:before{content:'\e85b'} 
.icon-columns:before{content:'\e85c'} 
.icon-briefcase:before{content:'\e85d'} 
.icon-suitcase:before{content:'\e85e'} 
.icon-certificate-1:before{content:'\e85f'} 
.icon-beaker:before{content:'\e860'} 
.icon-magic:before{content:'\e861'} 
.icon-coffee:before{content:'\e862'} 
.icon-shield:before{content:'\e863'} 
.icon-tree:before{content:'\e864'} 
.icon-html5:before{content:'\e865'} 
.icon-qq:before{content:'\e866'} 
.icon-shareable:before{content:'\e867'} 
.icon-basket-1:before{content:'\e868'} 
.icon-pin-outline:before{content:'\e869'} 
.icon-pin:before{content:'\e86a'} 
.icon-trash-1:before{content:'\e86b'} 
.icon-trash-2:before{content:'\e86c'} 
.icon-volume-off:before{content:'\e86d'} 
.icon-volume-down:before{content:'\e86e'} 
.icon-mail:before{content:'\e86f'} 
.icon-mail-alt:before{content:'\e870'} 
.icon-smile:before{content:'\e871'} 
.icon-frown:before{content:'\e872'} 
.icon-meh:before{content:'\e873'} 
.icon-print:before{content:'\e874'} 
.icon-mobile:before{content:'\e875'} 
.icon-article-alt:before{content:'\e876'} 
.icon-desktop:before{content:'\e877'} 
.icon-popup:before{content:'\e878'} 
.icon-android-1:before{content:'\e879'} 
.icon-appstore:before{content:'\e87a'} 
.icon-windows:before{content:'\e87b'} 
.icon-chrome:before{content:'\e87c'}
.icon-exchange:before{content:'\e87d'} 
.icon-sitemap:before{content:'\e87e'} 
.icon-dot:before{content:'\e87f'} 
.icon-dot-3:before{content:'\e880'} 
.icon-heart:before{content:'\e881'} 
.icon-heart-empty:before{content:'\e882'} 
.icon-star:before{content:'\e883'} 
.icon-star-empty:before{content:'\e884'} 
.icon-dot-circled:before{content:'\e885'} 
.icon-download:before{content:'\e886'} 
.icon-upload:before{content:'\e887'} 
.icon-ccw:before{content:'\e888'} 
.icon-eye:before{content:'\e889'} 
.icon-yen:before{content:'\e88a'} 
.icon-chart-bar:before{content:'\e88b'} 
.icon-chart:before{content:'\e88c'} 
.icon-search:before{content:'\e88d'} 
.icon-pencil-squared:before{content:'\e88e'} 
.icon-edit:before{content:'\e88f'} 
.icon-flash:before{content:'\e890'}