figure { 
  position: relative;
  margin: auto;
  top: 32px; bottom: 0; left: -20px; right: 0;
  width: 6.250em; height: 6.250em;
  animation: rotate 2.4s linear infinite;
}
.white { 
  top: 0; bottom: 0; left: 0; right: 0; 
  background: white; 
  animation: flash 2.4s linear infinite;
  opacity: 0;
}
.dot {
  position: absolute;
  margin: auto;
  width: 2.4em; height: 2.4em;
  border-radius: 100%;
  transition: all 1s ease;
}
.dot:nth-child(2) { top: 0; bottom: 0; left: 0; background: #FF4444; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(3) { left: 0; right: 0; top: 0; background: #FFBB33; animation: dotsX 2.4s linear infinite; }
.dot:nth-child(4) { top: 0; bottom: 0; right: 0; background: #99CC00; animation: dotsY 2.4s linear infinite; }
.dot:nth-child(5) { left: 0; right: 0; bottom: 0; background: #33B5E5; animation: dotsX 2.4s linear infinite; }

@keyframes rotate {
  0% { transform: rotate( 0 ); }
  10% { width: 6.250em; height: 6.250em; }
  66% { width: 2.4em; height: 2.4em; }
  100%{ transform: rotate(360deg); width: 6.250em; height: 6.250em; }
}

@keyframes dotsY {
  66% { opacity: .1; width: 2.4em; }
  77%{ opacity: 1; width: 0; }
}
@keyframes dotsX {
  66% { opacity: .1; height: 2.4em;}
  77%{ opacity: 1; height: 0; }
}

@keyframes flash {
  33% { opacity: 0; border-radius: 0%; }
  55%{ opacity: .6; border-radius: 100%; }
  66%{ opacity: 0; }
}
@keyframes flip {
  from {
    -webkit-transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    transform: perspective(400px) rotate3d(0, 1, 0, -360deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  40% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -190deg);
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
  }

  50% {
    -webkit-transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    transform: perspective(400px) translate3d(0, 0, 150px) rotate3d(0, 1, 0, -170deg);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  80% {
    -webkit-transform: perspective(400px) scale3d(.95, .95, .95);
    transform: perspective(400px) scale3d(.95, .95, .95);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }

  to {
    -webkit-transform: perspective(400px);
    transform: perspective(400px);
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in;
  }
}



/*
 * Loading Dots
 * Can we use pseudo elements here instead :after?
 */
.loading_k {
    text-align: center;
    line-height: 135px;
}
.loading_k span {
  display: inline-block;
  vertical-align: middle;
  width: .6em;
  height: .6em;
  margin: .19em;
  background: #007DB6;
  border-radius: .6em;
  animation: loading 1s infinite alternate;
}

/*
 * Dots Colors
 * Smarter targeting vs nth-of-type?
 */
.loading_k span:nth-of-type(2) {
  background: #008FB2;
  animation-delay: 0.2s;
}
.loading_k span:nth-of-type(3) {
  background: #009B9E;
  animation-delay: 0.4s;
}
.loading_k span:nth-of-type(4) {
  background: #00A77D;
  animation-delay: 0.6s;
}
.loading_k span:nth-of-type(5) {
  background: #00B247;
  animation-delay: 0.8s;
}
.loading_k span:nth-of-type(6) {
  background: #5AB027;
  animation-delay: 1.0s;
}
.loading_k span:nth-of-type(7) {
  background: #A0B61E;
  animation-delay: 1.2s;
}

/*
 * Animation keyframes
 * Use transition opacity instead of keyframes?
 */
@keyframes loading {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.topbar-loading {text-align:center;}
.topbar-loading img{margin-top:30px;margin-right:280px;}
#game-lottery .lottery-container {padding-top: 5px;}
#game-lottery{    min-height: 150px;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
#game-lottery .info_1,.info_2,.info_3{width: 33%;float: left;}
#game-lottery .info_1{font-size: 30px;}
#game-lottery .loading{background:url(../image/loading-lottery.gif) no-repeat;height:60px;padding-left:60px;line-height:60px;font-size:14px;color:#555;width:170px;margin:37px auto 0}
#game-lottery .info{height:130px;line-height:20px;margin-bottom:0px;}
#game-lottery .info .name{color:#999;font-size:14px;padding-top: 15px;padding-left: 10px;}
#kjsay{
	border-radius:4px;padding:6px 0px;font-size:14px;color:#fff;width:100%;text-align:center;
	border:1px solid #fff;
	margin-bottom: 8px;
}
#game-lottery .info a{color: #999}
#game-lottery .block{float:left}
#game-lottery .last{width:100%}
#game-lottery .data .name{color: #ddd;text-align: left;padding: 10px 0;font-size: 14px;margin-left: 10px;}
#game-lottery .data{height:30px;padding-top: 10px;}
#timer_lottery{height:54px;padding:1px 0 0;}
#timer_lottery div{float:left}
#timer_lottery .number{float:left;font-size:26px;background-color:rgba(255,255,255,.5);border-radius:4px;border:1px solid #fff;padding:7px 0 0 6px;text-align:center;margin:0 2px;width:18px;height:34px}
#timer_lottery .sep:before{content:'\3a';font-family:'Lucida Console';font-size:30px;margin:0 3px;line-height:43px}
#timer_lottery .colon{float: left;font-family: 'Microsoft Yahei';height: 40px;line-height: 46px;font-size: 30px;text-align: center;margin-left: 3px;color: #e5e5e5;}
#game-lottery .current{width:100%;padding-top: 20px;}
#game-lottery .current_award{font-size: 18px;color: #999}
#game-lottery .current .kj-hao em{background-color:#1997c6;border-radius:40px;text-align:center;float:left}
#game-lottery .current .num_right{padding:20px 15px 0 10px;height:53px}
#game-lottery .current .num_right_lucky28{line-height:40px;float:left;font-size:16px;margin-right:8px;}
#game-lottery .current .num_right em{line-height:40px;height:40px;width:40px;margin-right:10px;font-size:25px;color:#fff;}
#game-lottery .current .num_right_new{padding:6px 17px 5px 31px;height:43px}
#game-lottery .current .num_right_new em{line-height:30px;height:30px;width:30px;margin-right:7px;font-size:20px}
#game-lottery .current .num_right_pk10{padding-top:10px;height:38px}
#game-lottery .current .num_right_pk10 em{
line-height: 34px;
    height: 34px;
    width: 34px;
    margin-right: 5px;
    font-size: 16px;
    color: #fff;
}
#game-lottery .current .num_right_kl{padding:0 15px 0 25px;height:54px}
#game-lottery .current .num_right_kl em{
    line-height: 28px;
    height: 28px;
    width: 28px;
    margin: 0 10px 2px 0;
    font-size: 16px;
    color: #fff;
    margin-top: 5px;
}
#game-lottery .current .num_right_k3,#game-lottery .current .num_right_3d{padding-top:15px;height:54px;color:#fff}
#game-lottery .current .num_right_k3 em,#game-lottery .current .num_right_3d em{line-height:60px;height:60px;width:60px;margin-right:10px;font-size:32px;color:#fff;font-weight:bold;}
#game-lottery .current .kj-hao .color_green{
	background-color: #1b7e68;
}
#game-lottery .current .kj-hao .color_blue {
	background-color: #2768b3;
}
#game-lottery .current .kj-hao .color_red {
	background-color: #7e1f1b;
}

#game-lottery .history{
	border-left-width: 0;
    width: 100%;
    padding: 0;
    color: #999;
    height: 130px;
    overflow: hidden;
    font-size: 12px;
    border-bottom: 1px solid #3c3c3c;
    border-right: 1px solid #3c3c3c;
    border-left: 1px solid #3c3c3c;
	float:left;
}
.history_title{float: left;width: 33%;text-align: right;}
#game-lottery .history table{border-top:1px solid #3c3c3c;}
#game-lottery .history table tr.head{font-weight:700;background-color:#1d1f21}
#game-lottery .history table td{padding:5px 0;text-align:center;border-bottom:1px solid #3c3c3c}
@media (max-width: 1249px)
{
	#game-lottery .info_3
	{
		display: none;
	}
	#game-lottery .info_1,#game-lottery .info_2
	{
		width:50%;
	}
}
.dowebok .minutes,.dowebok .seconds {margin-left:3px;}
#game-play .group{background-color:#353642;height:36px;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
#game-play .group .name{color:#ddd;float:left;height:36px;line-height:36px;font-size:14px;padding:0 30px;border-right:1px solid #434857; }
#group_list{font-size:14px;height:36px;margin-left:108px}
#group_list li{float:left}
#group_list a{float:left;height:31px;line-height:31px;color:#999;padding:0 15px;

    border-top: 3px solid transparent;
    border-bottom: 3px solid transparent;

}
#group_list a:hover{background-color:rgba(85,85,85,.5)}
#group_list a.on{background-color:#202029;color:#FFF;}

#game-play {width: 100%;}
#game-play .play .play-list {width:100%;background-color:#202029;padding-bottom: 15px;margin-top: 1px; 
    overflow: hidden;
    text-overflow: ellipsis;}
#game-play .play .play-list a{border-radius:2px;padding:3px 12px;color:#cfd2da;margin-right:10px}
#game-play .play .play-list a:hover{background-color:#c4c4c4;color:#000}
#game-play .play .play-list a.on{background-color:#c4c4c4;color:#000;}
#game-play .play .play-list span{margin-top: 15px;padding-left: 15px;display:inline-block}
#game-play .play .play-info{color:#676767; padding:10px 0px 0px 0px;}
#game-play .play .play-info .help .btn{padding:0 7px}
#game-play .play .play-info .help .btn .showeg:before{margin:0 3px 0 0}
#game-play .play .play-info .help .btn .icon-help:before{font-size:13px}
#game-play .play .play-info .play-eg{position:absolute;z-index:99;text-align:left;width:260px;padding:10px;background:rgba(86,86,86,.9);line-height:20px;color:#e5e5e5;border-radius:2px}
#game-play .play .play-select{padding:15px 0px 5px 0px}
#num-select .pp{margin-bottom:10px; border-bottom: 1px solid #353642;  padding-bottom: 8px;height: 65px;    
	/*white-space: nowrap;*/
    overflow: hidden;
    text-overflow: ellipsis;}
#num-select .pp.pp_fix_1{height:auto}
#num-select .pp.pp_fix_2{height:77px}
#wei-shu{height:23px;line-height:23px;margin-bottom:15px;font-size: 16px;}
#num-select .dantuo{margin-bottom:10px;font-size:14px}
#wei-shu label,#num-select .dantuo label{cursor:pointer;margin-right:5px}
#wei-shu input,#num-select .dantuo input{vertical-align:-2px;}
#digit_select_all{
	margin-left:15px
}
#textarea-code{height:60px;padding:10px;width:100%;border:1px solid #ddd;border-radius:3px 3px 0 0;display:block;color:#555;line-height:22px;height:150px;box-sizing: border-box;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;}
#clear_num_func{
	border-radius:0 0 3px 3px;display:block;font-size:13px;padding:5px 0 10px;
    color: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#4b4b4b), to(#313131));
    background: -webkit-linear-gradient(top, #4b4b4b, #313131);
    background: -moz-linear-gradient(top, #4b4b4b, #313131);
    background: -ms-linear-gradient(top, #4b4b4b, #313131);
    background: -o-linear-gradient(top, #4b4b4b, #313131);
    background: linear-gradient(top, #4b4b4b, #313131);
	height: 32px;
	line-height: 32px;
	padding: 0 10px;
	text-align: center;	
}
#clear_num_func:hover{color:#ffefcd}
.num-table{}
#num-select .pp .title,#num-select .pp ._title{
    /*margin-top: 5px;*/
    /* float: left; */
    height: 34px;
    line-height: 30px;
    border: 1px solid #434857;
    border-radius: 2px;
    width: 80px;
    text-align: center;
    font-size: 14px;
    margin-right: 18px;
    color: #fff;
    position: relative;
	margin-top:6px;
}
#num-select .pp .lost{
    width: 80px;
    text-align: center;
    font-size: 12px;
    margin-right: 18px;
    color: #51586a;
    position: relative;
    background-color: #262732;
}
#num-select .pp .lost_num{
    /* background-color: #353642; */
    height: 19px;
    width: 36px;
    font-size: 12px;
    line-height: 22px;
    color: #666;
}
#num-select .pp .area_num{
	float: left;
}
@media (min-width: 1400px)
{
	#num-select .pp .title,#num-select .pp ._title{width: 132px;margin-right: 40px;}	
	#num-select .pp .lost{width: 132px;margin-right: 40px;}
}
#num-select .pp .title28{
	width: 130px;
	margin-right: 40px;
    margin-top: 5px;
    height: 30px;
    line-height: 30px;
    border: 1px solid #434857;
    border-radius: 2px;
    text-align: center;
    font-size: 14px;
    color: #fff;
    position: relative;
    margin-bottom: 15px;
}
#num-select .pp .title28:after{margin:-5px 0 0 0;position:absolute;right:5px;top:50%}
#num-select .pp .title28:before{margin:-5px 0 0 0;position:absolute;left:5px;top:50%}
#num-select .pp .title:after{margin:-5px 0 0 0;position:absolute;right:5px;top:50%}
#num-select .pp .title:before{margin:-5px 0 0 0;position:absolute;left:5px;top:50%}
#num-select .pp .code{
width: 42px;
height: 42px;
border-radius: 42px;
border: 1px solid #202029;
margin-right:10px;
margin-top:6px;
line-height:35px;text-align:center;cursor:pointer;color:#ddd;
font-size: 18px;
}
@media (min-width: 1350px)
{
	/* #num-select .pp .code{margin-right:12px;} */	
}

#num-select .pp.l3 .code{width:50px;font-size:12px;
    border-radius: 50%;
    border: 1px solid #202029;
    background: transparent;
    background-color: #202029;
}
#num-select .pp.l3 .code:hover,#num-select .pp.lm .code:hover,#num-select .pp.l3 .code.checked,#num-select .pp.lm .code.checked{
	background-color:#a37c27;
	border:1px solid #a37c27;
}
#num-select .pp.lm .code{
	width:auto;border-radius:2px;padding:0 10px;
    /* border: 1px solid #e8e5dc; 
     background: transparent;
     background-color: #cfd2da; */
}
#num-select .pp.c20{}
#num-select .pp.c20 .title{height:26px;line-height:26px;width: 95px;}
#num-select .pp.c20 .code{margin-right:6px;width:42px;height:42px;line-height:35px;font-size:18px}
#num-select .pp.c20 .action{height:26px;line-height:24px;padding:0 8px}
#num-select .pp.cm{height:auto;margin-bottom:4px}
#num-select .pp.cm .code{margin-bottom:6px}
#num-select .pp.cm .action{position:absolute;bottom:6px;margin:0}
#num-select .pp .code:hover{color:#FFF;border:#ddd 1px solid;}
#num-select .pp .action:hover{color:#000;background-color:#ddd;}
#num-select .pp .action:active{background-color:#cfd2da;border-color:#fff;color:#202029;}
#num-select .pp .code.checked{color:#000;background-color:#ddd;border: 1px solid #ddd;}
#num-select .pp .action{
	float: right;
	background-color:#353642;
    /* background-color: transparent; */
    border: 1px solid rgba(255, 255, 255, 0);
    line-height: 30px;
    padding: 0 12px;
    color: #999;
    cursor: pointer;
    margin-right: 6px;
    font-size: 16px;
    line-height: 50px;
    width: 50px;
	height: 50px;
}
#num-select .pp .lost_action{
	float: right;
	margin-top: 14px;
}
#num-select .nolost{
	height: auto;
}
#num-select .lost_code{
	float: left;text-align: center;
}
#num-select .lost_title{
	float: left;
}
#num-select .pp .action:hover{
}
#num-select .pp .code_box{
	width:100px;
	border-radius: 0%;
	background-color: #202029;
	margin-right: 0px;
	margin-top: 0px;
}
#num-select .pp .color_green{
	color: #1b7e68;
}
#num-select .pp .color_blue{
	color: #2768b3;
}
#num-select .pp .color_red{
	color: #7e1f1b;
}
#play-work-setting .title{

    line-height: 31px;
    height: 31px;
    float: left;
    color: #FFF;
    width: 70px;
    font-size: 20px;
    text-align: center;
}
#play-work-setting{margin-top:2px;padding:15px 0px 0px 0px;color:#555;height:50px;font-size: 14px;    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;}
#fandian-value .text{padding:6px 0px 0px 0px;width:120px;color:#cd8d2a;}
#fandian-value .cs-select span{width:176px;text-align:center}
#play-mod{width:190px}
#play-mod,#beishu-warp{padding-left:10px;line-height:31px;height:31px;float:left;color:#FFF;width:160px;}
#play-mod .name,#beishu-warp .name{float:left;margin-right:3px}
#play-mod b{
    float: left;
    margin-right: 1px;
    font-weight: 500;
    background-color: #cfcfcf;
    height: 24px;
    line-height: 24px;
    width: 24px;
    text-align: center;
    margin-top: 2px;
    color: #999999;
    border: 1px solid #cfcfcf;
    cursor: pointer;
}
#play-mod b:hover{    background-color: #FFF;
    border-color: #FFF;
    color: #333;}
#play-mod b.on{
    background-color: #FFF;
    border-color: #FFF;
    color: #333;
}
#beishu-warp{padding-right:10px;border-right:none}
#beishu-warp i{
    border-radius: 0px;
    border: 1px solid #cfcfcf;
    background-color: #f9f9f9;
    cursor: pointer;
    line-height: 24px;
    float: left;
    margin-top: 2px;
    height: 24px;
    color: #555;
    font-size: 16px;
}
#beishu-warp i:before{margin:0;line-height:normal;padding:0 1px}
#beishu-warp i:hover{background-color:#f0f0f0;border-color:#ccc}
#beishu-value{
    border: 1px solid #cfcfcf;
    background-color: #f9f9f9;
    width: 50px;
    text-align: center;
    color: #555;
    border-radius: 0;
    float: left;
    margin: 2px 1px;
    height: 22px;
    font-size: 16px;

}
#play-work-setting .opt a{border:0px solid #f9f9f9;float:left;height:32px;line-height:32px;padding:0 10px;border-radius:2px;margin-right:10px;font-size:14px;text-align: center;}
#play-work-setting .opt2 a{width: 100px;}
#play-work-setting .opt a.del{border-left:none}
#play-work-setting .bet-info{line-height:40px;padding:0 2px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;
    margin-right: 10px;
    font-size: 14px;
    color: #ddd;
}
#all-amount {font-size:20px;}
#play-work-setting .bet-info:before{margin:0 3px 0 0}
#play-work-setting .bet-info span{margin-right:5px;color:#cd8d2a}

#play-work-data{padding:0px;height:220px;display: table;width:100%;}
#bets-cart{border:1px solid #353642;height:190px;color:#CCC;overflow-y:auto;border-radius: 4px;    display: inline-block;
    width: 100%;}
#bets-cart table tr.head{color:#FFF;background-color:#1d1f21;}
#bets-cart table tr{cursor:pointer;}
#bets-cart table tr.choosed{background-color:#555}
#bets-cart table td{padding:8px 0;text-align:center;border-bottom:1px solid #353642;}
#bets-cart table td a.del{color:#555}
#bets-cart table td a.del:hover{color:#555}
#play-btn{    width: 160px;
    padding-left:10px;
    display: table-cell;}
#play-btn .btn{float:left;width:160px;height:36px;line-height:36px;margin-bottom:10px;font-size:14px}

#submit-bets .submit-bets-head{height:24px;line-height:24px;padding:10px}
#submit-bets .submit-bets-title{color:#555;margin-bottom:10px;font-size:14px;float:left}
#submit-bets .submit-bets-title .btn{font-size:12px;line-height:normal;margin:0 5px;padding:0 7px}
#submit-bets .submit-bets-info{float:right;font-size:12px;color:#555}
#submit-bets .submit-bets-info .amount{margin-left:10px}
#submit-bets .submit-bets-info .num{margin:0 5px 0 2px;color:#E64759}
#submit-bets .submit-bets-body{max-height:234px;overflow-y:auto;border-top:none}
#submit-bets .submit-bets-body table{color:#555;font-size:12px}
#submit-bets .submit-bets-body table tr.head{color:#35928f}
#submit-bets .submit-bets-body table td{padding:5px 0;text-align:center}

#game-bets .menu{height:36px;background-color:#141617;font-size:13px;border-right: 1px solid #434857;border-top: 1px solid #434857;border-left: 1px solid #434857;border-top-right-radius: 4px;border-top-left-radius: 4px;}
#game-bets .menu.fixed{position:fixed;top:0;z-index:99}
#game-bets .menu.fixed a .triangle{border-bottom-color:#fff}
#game-bets .menu a{float:left;padding:0 15px;line-height:36px;color:#fff;position:relative;font-size:14px;}
#game-bets .menu a:hover{background-color:#3c3c3c}
#game-bets .menu a.more{float:right;color:#ddd;font-size:12px}
#game-bets .menu a.more:hover{color:#fff}
#game-bets .menu a .triangle{width:0;height:0;border-left:6px solid transparent;border-right:6px solid transparent;border-bottom:6px solid #fff;position:absolute;bottom:0;left:50%;margin-left:-6px;opacity:0}
#game-bets .menu a.on .triangle{opacity:1}
#game-bets .container{background-color:#202029;min-height:80px}
#game-bets .container .none{line-height:80px;color:#555;text-align:center}
/* #my-bets{padding:15px} */
#my-bets table{color:#999;border-left:1px solid #353642;border-bottom:1px solid #353642;border-right:1px solid #353642;}
#my-bets table tr.head{background-color:#1d1f21;}
#my-bets table td{padding:7px 5px;text-align:center;border-right:0px solid #353642;border-top:1px solid #353642}
#my-bets table td a{color:#23a966;border-bottom:1px dotted transparent}
#my-bets table td a:hover{border-color:#1BC98E}
#my-bets table td.lotteryNo{max-width:125px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis}
#my-bets table td .t{margin-right:5px;padding:0 3px}

.detail table{color:#555;background-color:#f2f2f2;font-size:12px}
.detail table td{padding:7px 5px;text-align:center;border-bottom:1px solid #fff;border-right:1px solid #fff}
.detail table td.k{color:#35928f}
.detail table td .actionData{background-color:#fff;color:#555;max-height:80px;overflow-y:auto;text-align:left;padding:10px;word-wrap:break-word;word-break:break-all;border: 1px solid #000;border-radius: 4px;}

.money-panel{background-color:#202029;}
.money-panel .main{padding:30px 0;height:43px;margin:0 auto}
#recharge-panel .main{}
#cash-panel .main{width:844px}
.money-panel .input{border:1px solid #e5e5e5;padding:10px 10px 10px 35px;float:left;background-color:#fdfdfd;border-radius:0 2px 2px 0;position:relative}
.money-panel .input.mr15{margin-right:15px}
.money-panel .input.password{border-left:none}
.money-panel .input.disabled{background-color:#f5f5f5}
.money-panel .input.focus{background-color:#f9f9f9}
.money-panel .input .icon{font-size:15px;color:#555;width:15px;height:15px;position:absolute;top:11px;left:15px}
.money-panel .input .icon:before{margin:0}
.money-panel .input input{border:none;background-color:#fdfdfd;color:#555;font-size:13px;width:335px;height:19px}
.money-panel .input.password input{width:120px}
.money-panel .input.disabled input{background-color:#f5f5f5}
.money-panel .input.focus input{background-color:#f9f9f9}
.money-panel .type{float:left;border:1px solid #e5e5e5;border-right:none;border-radius:2px 0 0 2px;background-color:#fff;cursor:pointer;position:relative;overflow:hidden}
.money-panel .current{float:left;height:35px;padding:3px 0;margin-left:10px}
.money-panel .choose{float:left;font-size:13px;line-height:41px;margin:0 15px 0 0;color:#555}
.money-panel .hover{position:absolute;left:0;top:41px;width:100%;height:100%;background-color:#fff;color:#555;font-size:13px;line-height:41px;text-align:center}
.money-panel .submit{height:43px;line-height:41px;width:120px;font-size:15px}

.money-panel .input2{border:1px solid #e5e5e5;padding:10px 10px 10px 15px;background-color:#fdfdfd;border-radius:0 2px 2px 0;position:relative;width:355px;margin-bottom:10px;}
.money-panel .input3{padding:15px 0px;border-radius:0 2px 2px 0;position:relative;margin-bottom:10px;}

.money-panel .input2 span {
color:crimson;
    width: 120px;
    display: inline-block;
}


.money-panel .input2 input {
    border: none;
    background-color: #fdfdfd;
    color: #555;
    font-size: 13px;
    width: 230px;
    height: 19px;
	margin-left:0px;
}


.panel-head{background-color:#202029;border-top:1px solid #202029;}
#bank-list{padding:20px 68px 10px 0px;height:171px}
#bank-list img{float:left;cursor:pointer;padding:3px;margin:0 10px 10px 0;background-color:#f0e6d2;border-radius:2px}
#bank-list img:hover{background-color:#e8dabf}
#bank-list img.active{background-color:#a3b9ff}
#cash-intro .tip{padding:15px;color:#eee;text-align:center;background-color:#434857;position:relative}
#cash-intro .tip .triangle{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #434857;position:absolute;top:-10px;left:50%;margin-left:-10px}
#cash-intro .tip .btn{padding:0 8px;margin:0 5px;line-height:normal}

.select.fixed{height:16px}
.select.fixed span{float:left}
.select.fixed .text{width:91px}
.panel-head{padding:20px 15px 5px;position:relative;height:176px}
.panel-head .warp{position:absolute;width:930px;top:20px;left:15px}
.panel-head .item{height:29px;margin-bottom:15px}
.panel-head .item .item-name{font-size:13px;color:#fff;float:left;line-height:29px;margin-right:15px}
.panel-head .item .item-data{float:left}
.panel-head .item .item-data a{padding:5px 12px;border-radius:2px;background-color:#1c1d21;color:#AAA;border:1px solid #1c1d21;float:left;margin-right:10px}
.panel-head .item .item-data a:hover{background-color:#494949;border-color:#494949;color:#FFF;}
.panel-head .item .item-data a.active{background-color:#494949;border-color:#494949;color:#FFF;}
.panel-head .triangle{width:0;height:0;border-left:10px solid transparent;border-right:10px solid transparent;border-bottom:10px solid #FFF;position:absolute;bottom:0;left:180px}
#bet-panel.panel-head{height:auto;padding:15px 15px 10px}
#bet-panel.panel-head .item{height:auto;margin-bottom:5px;width:930px}
#bet-panel.panel-head .item .item-data,#bet-panel.panel-head .item .item-name{float:none;margin:0 0 5px 0}
#bet-panel.panel-head .item .item-name{float:none;margin-bottom:7px}
#bet-panel.panel-head .item .item-data a{margin-bottom:5px}
#user-setting-dom table{font-size:13px}
#user-setting-dom table td{padding:10px 15px}
#user-setting-dom .password form{height:39px}
#user-setting-dom .password form.mb{margin-bottom:10px}
#user-setting-dom .password .pwd_name{float:left;line-height:39px;border:1px solid #ddd;background-color:#f5f5f5;width:100px;font-size:14px;text-align:center;color:#555}
#user-setting-dom .password input{padding:11px 15px;width:180px;float:left;margin-left:-1px}
@media (max-width: 1250px)
{
	#user-setting-dom .password input{
		width:100px;
	}	
}
#user-setting-dom .password .btn{height:39px;line-height:35px;font-size:13px;width:120px;margin-left: 15px;}
#user-setting-dom .card .card-tip{font-size:14px;color:#555;padding:50px 0;text-align:center}
#user-setting-dom .card select{padding:5px 10px}
#user-setting-dom .card input{padding:5px 10px;width:300px}
#user-setting-dom .card input:focus{border-color:#e0cfbd}
#user-setting-dom .card .btn{display:block;width:100%;height:39px;line-height:37px;font-size:15px;margin-top:10px}
#user-money-dom.common .body{padding:0}
#money-total{background-color:#202029;padding:30px 55px;height:50px;}
#money-total .block{float:left;height:50px;line-height:50px;width:299px;border-right:1px solid #e5e5e5;text-align:center;font-size:23px}
#money-total .block:last-child{width:300px;border-right:none}
#money-total .block .text{margin-right:5px}
#money-total .block .val{color:#cfd2da;font-family:Georgia}
#money-data{padding:15px;height:1000px;width:980px}
/*
#agent-index-dom .intro{background:#faf6ef url(../image/agent.png) no-repeat center bottom;padding:45px 15px 50px;height:140px;background-size: auto 106px;text-align:center}
*/
#agent-index-dom .intro{background-size: cover;text-align:center}
#agent-index-dom .intro .title{font-size:19px;color:#AAA;margin-bottom:10px;display:none;}
#agent-index-dom .intro .desc{font-size:13px;color:#AAA;display:none;}
#agent-index-dom .body table td{font-size:13px;padding:10px 15px}

#agent-member-dom.common .head .mode .cs-select>span{width:50px}
#agent-member-dom.common .head .state .cs-select>span{width:24px}
#agent-log-dom.common .head .mode .cs-select>span{width:50px}
#agent-money-dom .head .mode .cs-select>span{width:50px}
#agent-coin-dom .head .mode .cs-select>span{width:50px}
#agent-spread-dom.common .head .link_add,#agent-member-dom.common .head .member_add{width:120px;line-height:25px;margin:6px 15px 0 0;float:right}
#agent-spread-dom .link_add_box,#agent-member-dom .member_add_box{background-color:#202029;padding:20px 85px;height:39px}
#agent-member-dom .member_add_box{height:410px;padding:30px 85px}
#agent-spread-dom .link_add_box .item{height:39px;float:left;margin-right:20px}
#agent-member-dom .member_add_box .item{height:39px;margin-bottom:15px}
#agent-spread-dom .link_add_box .item .name,#agent-member-dom .member_add_box .item .name{float:left;line-height:37px;border:1px solid #ddd;background-color:#f5f5f5;width:100px;font-size:14px;text-align:center;color:#555}
#agent-member-dom .member_add_box .item .name{width:120px}
#agent-spread-dom .link_add_box .item .value,#agent-member-dom .member_add_box .item .value{height:37px;float:left;border:1px solid #ddd;border-left:none}
#agent-spread-dom .link_add_box .item .value.type,#agent-member-dom .member_add_box .item .value.type{line-height:37px;padding:0 15px}
#agent-spread-dom .link_add_box .item .value.type input,#agent-member-dom .member_add_box .item .value.type input[type="radio"]{vertical-align:-2px}
#agent-spread-dom .link_add_box .item .value.fandian input,#agent-member-dom .member_add_box .item .value.fandian input{border:none;height:37px;width:160px;padding:0 15px;line-height:37px}
#agent-spread-dom .link_add_box .item .addon,#agent-member-dom .member_add_box .item .addon{color:#555;width:150px;font-size:12px;border-left:none}
#agent-spread-dom .link_add_box .btn,#agent-member-dom .member_add_box .btn{height:39px;width:120px;font-size:15px}

#sys-notice-dom .back{background-color:rgba(250,246,239,.75);height:40px;line-height:40px;font-size:15px;margin-top:2px;text-align:center;color:#555;display:block}
#sys-notice-dom .back:hover{color:#555}

#home .bonus_data{height:300px;position:relative;}
#home .bonus_data .bonus_data_more{position:absolute;bottom:20px;right:105px;height:36px;line-height:36px;width:200px;font-size:15px}
#recent_bonus_data{float:left;height:280px;padding:10px 0}
#yt_bonus_data{float:right;background-color:#f5f5f5;border-radius:4px;margin:18px 25px 0 0;padding:17px 0}
#yt_bonus_data p{text-align:center;text-transform:uppercase;color: #555;}
#yt_bonus_data p.overview_day{font-size:12px;font-weight:bold;margin:6px 0 10px;font-size:20px}
#yt_bonus_data p.overview_count{font-size:22px;font-weight:bold;color:#333}
#yt_bonus_data p.overview_type{font-size:12px;color:#555;margin:3px 0 10px}
#yt_bonus_data .overview_today,#yt_bonus_data .overview_previous{width:50%;float:left}
#home .agent .body{height:57px;padding:30px 25px 30px 85px}
#home .agent .block{height:57px;float:left; width: 33%;}
#home .agent .block .icon{font-size:43px;float:left;color:#555}
#home .agent .block .value{font-weight:bold;font-size:23px;}
#home .agent .block .text{font-size:13px;color:#555;}

#home .agent .money {
	
}
#activity-rotary{}
#activity-rotary .wheel-content{height:587px;padding-top:15px;position:relative}
#activity-rotary .wheel-box{background:url(../image/rotary_bg.png) no-repeat 0 0;height:572px;width:572px;position:relative;margin:0 auto}
#activity-rotary .wheel-exec{width:104px;height:255px;position:absolute;top:157px;left:237px;background:url(../image/rotary_exec.png) no-repeat 0 0;cursor:pointer}
.kj-ball-small span {
    background-color: #353642;
    border-radius: 50px;
    display: inline-block;
    color: #ddd;
    padding: 2px 6px;
    margin-right: 5px;
    font-size: 13px;
}
.order_btn{
	float: left;
	width: 160px;
	height: 36px;
	line-height: 36px;
	margin-bottom: 10px;
	font-size: 14px;
	cursor: pointer;
	border-radius: 2px;
	text-align: center;
}
.recharge-tab {
	float: left;
    width: 100px;
    text-align: center;
    height: 50px;
    background-color: #202029;
    line-height: 50px;
    display: block;
	cursor: pointer;
	font-size:16px;
}
.tab-panel {
	padding:30px;
	line-height:20px;
	font-size:14px;
}
.recharge-on
{
	border-bottom: 2px solid #00AAFF;
}
.recharge-ul
{
	display: inline-block;margin-bottom: -5px;
}
.QrcodeArea
{
	padding-top: 25px;
}
.report .money_title
{
	float: left;width: 16%;color: #999;
}
.report .money_val
{
	float: left;width: 16%;color: #7B8B9E;border-right: 1px solid #434857;
}
.report .money_head
{
	text-align: center;
	padding: 0px 40px 40px 40px;
	font-size:15px;
}
.rlink a
{
	border-radius:2px;color:#fff;cursor: pointer;
}
.rlink a:hover
{
	background-color:#c4c4c4;color:#000;
}
.report .teamchart
{
	border: 1px solid #434857;
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;	
}
.report .teamhead
{
	border: 0px;
	border-bottom: 1px solid #434857;
}
.report .lottery_ul
{
	border-top: 1px solid #3c3c3c;border-left: 1px solid #3c3c3c;overflow:auto;
}
.report .lottery_li
{
	width: 25%; float: left; color:#999;
}
.report .lottery_div
{
	border-bottom: 1px solid #3c3c3c;border-right: 1px solid #3c3c3c; padding: 0px 0 0px 30px;color:#999;
	height: 40px;
	line-height: 40px;	
}
.report .big
{
	height: auto;
	line-height: 20px;
	padding-bottom:10px;
}
.report_top
{
	padding: 20px 0 5px 0;
}
.report_top .report_li
{
	float: left;margin-left: 25px;font-size:15px;
}
#report_view .play-eg{position:absolute;z-index:99;text-align:left;width:260px;padding:10px;background:rgba(86,86,86,.9);line-height:20px;color:#e5e5e5;border-radius:2px}
.report_top a.on{background-color:#c4c4c4;color:#000;font-size:15px;}
.report_top a{border-radius:2px;padding:3px 12px;color:#cfd2da;margin-right:10px;cursor: pointer;}
.report_top a:hover{background-color:#c4c4c4;color:#000}
.bank input, select{background-color:#c2c2c2;padding: 3px 10px;}
.bank input:focus,select:focus{background-color:#c2c2c2;}
.bank .btn{height: 39px;line-height: 35px;font-size: 13px;width: 120px;margin-top: 15px;margin-bottom: 15px;}
#rule_view .s-table{border-left:1px solid #434857;border-top:1px solid #434857;border-top-right-radius: 2px;border-top-left-radius: 2px;}
#rule_view .cu{background-color:#202029;}
#rule_view .s-table td{border-right:1px solid #434857;border-bottom:1px solid #434857;padding:5px;}

.play-eg {
    position: absolute;
    z-index: 99;
    text-align: left;
    width: 300px;
    padding: 10px;
    background: rgba(86,86,86,.9);
    line-height: 20px;
    color: #e5e5e5;
    border-radius: 2px;
	opacity: 1;
	word-break: break-all;
	    white-space: initial;
}

.main.quickpay {
	height:auto;

}

.main.quickpay .select{
	background-color:#FFF;
	width:230px;
	font-size:14px;

}
.body.password input::-webkit-input-placeholder { /* WebKit browsers */
    color:#fff;
}
.body.password input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color:#fff;
}
.body.password input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color:#fff;
}
.body.password input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color:#fff;
}


.lotteryView_lhc { padding-left:50px; }
.lotteryView_lhc .lhcBox { width:942px;  /* overflow:hidden; */ border-top:1px solid #e0e0e0; }
.lotteryView_lhc .lhcBox dl { width: 186px; display:inline; float:left; border-right:1px solid #e0e0e0; border-left: 1px solid #e0e0e0;}
.lotteryView_lhc .lhcBox dl.nobd { border:0px; }
.lotteryView_lhc .lhcBox dl dt { height:38px; line-height:38px; text-align:center; color:#989797; font-size:14px; background:#f6f6f6; border-bottom:1px solid #e0e0e0; overflow:hidden; }
.lotteryView_lhc .lhcBox dl dt span { display:inline; float:left; }
.lotteryView_lhc .lhcBox dl dd {height:35px; overflow:hidden; padding-top: 5px; }
.lotteryView_lhc .lhcBox dl dd span { color: #FFFFFF; font-size:18px; display:inline; float:left; }
/*
.lotteryView_lhc .lhcBox dl dd span.red { margin-left:5px; background:url(/images/nsc/lottery/rgb.png) no-repeat; width:28px; height:28px; line-height:28px; color:#fff; text-align:center; font-size:14px; }
.lotteryView_lhc .lhcBox dl dd span.green { margin-left:5px; background:url(/images/nsc/lottery/rgb.png) no-repeat left center; width:28px; height:28px; line-height:28px; color:#fff; text-align:center; font-size:14px; }
.lotteryView_lhc .lhcBox dl dd span.blue { margin-left:5px; background:url(/images/nsc/lottery/rgb.png) no-repeat left bottom; width:28px; height:28px; line-height:28px; color:#fff; text-align:center; font-size:14px; }
.lotteryView_lhc .lhcBox dl dd span.num { width:70px; text-align:center; height:28px; line-height:28px;color: #694d85;}
 */

.lotteryView_lhc .lhcBox dl dd span.input { }
.lotteryView_lhc .lhcBox dl dd span input { height:21px; border:1px solid #694d85; padding:2px; text-align:center; margin-top:2px; }
.lotteryView_lhc .lhcBox dt dd { width:100%;}
.lotteryView_lhc .lhcBox span{ width:98px;}

.lotteryView_lhc .lhcBox ul { height:48px; line-height:48px; border-bottom:1px solid #e0e0e0; width:100%; }
.lotteryView_lhc .lhcBox ul.nobd { border:0px; }
.lotteryView_lhc .lhcBox ul li { text-align:center; font-size:14px; color:#989797; display:inline; float:left; height:48px; overflow:hidden; cursor: default; }
.lotteryView_lhc .lhcBox .title { height:29px; line-height:29px; background:#f6f6f6; font-size:14px; color:#989797; overflow:hidden; width:100%; margin:0px; }
.lotteryView_lhc .lhcBox .title li { height:29px; line-height:29px; overflow:hidden; font-size:14px; }
.lotteryView_lhc .lhcBox ul li.s-1 { width:150px; }
.lotteryView_lhc .lhcBox ul li.s-2 { width:150px; }
.lotteryView_lhc .lhcBox ul li.s-3 { width:430px; }
.lotteryView_lhc .lhcBox ul li.s-3 span { height:28px; width:28px; line-height:28px; float:left; display:inline; font-size:14px; color:#fff; margin: 10px 10px;}
.lotteryView_lhc .lhcBox ul li.s-3 .red { background:url(/images/nsc/lottery/rgb.png) no-repeat; }
.lotteryView_lhc .lhcBox ul li.s-3 .green { background:url(/images/nsc/lottery/rgb.png) no-repeat left center; }
.lotteryView_lhc .lhcBox ul li.s-3 .blue { background:url(/images/nsc/lottery/rgb.png) no-repeat left bottom; }
.lotteryView_lhc .lhcBox ul li.s-3 .and { background:url(/images/nsc/lottery/lhc.png) no-repeat; width:16px; height:16px; margin:15px 10px; }
.lotteryView_lhc .lhcBox ul li.s-4 { width:120px; }
.lotteryView_lhc .lhcBox ul li.s-5 { width:40px; }
.lotteryView_lhc .lhcBox ul li.s-6 { width:40px; }
.lotteryView_lhc .lhcBox ul li.s-7 { width:40px; }
.lotteryView_lhc .lhcBox ul li.s-8 { width:40px; }
.lotteryView_lhc .lhcBox ul li.s-9 { width:40px; }
.lotteryView_lhc .lhcBox ul li.s-10 { width:40px; }
.lotteryView_lhc .lhcBox ul li.s-11 { width:40px; }
.lotteryView_lhc .lhcBox ul li.s-12 { width:40px; }
.lotteryView_lhc .lhcBox ul li.s-6 span,.lotteryView_lhc .lhcBox ul li.s-7 span,.lotteryView_lhc .lhcBox ul li.s-8 span,.lotteryView_lhc .lhcBox ul li.s-9 span,.lotteryView_lhc .lhcBox ul li.s-11 span,.lotteryView_lhc .lhcBox ul li.s-12 span { background:url(/images/nsc/lottery/lhc_yuan.png) no-repeat; width:26px; height:26px; line-height:26px; display:block; margin-top:15px; color:#fff; margin-left:7px; }

.lotteryView_lhc .lhcPageBox { height:65px; background:#fff; padding-top:30px; color:#989797; }
.lotteryView_lhc .lhcPageBox .refresh { width:47px; height:34px; line-height:34px; background:url(/images/nsc/lottery/refresh.png) no-repeat; padding-left:30px; font-size:14px; color:#989797; left:30px; top:30px; }
.lotteryView_lhc .lhcPageBox .pageBox { margin:0px auto; text-align:center; vertical-align:middle; height:40px; line-height:40px; }
.lotteryView_lhc .lhcPageBox .pageBox .lhcBtnBox { display:inline; }
.lotteryView_lhc .lhcPageBox .pageBox .lhcBtnBox a,.lotteryView_lhc .lhcPageBox .pageBox .lhcBtnBox a:hover { display:inline-block; width:27px; height:27px; vertical-align: -6px; margin-left:3px;}
.lotteryView_lhc .lhcPageBox .pageBox .lhcBtnBox a.first { background:url(/images/nsc/lottery/first.jpg) no-repeat; }
.lotteryView_lhc .lhcPageBox .pageBox .lhcBtnBox a.prev { background:url(/images/nsc/lottery/prev.jpg) no-repeat; }
.lotteryView_lhc .lhcPageBox .pageBox .lhcBtnBox a.next { background:url(/images/nsc/lottery/next.jpg) no-repeat; }
.lotteryView_lhc .lhcPageBox .pageBox .lhcBtnBox a.last { background:url(/images/nsc/lottery/last.jpg) no-repeat; }
.lotteryView_lhc .lhcPageBox .lhcSelBox { right:30px; top:30px; }
.lotteryView_lhc .lhcPageBox .lhcSelBox select { height:25px; border:1px solid #c5c9da; font-size:14px; color:#989797; cursor:pointer; margin-top: 5px; padding: 0px; }

.lotteryView_lhc .lhcBox{
	border: none;
}
.lotteryView_lhc .lhcBox dl{
	border-color: #EABF8F;
	margin-left: -1px;
}
.lotteryView_lhc .lhcBox dl:first-child{
	margin-left: 0;
}
.lotteryView_lhc .lhcBox dl dt{
	border-color: #EABF8F;
	border-top: 1px solid #EABF8F;
}
.lotteryView_lhc .lhcBox dl dt{
	background-color: #FF9726;
	color: #fff;
}
.lotteryView_lhc .lhcBox dl dt span{
	border-right: 1px solid #EABF8F;
	font-size: 12px;
}
.lotteryView_lhc .lhcBox dl dt span:last-child{
	width: 82px;
	border: none;
}

.lotteryView_lhc .lhcBox dd span:last-child{
	width: 87px;
	border-bottom: 1px solid #EABF8F;
	border-right: 0px ;
	text-align: center;
}
.lotteryView_lhc .lhcBox dl dt dd span{
}
.lotteryView_lhc .lhcBox dl dt span{
	text-align: center;
	font-size: 12px;
}
.lotteryView_lhc .lhcBox dl dd{
	padding: 0 !important;
}
.lotteryView_lhc .lhcBox dl dd span{
	height: 100%;
}
.lotteryView_lhc .lhcBox dl dd span.num{
	font-size: 12px;
	line-height: 35px;
	color: red;
}
.lotteryView_lhc .lhcBox dl dd span.input{
	width: 83px;
	border-right: none;
}
.lotteryView_lhc .lhcBox dl dd span.input input{
	width: 60px;
    border: #b0b0b0 1px solid;
    padding: 2px 5px;
    height: auto;
    font-size: 12px;
    margin-left: 6px;
    margin-top: 5px;
} 

.lotteryView_lhc .lhcBox dl dd span{
	height: 34px !important ;
	border-right: 1px solid #F0AD4E;
	line-height: 34px;
	background: none;
	border-bottom: 1px solid #F0AD4E;
}


.lotteryView_lhc .lhcBox dl dd span.input{
	width: 84px ;

}
.lotteryView_lhc .lhcBox dl dd span i{
	display: inline-block;
	border-radius: 50%;
	color: #fff;
	width: 25px;
	line-height: 25px;
	height: 25px;
	text-align: center;
	margin-top: 4px;
}
.lotteryView_lhc .lhcBox dl dd span.blue {
	background: none;
}
.lotteryView_lhc .lhcBox dl dd span.blue i{
	background-color: #2a74dd !important;
}
.lotteryView_lhc .lhcBox dl dd span.red {
	background: none;
}
.lotteryView_lhc .lhcBox dl dd span.red i{
	background-color: #F13131 !important;
}
.lotteryView_lhc .lhcBox dl dd span.green {
	background: none;
}
.lotteryView_lhc .lhcBox dl dd span.green i{
	background-color: #1ca01c  !important;
}
.lotteryView_lhc .lhcBox dl dd div.red {
	display: inline-block;
	background-color: #F13031;
	border-radius: 50%;
	width: 28px !important;
	height: 28px !important;
	text-align: center;
	margin-top: 4px;
	line-height: 28px !important;
	color: #ffffff;
}
.lotteryView_lhc .lhcBox dl dd div.green {
	display: inline-block;
	background-color: #1ca01c;
	border-radius: 50%;
	width: 28px !important;
	height: 28px !important;
	text-align: center;
	margin-top: 4px;
	line-height: 28px !important;
	color: #ffffff;
}
.lotteryView_lhc .lhcBox dl dd div.blue {
	display: inline-block;
	background-color: #2a74dd;
	border-radius: 50%;
	width: 28px !important;
	height: 28px !important;
	text-align: center;
	margin-top: 4px;
	line-height: 28px !important;
	color: #ffffff;
}
.lotteryView_lhc .lhcBox dl dd span{
	padding: 0;
	text-align: center;
}
.lotteryView_lhc .lhcBox dd {
	margin-inline-start: 0px;
}
.lotteryView_lhc .lhcBox dl dd span.sGameStatusItem{
	font-size: 14px;
	color: #762D08;
}
/*六合彩生肖头尾*/
.lotteryView_sxtw { padding:0px; }
.lotteryView_sxtw .sxtwBox { /* width:760px; */ /* overflow:hidden; */ /* border-top:1px solid #e0e0e0; */ }
.lotteryView_sxtw .sxtwBox dl { width:468px; display:inline; float:left; border-right:1px solid #e0e0e0; border-left: 1px solid #e0e0e0;border-bottom: 1px solid #e0e0e0;}
.lotteryView_sxtw .sxtwBox dl.nobd { border:0px; }
.lotteryView_sxtw .sxtwBox dl dt { height:38px; line-height:38px; text-align:center; color:#989797; font-size:14px; background:#f6f6f6; border-top: 1px solid #e0e0e0; border-bottom: 1px solid #e0e0e0;overflow:hidden; }
.lotteryView_sxtw .sxtwBox dl dt span { width:50px; display:inline; float:left; }
.lotteryView_sxtw .sxtwBox dl dd { height:35px; overflow:hidden; padding-top: 5px; }
.lotteryView_sxtw .sxtwBox dl dd span { color: #FFFFFF; font-size:18px; display:inline; float:left; }
.lotteryView_sxtw .sxtwBox dl dd span.red { margin-left:5px; background:url(/images/nsc/lottery/rgb.png) no-repeat; width:28px; height:28px; line-height:28px; color:#fff; text-align:center; font-size:14px; }
.lotteryView_sxtw .sxtwBox dl dd span.green { margin-left:5px; background:url(/images/nsc/lottery/rgb.png) no-repeat left center; width:28px; height:28px; line-height:28px; color:#fff; text-align:center; font-size:14px; }
.lotteryView_sxtw .sxtwBox dl dd span.blue { margin-left:5px; background:url(/images/nsc/lottery/rgb.png) no-repeat left bottom; width:28px; height:28px; line-height:28px; color:#fff; text-align:center; font-size:14px; }
.lotteryView_sxtw .sxtwBox dl dd span.num { width:70px; text-align:center; height:28px; line-height:28px;color: red;}
.lotteryView_sxtw .sxtwBox dl dd span.input { }
.lotteryView_sxtw .sxtwBox dl dd span input { width:30px; height:21px; border:1px solid #694d85; padding:2px; text-align:center; margin-top:2px; }
	.sxtwBox dl span.sx{
		width: 125px !important;
		border-right: 1px solid #F0AD4E;
	}
	.sxtwBox dl span.sGameStatusItem{
		width: 125px !important;
		margin: 0;
		padding: 0;
		border-right: 1px solid #F0AD4E;
		border-bottom: 1px solid #F0AD4E;
		background-color: transparent;
		color: #762D08 !important;
		font-size: 14px;
		text-align: center;
		line-height: 34px !important;
		height: 34px !important;
	}
	.sxtwBox dd{
		padding-top: 0 !important;
		margin-inline-start: 0px;
	}
	.sxtwBox dl span.sxcode{
		width: 230px !important;
		border-right: 1px solid #F0AD4E;
	}
	.sxtwBox dl span.sxbl{
		width: 110px !important;
		border-right: 0px ;
		text-align: center;
	}	
	.sxtwBox dl  a.code-box{
		width: 230px;
		float: left;
		height: 34px !important;
		border-right: 1px solid #F0AD4E;
		border-bottom: 1px solid #F0AD4E;
	}
	.sxtwBox dl  a.code-box span{
		margin-top: 4px;
		
	} 
	.sxtwBox dl  a.code-box span.red{
		background: none;
		background-color: #F13131;
		border-radius: 50%;
	}
	.sxtwBox dl  a.code-box span.blue{
		background: none;
		border-radius: 50%;
		background-color: #2a74dd !important;
	}
	.sxtwBox dl  a.code-box span.green{
		background: none;
		border-radius: 50%;
		background-color: #1ca01c  !important;
	}
	.sxtwBox dl dd .num{
		width: 110px !important;
		border-right: 0px solid ;
		height: 34px !important;
		line-height: 34px !important;
		border-bottom: 1px solid #F0AD4E;
		text-align: center;
	}
	.lotteryView_sxtw .sxtwBox dl{
		border-color:#F0AD4E !important;
	}
	.lotteryView_sxtw .sxtwBox dl dt{
		border-color: #F0AD4E !important;
		background-color: #FF9726;
		color: #fff;
	}
.lotteryView_lhc .code_lhc.checked{
	background-color:#FFEFCD;
}
.lotteryView_lhc .code_lhc:hover{
	background-color:#FFEFCD;
	cursor: pointer;
}