body,p,button{margin:0}
body,input,button{font:12px 'Century Gothic','Microsoft YaHei',Tahoma,Verdana,Arial,helvetica,sans-serif}
body{color:#555;background:url(/static/theme/default/image/login/login-banner-7.jpg) no-repeat center top fixed;background-color:#000;}
a,input,button,.trans{-webkit-transition:all .218s linear;-moz-transition:all .218s linear;transition:all .218s linear;outline:0}
a{text-decoration:none}
ul,ol{list-style:none;padding:0;margin:0}
.clearfix:after{visibility:hidden;display:block;font-size:0;content:'';clear:both;height:0}
.hide{display:none}
#reg{position:relative;top:100px;}
#reg .container{width:420px;margin:0 auto;border-radius:0px;position: relative;}
#reg .container::before{
	content:' ';
    position: absolute;
    left: 0;
    top: 0;
	bottom:0;right:0;
	z-index: -1;
    background-color:#000000;
    filter:Alpha(opacity=60);
    background-color: rgba(0,0,0,0.6);
}
#reg .body{padding:50px 30px;}
#reg .body .content{width:360px;float:left}
#reg .body .content .logo{width:250px;height:240px;background:url("../image/login/login-header-logo.png") center center no-repeat;margin:0 auto;background-size: contain;}
#reg .body .content h2{margin:25px 0;color:#666;font-weight:500;font-size:14px}
#form .input{border:1px solid #555;background-color:rgba(250,248,245,0);padding:10px;margin-bottom:15px;border-radius:3px}
#form .input.has_tip{border-radius:3px 3px 0 0}
#form .input.focus{border-color:#bbb}
#form .input .icon{font-size:15px;color:#999;width:15px;height:15px}
#form .input input{border:none;background-color:transparent;color:#999;font-size:13px;width:245px}
#form .tip{background-color:#fff;padding:3px 15px;border:1px solid #fff;color:#333;margin:-15px 0 15px;border-top:none;border-radius:0 0 3px 3px;display:none}
#form .bottom{height:38px;line-height:38px}
#form .bottom button{font-size:15px;background-color:#ffaa0d;border:1px solid #ffaa0d;color:#555;width:100%;height:38px;line-height:36px;border-radius:3px;cursor:pointer;float:right}
#form .bottom button:hover{background-color:rgb(231, 138, 47);border-color:rgb(228,133,40)}
#form .error{background-color:#ffe1e1;border:1px solid #ffe1e1;padding:5px 10px;color:#333;margin-top:15px;border-radius:2px;display:none}
#form .error.success{background-color:#c9f5c6;border:1px solid #bef1ba}
#reg .footer{background-color:rgba(250,246,239,0);padding:20px 60px;font-size:13px;color:#999;border-top:1px solid #333}
#reg .footer a{color:#499ad3;border-bottom:1px dotted transparent;margin:0 5px}
#reg .footer a:hover{border-bottom-color:#499ad3}