/* Reset */
html,div,map,dt,isindex,form,header,aside,section,section,article,footer{display:block;}
html,body{height:100%;margin:0;padding:0;font-family:"Helvetica Neue",Helvetica,Arial,Verdana,sans-serif;background:#F8F8F8;font-size:12px;}

.clear{clear:both;}
.pointer{cursor:pointer;}

/* form */
.alert,fieldset,input[type=text],input[type=password],input[type=submit],input[type=date],input[type=time],input[type=number],textarea,.stats_overview,.module,.breadcrumbs{-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;}
input[type=text],textarea,input[type=password],input[type=date],input[type=time],input[type=number]{-webkit-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;-moz-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;}
input[type=text]:focus,textarea:focus,input[type=password]:focus,input[type=date]:focus,input[type=time]:focus{-webkit-box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;-moz-box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;}
input[type=submit]{background:#D0D1D4 url(images/btn_submit.png) repeat-x;border:1px solid #A8A9A8;-webkit-box-shadow:0 1px 0 #fff;-moz-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;font-weight:bold;height:22px;padding:0 10px;color:#666;text-shadow:0 1px 0 #fff;cursor:pointer;}
input[type=submit]:hover{color:#333;}
input[type=submit].alt_btn{background:#D0D1D4 url(images/btn_submit_2.png) repeat-x;border:1px solid#30B0C8;font-weight:bold;height:22px;padding:0 10px;color:#003E49;text-shadow:0 1px 0 #6CDCF9;cursor:pointer;}
input[type=submit].alt_btn:hover{color:#001217;}
input[type=submit].btn_post_message{background:#D0D1D4 url(images/post_message.png) no-repeat;display:block;width:37px;border:none;height:24px;cursor:pointer;text-indent:-5000px;}
input[type=submit].btn_post_message:hover{background-position:0 -24px;}
input[type=text],input[type=password],input[type=date],input[type=time],input[type=number]{border:1px solid #bbb;height:20px;}
textarea{border:1px solid #bbb;}
input[type=date]{width:80px;}
a.alt_btn2{background:#D0D1D4 url(images/btn_submit_2.png) repeat-x;border:1px solid#30B0C8;font-weight:bold;height:22px;padding:0 10px;color:#003E49;text-shadow:0 1px 0 #6CDCF9;cursor:pointer;}

.post_message{text-align:left;padding:5px 0;}
.post_message input[type=text]{width:70%;color:#ccc;text-indent:10px;background-position:10px 6px;float:left;margin:0 3.5%;}
.post_message input[type=text]:focus{outline:none;border:1px solid #77BACE;color:#666;}
.post_message input[type=image]{float:left;}

.message_list{height:250px;overflow-x:hidden;overflow-y:scroll;}
#main{min-height:1930px;}
.bet-info tr{line-height:2em;}

/* New/Edit Article Module */
fieldset{background:#F6F6F6;border:1px solid #ccc;padding:1% 0;margin:10px 0;}
fieldset label{display:block;float:left;width:200px;height:25px;line-height:25px;text-shadow:0 1px 0 #fff;font-weight:bold;padding-left:10px;margin:-5px 0 5px 0;text-transform:uppercase;}
fieldset input[type=text], fieldset input[type=password], fieldset p{color:#666;padding-left:10px;background-position:10px 6px;margin:0;display:block;float:left;width:96%;margin:0 10px;}
fieldset td input[type=text]{width:50%;}
fieldset input[type=text]:focus, fieldset input[type=password]:focus{outline:none;border:1px solid #77BACE;}
fieldset select{width:96%;margin:0 10px;border:1px solid #bbb;height:24px;color:#666;}
fieldset textarea{border:1px solid #bbb;color:#666;padding-left:10px;background-position:10px 6px;margin:0 0.5%;display:block;float:left;width:96%;margin:0 10px;}
fieldset textarea:focus{outline:none;border:1px solid #77BACE;}
fieldset hr{clear:both;height:12px;border:none;}

/* Essentials */
.login_top_bg{background:url(images/login-top-bg.jpg) repeat-x;}
.login_bg{background:url(images/login_bg.jpg) repeat-x;}
.login_bg2{background:url(images/login-content-bg.gif) no-repeat right;}
.login-center{background:#fff;}

.login-buttom-bg{background:url(images/login-bottom-bg.png) repeat-x;}
.login-buttom-txt{font-family:Arial,Helvetica,sans-serif;font-size:10px;color:#ABCAD3;text-decoration:none;line-height:50px;}
.login_hui_text{text-align:left;}
.login_txt{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#333;}
.login_txt_bt{font-family:Arial,Helvetica,sans-serif;font-size:14px;line-height:0px;color:#666;font-weight:bold;}
.left_txt{font-family:Arial,Helvetica,sans-serif;font-size:12px;color:#666;text-align:left;text-indent:40px;}

.clear{clear:both;}
.spacer{height:20px;}
.tip{text-align:right; margin:2em;}

a:link,a:visited{color:#77BACE;text-decoration:none;}
a:hover{text-decoration:underline;}

.spn1{color:#666; font-weight:100;}
.spn2{color:#f00; font-weight:bold;}
.spn3{color:#669900; font-weight:bold;}
.spn4{color:#f00; font-weight:100;}
.spn5{color:#009900; font-weight:100;}
.spn6{color:#999; font-weight:100;}
.spn9{color:#999;}
.spn10{color:#77BACE;}

/* Header */
#header{height:55px;width:100%;background:#222 url(images/header_bg.png) repeat-x;}
#header h1.site_title{
float:left;margin:0;font-family:"Microsoft YaHei";font-size:24px;display:block;width:120px;height:55px;font-weight:normal;text-align:left;text-indent:1.8%;line-height:55px;color:#fff;text-shadow:0 -1px 0 #000;}

#header h1.site_title a{color:#fff;text-decoration:none;}
#header h2.section_title{float:left;margin:0;width:20%;height:55px;background:url(images/header_shadow.png) no-repeat left top;width:68%;}
#header h2.section_title a{float:left;margin:8px 0 0 30px;display:block;font-family:"Microsoft YaHei";font-size:16px;font-weight:normal;color:#fff;text-align:left;text-indent:1.8%;text-align:center;text-shadow:0 -1px 0 #000;text-indent:4.5%;line-height:39px;width:130px;text-decoration:none;}
#header h2.section_title a.tjgk{background-position:0 -1173px;}
#header h2.section_title a.txcl{background-position:0 -1133px;}
#header h2.section_title a.tjgk:hover,header#header h2.section_title a.tjgk_current{background-position:-245px -1173px;}
#header h2.section_title a.txcl:hover,header#header h2.section_title a.txcl_current{background-position:-245px -1133px;}
#header h2.section_title .bet{color: #f67a7a}
#header h2.section_title .user{color: #ddbbe7}
#header h2.section_title .recharg{color: #7cf6ae}
#header h2.section_title .mail{color: #d5d7d9}
#header h2.section_title .sync{color: #77f092}


.btn_view_site{float:left;width:9%;}
.btn_view_site a{display:block;margin-top:12px;width:91px;height:27px;background:url(images/btn_view_site.png) no-repeat;text-align:center;line-height:29px;color:#fff;text-decoration:none;text-shadow:0 -1px 0 #000;}
.btn_view_site a:hover{background-position:0 -27px;}

/* Secondary Header Bar */
#secondary_bar{height:38px;width:100%;background:#F1F1F4 url(images/secondary_bar.png) repeat-x;}
#secondary_bar .user{float:left;width:120px;height:38px;}

.user p{margin:0;padding:0;color:#666;font-weight:bold;display:block;float:left;width:85%;height:35px;line-height:35px;text-indent:25px;text-shadow:0 1px 0 #fff;background:url(images/icn_user.png) no-repeat center left;margin-left:6%;}
.user a{margin-left:20px;text-decoration:none;color:#666;float:right;}
.user a:hover{color:#77BACE;}
.user a.logout_user{float:left;display:block;width:16px;height:35px;text-indent:-5000px;background:url(images/icn_logout.png) center no-repeat;}

/* Breadcrumbs */
.breadcrumbs_container{float:left;width:80%;background:url(images/secondary_bar_shadow.png) no-repeat left top;height:38px;}
.breadcrumbs{float:left;padding:0 10px;border:1px solid #ccc;-webkit-box-shadow:0 1px 0 #fff;-moz-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;height:23px;margin:4px 3%;}

.breadcrumbs a{display:inline-block;float:left;height:24px;line-height:23px;font-weight:bold;text-decoration:none;color:#666;}
.breadcrumbs a.current,.breadcrumbs a.current:hover{color:#0099CC;text-shadow:0 1px 0 #fff;}
.breadcrumb_divider{display:inline-block;width:12px;height:24px;background:url(images/breadcrumb_divider.png) no-repeat;float:left;margin:0 5px;}

/* Sidebar */
#sidebar{width:120px;background:#E0E0E3 url(images/sidebar.png) repeat;float:left;min-height:1930px;margin-top:-4px;}
#sidebar hr{border:none;outline:none;background:url(images/sidebar_divider.png) repeat-x;display:block;width:100%;height:2px;}


/* Search */
.quick_search{text-align:center;padding:14px 0 10px 0;}
.quick_search input{-webkit-border-radius:20px;-moz-border-radius:20px;border-radius:20px;border:1px solid #bbb;height:26px;width:90%;color:#ccc;-webkit-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;-moz-box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;box-shadow:inset 0 2px 2px #ccc,0 1px 0 #fff;text-indent:30px;background:#fff url(images/icn_search.png) no-repeat;background-position:10px 6px; line-height:26px;}
.quick_search input:focus{outline:none;color:#666;border:1px solid #77BACE;-webkit-box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;-moz-box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;box-shadow:inset 0 2px 2px #ccc,0 0 10px #ADDCE6;}

/* Sidebar Menu */
#sidebar h3{color:#1F1F20;text-transform:uppercase;text-shadow:0 1px 0 #fff;font-family:"microsoft yahei";font-size:12px;margin:10px 0 10px 6%;display:block;float:left;width:90%;cursor:pointer;}
#sidebar h3 a{float:right;margin-right:1em;}
#sidebar h3 a:hover{text-decoration:none;}
.toggleLink{color:#999;font-size:10px;text-decoration:none;display:block;float:right;margin-right:2%;}
#sidebar .toggleLink:hover{color:#77BACE;text-decoration:none;}
#sidebar ul{clear:both;margin:0;padding:0;}
#sidebar li{list-style:none;margin:0 0 0 12%;padding:0;width:120px;letter-spacing:1px;line-height:22px;}
#sidebar li a{color:#666;padding-left:25px;text-decoration:none;display:inline-block;height:17px;line-height:17px;margin:2px 0;}
#sidebar li a:hover{color:#444;}

/* Sidebar Icons */
.bq{background:url(images/biaoqian.png) no-repeat left top;}
.bq-current{background:url(images/biaoqian-hover.png) no-repeat left top;}
.yw_b_1{background-position:0 -46px;}
.yw_b_2{background-position:0 -66px;}
.yw_b_3{background-position:0 -86px;}
.yw_b_4{background-position:0 -108px;}
.yw_b_5{background-position:0 -131px;}
.yw_b_6{background-position:0 -151px;}
.yw_b_7{background-position:0 -172px;}

.k_b_1{background-position:0 -233px;}

.s_b_1{background-position:0 -335px;}
.s_b_2{background-position:0 -357px;}
.s_b_3{background-position:0 -377px;}
.s_b_4{background-position:0 -397px;}
.s_b_5{background-position:0 -419px;}
.s_b_6{background-position:0 -438px;}
.s_b_7{background-position:0 -459px;}
.s_b_8{background-position:0 -480px;}
.s_b_9{background-position:0 -502px;}

.yh_b_1{background-position:0 -563px;}
.yh_b_2{background-position:0 -586px;}
.yh_b_3{background-position:0 -606px;}
.yh_b_4{background-position:0 -627px;}
.yh_b_5{background-position:0 -647px;}
.yh_b_6{background-position:0 -668px;}
.yh_b_7{background-position:0 -689px;}

.g_b_1{background-position:0 -752px;}
.g_b_2{background-position:0 -773px;}
.g_b_3{background-position:0 -793px;}
.g_b_4{background-position:0 -815px;}

.t_b_1{background-position:0 -898px;}
.t_b_2{background-position:0 -918px;}
.t_b_3{background-position:0 -940px;}
.t_b_4{background-position:0 -961px;}
.t_b_5{background-position:0 -981px;}
.t_b_6{background-position:0 -1003px;}
.t_b_7{background-position:0 -1024px;}
.t_b_8{background-position:0 -1045px;}
.t_b_9{background-position:0 -1065px;}
.t_b_10{background-position:0 -1085px;}
.t_b_11{background-position:0 -1107px;}

.jf_b_1{background-position:0 -1244px;}
.jf_b_2{background-position:0 -1265px;}
.jf_b_3{background-position:0 -1288px;}


.yw_b_1:hover,.yw_b_1.current{background-position:-245px -46px;}
.yw_b_2:hover,.yw_b_2.current{background-position:-245px -66px;}
.yw_b_3:hover,.yw_b_3.current{background-position:-245px -86px;}
.yw_b_4:hover,.yw_b_4.current{background-position:-245px -108px;}
.yw_b_5:hover,.yw_b_5.current{background-position:-245px -131px;}
.yw_b_6:hover,.yw_b_6.current{background-position:-245px -151px;}
.yw_b_7:hover,.yw_b_7.current{background-position:-245px -172px;}

.k_b_1:hover,.k_b_1.current{background-position:-245px -233px;}

.s_b_1:hover,.s_b_1.current{background-position:-245px -335px;}
.s_b_2:hover,.s_b_2.current{background-position:-245px -357px;}
.s_b_3:hover,.s_b_3.current{background-position:-245px -377px;}
.s_b_4:hover,.s_b_4.current{background-position:-245px -397px;}
.s_b_5:hover,.s_b_5.current{background-position:-245px -419px;}
.s_b_6:hover,.s_b_6.current{background-position:-245px -438px;}
.s_b_7:hover,.s_b_7.current{background-position:-245px -459px;}
.s_b_8:hover,.s_b_8.current{background-position:-245px -480px;}
.s_b_9:hover,.s_b_9.current{background-position:-245px -502px;}

.yh_b_1:hover,.yh_b_1.current{background-position:-245px -563px;}
.yh_b_2:hover,.yh_b_2.current{background-position:-245px -586px;}
.yh_b_3:hover,.yh_b_3.current{background-position:-245px -606px;}
.yh_b_4:hover,.yh_b_4.current{background-position:-245px -627px;}
.yh_b_5:hover,.yh_b_5.current{background-position:-245px -647px;}
.yh_b_6:hover,.yh_b_6.current{background-position:-245px -668px;}
.yh_b_7:hover,.yh_b_7.current{background-position:-245px -689px;}

.g_b_1:hover,.g_b_1.current{background-position:-245px -752px;}
.g_b_2:hover,.g_b_2.current{background-position:-245px -773px;}
.g_b_3:hover,.g_b_3.current{background-position:-245px -793px;}
.g_b_4:hover,.g_b_4.current{background-position:-245px -815px;}

.t_b_1:hover,.t_b_1.current{background-position:-245px -898px;}
.t_b_2:hover,.t_b_2.current{background-position:-245px -918px;}
.t_b_3:hover,.t_b_3.current{background-position:-245px -940px;}
.t_b_4:hover,.t_b_4.current{background-position:-245px -961px;}
.t_b_5:hover,.t_b_5.current{background-position:-245px -981px;}
.t_b_6:hover,.t_b_6.current{background-position:-245px -1003px;}
.t_b_7:hover,.t_b_7.current{background-position:-245px -1024px;}
.t_b_8:hover,.t_b_8.current{background-position:-245px -1045px;}
.t_b_9:hover,.t_b_9.current{background-position:-245px -1065px;}
.t_b_10:hover,.t_b_10.current{background-position:-245px -1085px;}
.t_b_11:hover,.t_b_11.current{background-position:-245px -1107px;}

.jf_b_1:hover,.jf_b_1.current{background-position:0 -1244px;}
.jf_b_2:hover,.jf_b_2.current{background-position:0 -1265px;}
.jf_b_3:hover,.jf_b_3.current{background-position:0 -1288px;}

#sidebar p{color:#666;padding-left:6%;text-shadow:0 1px 0 #fff;margin:10px 0 0 0;}
#sidebar a{color:#666;text-decoration:none;}
#sidebar a:hover{text-decoration:underline;}
#sidebar footer{margin-top:20%;}


/* Main Content */
#main,#message-tip{width:100%;background:url(images/sidebar_shadow.png) repeat-y left top;float:left;   
    margin-top:-2px;}
#main h3{color:#1F1F20;text-transform:uppercase;font-size:13px;margin:0px 20px;}

/* Modules */

.module{border:1px solid #9BA0AF;width:100%;margin:20px 3% 0 3%;margin-top:20px;background:#fff;}
#main .module header h3{display:block;width:100%;float:left;}
.module header{height:38px;width:100%;background:#F1F1F4 url(images/secondary_bar.png) repeat-x;-webkit-border-top-left-radius:5px;-webkit-border-top-right-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-topright:5px;border-top-left-radius:5px;border-top-right-radius:5px;}
.module header button.right{margin:5px 5px 0 0;}
.module footer{height:32px;width:100%;border-top:1px solid #9CA1B0;background:#F1F1F4 url(images/module_footer_bg.png) repeat-x;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-bottomleft:5px;-moz-border-radius-bottomright:5px;-webkit-border-bottom-left-radius:5px;-webkit-border-bottom-right-radius:5px;}
.module_content{margin:10px 20px;color:#666;height:auto;overflow:auto;}

/* Module Widths */
.width_full{width:95%;}
.width_half{width:46%;margin-right:0;float:left;}
.width_quarter{width:26%;margin-right:0;float:left;}
.width_3_quarter{width:66%;margin-right:0;float:left;}
.width_1_quarter{width:95%;margin-right:0;float:left;}

/* Stats Module */
.stats_graph{width:400px;float:left;}
.stats_overview{background:#F6F6F6;border:1px solid #ccc;float:right;width:30%;}
.overview_today,.overview_previous{width:50%;float:left;}
.stats_overview p{margin:0;padding:0;text-align:center;text-transform:uppercase;text-shadow:0 1px 0 #fff;}
.stats_overview p.overview_day{font-size:12px;font-weight:bold;margin:6px 0;}
.stats_overview p.overview_count{font-size:22px;font-weight:bold;color:#333;}
.stats_overview p.overview_type{font-size:10px;color:#999;margin-bottom:8px;}

/* Content Manager */
.tablesorter{width:100%;margin:-5px 0 0 0;}
.tablesorter td{margin:0;padding:0;border-bottom:1px dotted #ccc;}
.tablesorter .tdEnd{border-bottom:none;}
.tablesorter thead tr{height:34px;background-color: #f4f5f6;text-align:center;text-indent:10px;}
.tablesorter tbody tr:hover{cursor:default;background:#f0f0f0;}
.tablesorter td{padding:8px 12px;text-align:center;}
.tablesorter.left td{text-align:left;}
.tablesorter input[type=image]{margin-right:10px;}

ul.tabs{margin:3px 10px 0 0;padding:0;float:right;list-style:none;height:24px;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;-webkit-box-shadow:0 1px 0 #fff;-moz-box-shadow:0 1px 0 #fff;box-shadow:0 1px 0 #fff;border:1px solid #ccc;font-weight:bold;text-shadow:0 1px 0 #fff;}
ul.tabs li{float:left;margin:0;padding:0;line-height:24px;}
ul.tabs li a{text-decoration:none;color:#999;display:block;padding:0 10px;height:24px;}
ul.tabs li a:hover,ul.tabs li.active a{color:#444;}
ul.tabs li.active,ul.tabs li.active a:hover{background:#F1F2F4;-webkit-box-shadow:inset 0 2px 3px #818181;-moz-box-shadow:inset 0 2px 3px #818181;box-shadow:inset 0 2px 3px #818181;}
ul.tabs li:first-child,ul.tabs li:first-child a{-webkit-border-top-left-radius:5px;-webkit-border-bottom-left-radius:5px;-moz-border-radius-topleft:5px;-moz-border-radius-bottomleft:5px;border-top-left-radius:5px;border-bottom-left-radius:5px;}
ul.tabs li:last-child,ul.tabs li:last-child a{-webkit-border-top-right-radius:5px;-webkit-border-bottom-right-radius:5px;-moz-border-radius-topright:5px;-moz-border-radius-bottomright:5px;border-top-right-radius:5px;border-bottom-right-radius:5px;}
#main .module header h3.tabs_involved{display:block;float:left; line-height:32px;}
#main .module header h3.tabs_involved .tabs_btn{
	float: right;
    margin-right: 3%;
    border: 1px #818181 solid;
    border-radius: 3px;
    width: 89px;    
	text-align: center;	
	background-color: #ddd;
}
#main .module header h3.tabs_involved .tabs_btn a{
	text-decoration:none;
	color:#000;
	height:24px;
	font-weight: 100;
}

/* Messages */
.message{border-bottom:1px dotted #ccc;}

.submit_link{float:right;margin-right:3%;padding:5px 0;}
.submit_link select{width:150px;border:1px solid #bbb;height:20px;color:#666;}

#main .module_content{text-transform:none;text-shadow:0 1px 0 #fff;margin:8px 0;}
#main .module_content h1{color:#333;font-size:22px;}
#main .module_content h2{color:#444;font-size:18px;}
#main .module_content h3{color:#666;text-transform:uppercase;font-size:13px;}
#main .module_content h4{color:#666;font-size:13px;}
#main .module_content li{line-height:150%;}

/* Alerts */
.alert{display:block;width:95%;margin:3px 3% 0 3%;padding:10px 0;text-indent:40px;font-size:14px;}
.alert:first-child{margin-top:20px;}
.info{background:#B5E5EF url(images/icn_alert_info.png) no-repeat;background-position:10px 10px;border:1px solid #77BACE;color:#082B33;}
.warning{background:#F5F3BA url(images/icn_alert_warning.png) no-repeat;background-position:10px 10px;border:1px solid #C7A20D;color:#796616;}
.error{background:#F3D9D9 url(images/icn_alert_error.png) no-repeat;background-position:10px 10px;border:1px solid #D20009;color:#7B040F;}
.success{background:#E2F6C5 url(images/icn_alert_success.png) no-repeat;background-position:10px 10px;border:1px solid #79C20D;color:#32510F;}

form.search{margin:12px 12px;display:block;overflow-y:hidden;}
form.search label{margin:0 5px;display:block;float:left;}

ul.pageinfo{margin:5px;overflow-y:hidden;float:right;}
ul.pageinfo *{color:#666;}
ul.pageinfo li{list-style:none;float:left;border:1px solid #999;margin:0 3px;padding:0 5px;line-height:1.8em;}
ul.pageinfo li[value]{cursor:pointer;color:#77BACE;}
ul.pageinfo li:hover,ul.pageinfo li.current{background:#77BACE;color:#fff;border:1px solid #77BACE;}
ul.pageinfo li:hover{cursor:pointer;}
ul.pageinfo li.current{cursor:default;}
ul.pageinfo li.disabled{cursor:default;color:#999;background:#E6E6E6;}

#main{color:#666;}
#main .module_content .cztz{width:23%; height:32px; float:left; padding-left:15px;}
#main .module_content .cztz .title{width:86px; height:32px; float:left; overflow:inherit}
#main .wz{padding:0 0;}
#main .aq-txt{ float:right;}
#main .table2 td{border-bottom:none;}
#main .box1{float:left; width:50%; height:300px; overflow:hidden}
#main .tablesorter thead td{ font-weight:bold;text-align:center;}
#main .textWid1{width:75px;}
#main .system-info{margin-left: 47px;margin-top: 10px;}

.layout tr{line-height:2.5em;}
.layout th{text-align:right;font-weight:normal;}

.cash-modal ul{padding-left:1em;}
.cash-modal li{list-style:none; line-height:2em;}
.cash-modal .copy{float:right;}

.popupModal table,table.popupModal{border:#e1e1e1 solid 1px;width:100%}
.popupModal table tr,table.popupModal tr{border-bottom:#fff solid 1px; background:#e1e1e1;}
.popupModal table tr:hover,table.popupModal tr:hover{border-bottom:#aaa solid 1px;}
.popupModal table tr td.title,table.popupModal tr td.title{width:25%; text-align:center; border-right:#fff solid 1px;background:#cfcfcf;}

#alt_btn3{background:#D0D1D4 url(images/btn_submit_2.png) repeat-x;border:1px solid#30B0C8;font-weight:bold;height:22px;padding:0 10px;color:#003E49;text-shadow:0 1px 0 #6CDCF9;cursor:pointer;cursor:pointer;}
#alt_btn3:hover{color:#001217;}

.t1 {background-color:#fff;}
.t2 {background-color:#f2f2f2;}
.up {background-color:#fef3bb;}
.t1 td,.t2 td,.up td {border:solid #ddd;border-width:0 1px 1px 0}

.hasDatepicker{width:130px!important}

/* Sort arrow */
@font-face {
	font-family: 'Glyphicons Halflings';
	src: url('../fonts/glyphicons-halflings-regular.eot');
	src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff2') format('woff2'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}
.sort.asc:after,
.sort.desc:after {
	font-family: 'Glyphicons Halflings';
	font-style: normal;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;

	position: relative;
	top: 2px;
	left: 2px;
}
.sort.asc:after {
	content: "\e253";
}
.sort.desc:after {
	content: "\e252";
}
.clickable {
	cursor: pointer;
}

/* Checkbox */
label {
	cursor: pointer;
}
label input[type=checkbox] {
	position: relative;
	top: 3px;
}

/* Alignment */
.text-left {
	text-align: left;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}

/* Table */
.tablesorter td,
.table-sorter td {
	border: solid #ddd;
	border-width: 0 1px 1px 0px;
}
.tablesorter tr:nth-child(odd),
.table-sorter tr:nth-child(odd) {
	/*background-color: #fff;*/
}
.tablesorter tr:nth-child(even),
.table-sorter tr:nth-child(even) {
	background-color: #f2f2f2;
}
table tfoot {
	font-weight: bold;
}

/* Table 2 */
.table-sorter {width:100%; margin:-5px 0 0 0;}
.table-sorter .tdEnd {border-bottom:none;}
.table-sorter thead tr {height:34px; background:url(images/table_sorter_header.png) repeat-x;}
.table-sorter tbody tr:hover {cursor:default; background:#dcf9ff;}
.table-sorter thead td {font-weight:bold;}
.table-sorter td {margin:0; padding:8px 12px; border-bottom:1px dotted #ccc;}
.table-sorter input[type=image] {margin-right:10px;}

/* Color */
.red {color: red;}
.black {color: black;}

/* Font size */
.font-larger {
	font-size: larger;
}
/* input 自動出現關鍵字 */
.choose-screening-input{
	position: relative;
}
.auto-screening{
	position: absolute;
	z-index: 9;
	overflow: hidden;
	border: 1px solid #cccccc;
	border-bottom: 0;
	border-top: 0;
}
.auto-screening-prompt{
	width: 200px;
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #cccccc;
	background: #ffffff;
	padding: 0 10px;
}
.auto-screening-prompt:hover{
	background: #cccccc;
}